Repository zeldaret/mm, pull requests merged in 2021-10, with the labels that each got.

#298 resetglobalintmask OK
  src/libultra/os/resetglobalintmask.c
Labels: boot

#305 Match last function in z_prenmi, add DISPS macros to ArmsHook
  src/code/z_prenmi.c
  src/overlays/actors/ovl_Arms_Hook/z_arms_hook.c
Labels: code, Clean up

#299 setglobalintmask OK
  src/libultra/os/setglobalintmask.c
Labels: boot

#274 Decompile graph.c
  include/functions.h
  include/macros.h
  include/os.h
  include/ultra64/sptask.h
  include/ultra64/vi.h
  include/variables.h
  include/z64.h
  spec
  src/boot_O2_g3/CIC6105.c
  src/boot_O2_g3/fault.c
  src/code/code_80174A40.c
  src/code/code_80182CE0.c
  src/code/game.c
  src/code/graph.c
  src/code/graphalloc.c
  src/code/sched.c
  src/code/sys_cmpdma.c
  src/code/sys_matrix.c
  src/code/sys_ucode.c
  src/code/title_setup.c
  src/code/z_actor.c
  src/code/z_effect_soft_sprite_old_init.c
  src/code/z_prenmi.c
  src/code/z_rcp.c
  src/code/z_room.c
  src/code/z_scene.c
  src/code/z_skelanime.c
  src/libultra/gu/visetevent.c
  src/libultra/io/sptask.c
  src/libultra/io/vi.c
  src/libultra/io/vigetnextframebuf.c
  src/libultra/io/visetmode.c
  src/libultra/io/visetspecial.c
  src/libultra/io/viswapbuf.c
  src/overlays/actors/ovl_Arrow_Fire/z_arrow_fire.c
  src/overlays/actors/ovl_Arrow_Ice/z_arrow_ice.c
  src/overlays/actors/ovl_Arrow_Light/z_arrow_light.c
  src/overlays/actors/ovl_En_Dnk/z_en_dnk.c
  src/overlays/actors/ovl_En_Fish2/z_en_fish2.c
  src/overlays/actors/ovl_En_Fish2/z_en_fish2.h
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/gamestates/ovl_file_choose/z_file_choose_80807940.c
  src/overlays/gamestates/ovl_file_choose/z_file_choose_NES.c
  src/overlays/gamestates/ovl_file_choose/z_file_nameset_NES.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
  undefined_syms.txt
Labels: code

#359 En_Elforg (Stray Fairy) OK and mostly documented
  include/functions.h
  include/variables.h
  spec
  src/boot_O2_g3/CIC6105.c
  src/boot_O2_g3/boot_main.c
  src/overlays/actors/ovl_En_Elfbub/z_en_elfbub.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.h
  tools/disasm/functions.txt
Labels: Overlay

#345 En_Po_Sisters
  spec
  src/overlays/actors/ovl_En_Po_Sisters/z_en_po_sisters.c
  src/overlays/actors/ovl_En_Po_Sisters/z_en_po_sisters.h
  tools/actorfixer.py
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay
