Repository zeldaret/mm, pull requests merged in 2021-08, with the labels that each got.

#232 En_Dekunuts
  spec
  src/overlays/actors/ovl_En_Dekunuts/z_en_dekunuts.c
  src/overlays/actors/ovl_En_Dekunuts/z_en_dekunuts.h
Labels: Overlay

#238 En_Dno
  include/functions.h
  include/macros.h
  include/variables.h
  include/z64actor.h
  include/z64item.h
  spec
  src/overlays/actors/ovl_Bg_Crace_Movebg/z_bg_crace_movebg.h
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
  src/overlays/actors/ovl_En_Dno/z_en_dno.h
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  undefined_syms.txt
Labels: Overlay

#228 Daiku2
  include/functions.h
  spec
  src/code/z_actor.c
  src/overlays/actors/ovl_En_Bom/z_en_bom.h
  src/overlays/actors/ovl_En_Daiku2/z_en_daiku2.c
  src/overlays/actors/ovl_En_Daiku2/z_en_daiku2.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay

#239 En_Dnp
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Dnp/z_en_dnp.c
  src/overlays/actors/ovl_En_Dnp/z_en_dnp.h
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay

#233 En_Dg
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Dg/z_en_dg.c
  src/overlays/actors/ovl_En_Dg/z_en_dg.h
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  undefined_syms.txt
Labels: Overlay

#265 Update makefile so compression only starts if checksum matches
  Makefile
Labels: Tooling

#252 Matched last function in Ovl_en_encount2
  include/math.h
  include/variables.h
  spec
  src/overlays/actors/ovl_En_Encount2/z_en_encount2.c
Labels: Overlay

#255 z_face_reaction OK
  include/functions.h
  spec
  src/code/z_face_reaction.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code

#257 sqrtf.c OK
  src/libultra/gu/sqrtf.c
Labels: boot

#253 Color_RGBAu32
  include/color.h
  include/functions.h
  include/prevent_bss_reordering.h
  src/code/PreRender.c
  src/code/sys_initial_check.c
  src/code/z_scene_proc.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.h
  src/overlays/actors/ovl_En_GirlA/z_en_girla.h
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.h
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.h
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.h
  tools/calc_bss.sh
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: Clean up

#247 z_lifemeter
  include/functions.h
  include/variables.h
  include/z64.h
  spec
  src/code/z_lifemeter.c
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: code

#259 Sort actor functions and extern'd symbols
  tools/sort_actor_funcs.py
Labels: Tooling

#261 `system_malloc` OK
  include/functions.h
  include/variables.h
  spec
  src/boot_O2/boot_800862E0.c
  src/boot_O2/loadfragment2.c
  src/boot_O2/system_malloc.c
  src/code/game.c
  src/overlays/actors/ovl_Eff_Dust/z_eff_dust.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/boot_functions.csv
Labels: boot

#266 Migrated a lot of `boot` bss, matched a few NON_MATCHINGs in `boot`
  include/functions.h
  include/os.h
  include/ultra64.h
  include/ultra64/rcp.h
  include/ultra64/vi.h
  include/variables.h
  include/viint.h
  include/z64.h
  spec
  src/boot_O2/rand.c
  src/boot_O2_g3/CIC6105.c
  src/boot_O2_g3/boot_main.c
  src/boot_O2_g3/build.c
  src/boot_O2_g3/idle.c
  src/boot_O2_g3/idle_extra_bss.c
  src/boot_O2_g3/z_std_dma.c
  src/code/z_lifemeter.c
  src/libultra/gu/sins.c
  src/libultra/gu/sqrtf.c
  src/libultra/io/controller.c
  src/libultra/io/piacs.c
  src/libultra/io/pimgr.c
  src/libultra/io/siacs.c
  src/libultra/io/sprawdma.c
  src/libultra/io/sptask.c
  src/libultra/os/initialize.c
  src/libultra/os/seteventmesg.c
  src/libultra/os/threadsave.c
  src/overlays/actors/ovl_En_Daiku/z_en_daiku.c
  src/overlays/actors/ovl_En_Dnb/z_en_dnb.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  tools/disasm/files.txt
  tools/disasm/variables.txt
Labels: boot, Clean up

#267 z_construct OK
  include/functions.h
  src/code/z_construct.c
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: code

#249 Obj_Kibako2 OK
  spec
  src/overlays/actors/ovl_Obj_Kibako2/z_obj_kibako2.c
  src/overlays/actors/ovl_Obj_Kibako2/z_obj_kibako2.h
  tools/disasm/functions.txt
Labels: Overlay

#273 Fix functions.h
  include/functions.h
Labels: Clean up

#237 En_Dnk
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Dnk/z_en_dnk.c
  src/overlays/actors/ovl_En_Dnk/z_en_dnk.h
  undefined_syms.txt
Labels: Overlay

#276 Port sfxconvert
  tools/sfxconvert.py
Labels: Tooling

#278 Update asm-processor and diff.py
  tools/asm-differ/.gitignore
  tools/asm-differ/.gitrepo
  tools/asm-differ/LICENSE
  tools/asm-differ/README.md
  tools/asm-differ/diff-stylesheet.css
  tools/asm-differ/diff.py
  tools/asm-differ/diff_settings.py
  tools/asm-differ/mypy.ini
  tools/asm-differ/screenshot.png
  tools/asm-processor/asm_processor.py
Labels: Tooling
