Repository zeldaret/mm, pull requests merged in 2021-09, with the labels that each got.

#240 En_Dnq
  include/functions.h
  include/z64item.h
  spec
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.c
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.h
  undefined_syms.txt
Labels: Overlay

#250 EnBigpo (Big Poh)
  include/functions.h
  include/macros.h
  include/z64actor.h
  spec
  src/code/code_800F0390.c
  src/code/z_actor.c
  src/code/z_effect_soft_sprite_old_init.c
  src/code/z_en_item00.c
  src/code/z_play.c
  src/overlays/actors/ovl_Bg_Icicle/z_bg_icicle.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.h
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  src/overlays/actors/ovl_En_Dekunuts/z_en_dekunuts.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Firefly/z_en_firefly.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Minifrog/z_en_minifrog.c
  src/overlays/actors/ovl_En_Nutsball/z_en_nutsball.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Sb/z_en_sb.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Tubo_Trap/z_en_tubo_trap.c
  src/overlays/actors/ovl_Obj_Kibako/z_obj_kibako.c
  src/overlays/actors/ovl_Obj_Kibako2/z_obj_kibako2.c
  tools/actorfixer.py
  tools/disasm/functions.txt
Labels: Overlay

#242 En_Dodongo
  include/functions.h
  include/variables.h
  include/z64effect.h
  spec
  src/overlays/actors/ovl_En_Bombf/z_en_bombf.h
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dodongo/z_en_dodongo.c
  src/overlays/actors/ovl_En_Dodongo/z_en_dodongo.h
Labels: Overlay

#270 En_Holl (Loading Halls/Holes) OK and mostly documented.
  assets/xml/overlays/ovl_En_Holl.xml
  include/variables.h
  include/z64.h
  spec
  src/code/z_actor.c
  src/code/z_collision_check.c
  src/code/z_quake.c
  src/overlays/actors/ovl_En_Holl/z_en_holl.c
  src/overlays/actors/ovl_En_Holl/z_en_holl.h
  tools/disasm/disasm.py
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay

#244 En_Kgy
  include/functions.h
  include/macros.h
  include/z64.h
  spec
  src/code/code_8012EC80.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Kgy/z_en_kgy.c
  src/overlays/actors/ovl_En_Kgy/z_en_kgy.h
  undefined_syms.txt
Labels: Overlay

#280 Obj_KIbako cleanup
  src/overlays/actors/ovl_Obj_Kibako/z_obj_kibako.c
  src/overlays/actors/ovl_Obj_Kibako/z_obj_kibako.h
  tools/disasm/functions.txt
Labels: Overlay, Clean up

#241 En_Dns
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Dai/z_en_dai.c
  src/overlays/actors/ovl_En_Dnp/z_en_dnp.c
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.c
  src/overlays/actors/ovl_En_Dns/z_en_dns.c
  src/overlays/actors/ovl_En_Dns/z_en_dns.h
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay

#315 Fix some misformatted files in current master
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.c
  src/overlays/actors/ovl_En_Holl/z_en_holl.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
Labels: Clean up

#262 En_Skb
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Encount4/z_en_encount4.h
  src/overlays/actors/ovl_En_Skb/z_en_skb.c
  src/overlays/actors/ovl_En_Skb/z_en_skb.h
  undefined_syms.txt
Labels: Overlay

#264 En_Sellnuts
  spec
  src/overlays/actors/ovl_En_Sellnuts/z_en_sellnuts.c
  src/overlays/actors/ovl_En_Sellnuts/z_en_sellnuts.h
  undefined_syms.txt
Labels: Overlay

#268 En_Railgibud
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Railgibud/z_en_railgibud.c
  src/overlays/actors/ovl_En_Railgibud/z_en_railgibud.h
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay

#258 Bg_Hakugin_Post
  include/functions.h
  spec
  src/overlays/actors/ovl_Bg_Hakugin_Post/z_bg_hakugin_post.c
  src/overlays/actors/ovl_Bg_Hakugin_Post/z_bg_hakugin_post.h
  undefined_syms.txt
Labels: Overlay

#296 position OK
  spec
  src/libultra/gu/position.c
Labels: boot

#282 ovl_obj_lightblock OK
  spec
  src/overlays/actors/ovl_Obj_Lightblock/z_obj_lightblock.c
  src/overlays/actors/ovl_Obj_Lightblock/z_obj_lightblock.h
Labels: Overlay

#277 `ovl_daytelop` OK
  assets/xml/static/daytelop_static.xml
  assets/xml/static/esp_daytelop_static.xml
  assets/xml/static/fra_daytelop_static.xml
  assets/xml/static/ger_daytelop_static.xml
  assets/xml/static/icon_item_gameover_static.xml
  include/functions.h
  include/macros.h
  include/segment_symbols.h
  include/variables.h
  include/z64animation.h
  include/z64save.h
  spec
  src/boot_O2_g3/idle.c
  src/boot_O2_g3/z_std_dma.c
  src/code/z_actor_dlftbls.c
  src/code/z_kanfont.c
  src/code/z_scene.c
  src/code/z_scene_table.c
  src/code/z_vr_box.c
  src/overlays/actors/ovl_En_Dns/z_en_dns.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  src/overlays/actors/ovl_En_Ma_Yto/z_en_ma_yto.c
  src/overlays/gamestates/ovl_daytelop/z_daytelop.c
  src/overlays/gamestates/ovl_daytelop/z_daytelop.h
  tools/disasm/variables.txt
  tools/permuter_settings.toml
Labels: Overlay

#294 printutils OK, add `va_end` to variadic functions
  include/functions.h
  src/boot_O2/gfxprint.c
  src/boot_O2/printutils.c
  src/boot_O2_g3/fault_drawer.c
  src/libultra/rmon/sprintf.c
Labels: boot, Clean up

#313 Remove `.mdebug` sections by default
  Makefile
  diff_settings.py
Labels: Tooling

#306 Obj_Syokudai (Torch) OK and mostly documented
  include/functions.h
  include/variables.h
  spec
  src/overlays/actors/ovl_Bg_Lotus/z_bg_lotus.c
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.h
  src/overlays/actors/ovl_En_Firefly/z_en_firefly.c
  src/overlays/actors/ovl_Obj_Syokudai/z_obj_syokudai.c
  src/overlays/actors/ovl_Obj_Syokudai/z_obj_syokudai.h
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay

#323 Add `-I.`
  Makefile
Labels: Clean up

#269 En_Syateki_Man
  include/functions.h
  include/z64.h
  include/z64item.h
  spec
  src/overlays/actors/ovl_En_GirlA/z_en_girla.c
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.h
  tools/disasm/functions.txt
Labels: Overlay

#289 sys_math, cosf OK and documented, sinf, coss, sins documented
  include/convert.h
  include/functions.h
  include/macros.h
  include/math.h
  include/variables.h
  spec
  src/code/sys_math.c
  src/libultra/gu/cosf.c
  src/libultra/gu/coss.c
  src/libultra/gu/sinf.c
  src/libultra/gu/sins.c
  tools/disasm/files.txt
Labels: code, boot

#328 Add ctags "tags" files to .gitignore for vim users
  .gitignore
Labels: Clean up

#288 boot_0x80086760 OK and documented
  include/fixed_point.h
  spec
  src/boot_O2/boot_80086760.c
  tools/disasm/files.txt
  tools/disasm/variables.txt
Labels: boot

#321 obj_aqua OK
  include/functions.h
  spec
  src/overlays/actors/ovl_Obj_Aqua/z_obj_aqua.c
  src/overlays/actors/ovl_Obj_Aqua/z_obj_aqua.h
Labels: Overlay

#316 En_Rd
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Rd/z_en_rd.c
  src/overlays/actors/ovl_En_Rd/z_en_rd.h
  tools/disasm/functions.txt
Labels: Overlay

#326 Obj_Etcetera (Deku Flower) OK and somewhat documented
  include/functions.h
  include/variables.h
  spec
  src/overlays/actors/ovl_Obj_Etcetera/z_obj_etcetera.c
  src/overlays/actors/ovl_Obj_Etcetera/z_obj_etcetera.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay

#320 En_Zot
  include/functions.h
  include/macros.h
  spec
  src/overlays/actors/ovl_En_Zot/z_en_zot.c
  src/overlays/actors/ovl_En_Zot/z_en_zot.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay

#290 Thiefbird
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.c
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay

#333 ovl_En_Ending_Hero6 OK
  spec
  src/overlays/actors/ovl_En_Ending_Hero6/z_en_ending_hero6.c
  src/overlays/actors/ovl_En_Ending_Hero6/z_en_ending_hero6.h
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay

#300 `ovl_opening` OK
  include/functions.h
  include/variables.h
  spec
  src/overlays/gamestates/ovl_opening/z_opening.c
  src/overlays/gamestates/ovl_opening/z_opening.h
Labels: Overlay

#310 `ovl_select`: ZELDA MAP SELECT matched and documented
  include/alloca.h
  include/bgm.h
  include/functions.h
  include/macros.h
  include/variables.h
  include/z64.h
  spec
  src/code/code_801A7B10.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.c
  src/overlays/gamestates/ovl_select/z_select.c
  src/overlays/gamestates/ovl_select/z_select.h
  tools/actorfixer.py
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: Overlay

#319 `ovl_En_Test4` with 1 non-matching
  include/functions.h
  include/macros.h
  include/variables.h
  include/z64item.h
  include/z64light.h
  include/z64player.h
  spec
  src/overlays/actors/ovl_En_Horse/z_en_horse.h
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.h
  tools/disasm/variables.txt
  tools/permuter_settings.toml
  tools/sfxconvert.py
Labels: Overlay

#329 Main OK
  include/functions.h
  include/regs.h
  include/variables.h
  include/z64.h
  src/code/main.c
  src/code/z_lifemeter.c
Labels: code

#308 Improve check new warnings
  Jenkinsfile
  Makefile
  src/overlays/actors/ovl_En_Dai/z_en_dai.c
  tools/warnings_count/check_new_warnings.sh
  tools/warnings_count/compare_warnings.py
  tools/warnings_count/compare_warnings.sh
Labels: Tooling

#301 sethwinterrupt OK
  include/functions.h
  src/libultra/os/sethwinterrupt.c
Labels: boot

#331 Fix some dummy label matches
  src/code/game.c
  src/overlays/actors/ovl_Door_Ana/z_door_ana.c
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Minislime/z_en_minislime.c
  src/overlays/actors/ovl_En_Railgibud/z_en_railgibud.c
  src/overlays/actors/ovl_Obj_Raillift/z_obj_raillift.c
Labels: Clean up

#303 ShrinkWindow OK
  include/functions.h
  spec
  src/code/z_shrink_window.c
  src/overlays/gamestates/ovl_daytelop/z_daytelop.c
  src/overlays/gamestates/ovl_opening/z_opening.c
  src/overlays/gamestates/ovl_select/z_select.c
  src/overlays/gamestates/ovl_title/z_title.c
  tools/actorfixer.py
  tools/disasm/functions.txt
Labels: Overlay

#334 `z_nmi_buff` OK, `code_8010C1B0` split and OK
  include/variables.h
  include/z64.h
  spec
  src/code/code_8010C1B0.c
  src/code/main.c
  src/code/z_nmi_buff.c
  tools/disasm/files.txt
  tools/disasm/variables.txt
Labels: code
