Repository zeldaret/mm, pull requests merged in 2021-12, with the labels that each got.

#364 z_obj_mure.c
  spec
  src/overlays/actors/ovl_Obj_Mure/z_obj_mure.c
  src/overlays/actors/ovl_Obj_Mure/z_obj_mure.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay

#493 En_Cow 🐮
  include/functions.h
  include/variables.h
  include/z64item.h
  spec
  src/overlays/actors/ovl_En_Cow/z_en_cow.c
  src/overlays/actors/ovl_En_Cow/z_en_cow.h
  undefined_syms.txt
Labels: Overlay

#457 Elf_Message OK
  include/functions.h
  src/code/z_elf_message.c
  tools/disasm/functions.txt
Labels: code, Last-review

#478 Disassembly performance improvements (speed, RAM)
  tools/disasm/disasm.py
  tools/disasm/variables.txt
Labels: Tooling, Last-review, merge-ready

#434 Fault and Fault_Drawer (3 MATCHING and 1 NON_MATCHING)
  include/functions.h
  include/z64.h
  spec
  src/boot_O2_g3/fault.c
  src/boot_O2_g3/fault_drawer.c
  src/libultra/rmon/xprintf.c
Labels: boot, Last-review, merge-ready

#365 En_Gm
  spec
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.h
  undefined_syms.txt
Labels: Overlay, Last-review, merge-ready

#350 Dm_Stk
  include/functions.h
  include/variables.h
  spec
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Last-review, merge-ready

#482 EnHitTag OK
  spec
  src/overlays/actors/ovl_En_Hit_Tag/z_en_hit_tag.c
  src/overlays/actors/ovl_En_Hit_Tag/z_en_hit_tag.h
  tools/disasm/functions.txt
Labels: Overlay, Last-review, merge-ready

#494 EnFr
  spec
  src/overlays/actors/ovl_En_Fr/z_en_fr.c
  src/overlays/actors/ovl_En_Fr/z_en_fr.h
Labels: Overlay, Last-review, merge-ready

#480 En_Stream (unused water vortex from OoT) OK
  spec
  src/overlays/actors/ovl_En_Stream/z_en_stream.c
  src/overlays/actors/ovl_En_Stream/z_en_stream.h
  tools/disasm/functions.txt
Labels: Overlay, Last-review, merge-ready

#472 Importing Audio Sfx Params
  include/variables.h
  spec
  src/code/audio/audio_sfx_params.c
  tools/disasm/variables.txt
Labels: code, Audio, Last-review, merge-ready

#458 En_Rr
  spec
  src/overlays/actors/ovl_En_Rr/z_en_rr.c
  src/overlays/actors/ovl_En_Rr/z_en_rr.h
Labels: Overlay, Last-review, merge-ready

#495 Match func_809DAB78 from z_boss_02 (Twinmold): 2 remaining
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
Labels: Overlay, merge-ready

#481 z_vr_box_draw OK
  include/functions.h
  include/variables.h
  include/z64.h
  spec
  src/code/z_vr_box.c
  src/code/z_vr_box_draw.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: code, Last-review

#344 Adding tools.md
  .gitignore
  docs/images/En_Firefly.png
  docs/images/diff.png
  docs/tools.md
Labels: documentation, merge-ready

#362 Tutorial
  .gitignore
  docs/tutorial/advanced_control_flow.md
  docs/tutorial/beginning_decomp.md
  docs/tutorial/contents.md
  docs/tutorial/data.md
  docs/tutorial/diff_and_permuter.md
  docs/tutorial/disassembly_quirks.md
  docs/tutorial/documenting.md
  docs/tutorial/draw_functions.md
  docs/tutorial/images/EnRecepgirl_Init_diff_matching.png
  docs/tutorial/images/EnRecepgirl_stack_diff.png
  docs/tutorial/images/En_Recepgirl.gv.png
  docs/tutorial/images/fresh_actor_data.png
  docs/tutorial/images/func_80C100DC_diff1.png
  docs/tutorial/images/func_80C100DC_diff2.png
  docs/tutorial/images/func_80C100DC_diff3.png
  docs/tutorial/images/func_80C102D4_diff1.png
  docs/tutorial/images/func_80C102D4_diff2.png
  docs/tutorial/images/z64utils_main.png
  docs/tutorial/images/z64utils_object_analyzed.png
  docs/tutorial/images/z64utils_object_analyzer.png
  docs/tutorial/images/z64utils_skeleton_error.png
  docs/tutorial/images/z64utils_skeleton_head.png
  docs/tutorial/introduction.md
  docs/tutorial/merging.md
  docs/tutorial/object_decomp.md
  docs/tutorial/other_functions.md
  docs/tutorial/types_structs_padding.md
  docs/tutorial/vscode.md
  docs/useful_conversions.md
  include/z64item.h
  include/z64object.h
  include/z64player.h
  spec
  src/code/code_8012EC80.c
  src/code/z_face_reaction.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Daiku/z_en_daiku.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Ma_Yto/z_en_ma_yto.c
  src/overlays/actors/ovl_En_Ms/z_en_ms.c
  src/overlays/actors/ovl_En_Ms/z_en_ms.h
  src/overlays/actors/ovl_En_Muto/z_en_muto.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Recepgirl/z_en_recepgirl.c
  src/overlays/actors/ovl_En_Recepgirl/z_en_recepgirl.h
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_Obj_Tree/z_obj_tree.c
  src/overlays/actors/ovl_Obj_Tree/z_obj_tree.h
  tools/actorfixer.py
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
  undefined_syms.txt
Labels: documentation, Overlay, merge-ready

#510 Update progress script with new assets categories and update csv output format
  Jenkinsfile
  README.md
  assets/xml/interface/icon_item_gameover_static.xml
  assets/xml/misc/daytelop_static.xml
  assets/xml/misc/esp_daytelop_static.xml
  assets/xml/misc/fra_daytelop_static.xml
  assets/xml/misc/ger_daytelop_static.xml
  assets/xml/misc/nintendo_rogo_static.xml
  spec
  src/overlays/gamestates/ovl_daytelop/z_daytelop.c
  src/overlays/gamestates/ovl_title/z_title.c
  tools/filelists/mm.us.rev1/all.csv
  tools/filelists/mm.us.rev1/archives.csv
  tools/filelists/mm.us.rev1/asm.csv
  tools/filelists/mm.us.rev1/deleted.csv
  tools/filelists/mm.us.rev1/interface.csv
  tools/filelists/mm.us.rev1/misc.csv
  tools/filelists/mm.us.rev1/objects.csv
  tools/filelists/mm.us.rev1/scenes.csv
  tools/filelists/mm.us.rev1/segments.csv
  tools/filelists/mm.us.rev1/text.csv
  tools/filelists/mm.us.rev1/texture.csv
  tools/progress.py
Labels: Tooling, merge-ready

#518 Fix bug in progress.py
  tools/filelists/mm.us.rev1/objects.csv
  tools/filelists/mm.us.rev1/segments.csv
  tools/progress.py
Labels: Tooling, merge-ready

#515 Fix readme badge
  README.md
Labels: Tooling, merge-ready

#516 Update z64compress
  Makefile
  tools/z64compress/.gitrepo
  tools/z64compress/Makefile
  tools/z64compress_wrapper.py
Labels: Tooling, merge-ready

#508 EnInvisibleRuppe OK
  spec
  src/overlays/actors/ovl_En_Invisible_Ruppe/z_en_invisible_ruppe.c
  src/overlays/actors/ovl_En_Invisible_Ruppe/z_en_invisible_ruppe.h
Labels: Overlay, merge-ready

#500 ovl_Obj_Yado ok
  spec
  src/overlays/actors/ovl_Obj_Yado/z_obj_yado.c
  src/overlays/actors/ovl_Obj_Yado/z_obj_yado.h
Labels: Overlay, merge-ready

#487 z_bg_goron_oyu OK
  spec
  src/overlays/actors/ovl_Bg_Goron_Oyu/z_bg_goron_oyu.c
  src/overlays/actors/ovl_Bg_Goron_Oyu/z_bg_goron_oyu.h
Labels: Overlay, merge-ready

#483 ovl_En_Test5 (Spring Water Modifier) OK with attempted documentation
  spec
  src/overlays/actors/ovl_En_Test5/z_en_test5.c
  src/overlays/actors/ovl_En_Test5/z_en_test5.h
  tools/disasm/functions.txt
Labels: Overlay, merge-ready

#376 En_Tanron3 (Gyorg's fishes) OK and somewhat documented
  spec
  src/overlays/actors/ovl_Boss_03/z_boss_03.h
  src/overlays/actors/ovl_En_Tanron3/z_en_tanron3.c
  src/overlays/actors/ovl_En_Tanron3/z_en_tanron3.h
  tools/disasm/functions.txt
Labels: Overlay, merge-ready

#469 Effect_Ss_Kakera
  spec
  src/overlays/effects/ovl_Effect_Ss_Kakera/z_eff_ss_kakera.c
  src/overlays/effects/ovl_Effect_Ss_Kakera/z_eff_ss_kakera.h
Labels: Overlay, merge-ready

#455 pause (Frame Advance) OK
  include/functions.h
  src/code/z_pause.c
  tools/disasm/functions.txt
Labels: code, merge-ready

#471 Importing Audio Init Params
  include/variables.h
  spec
  src/code/audio/audio_init_params.c
  tools/disasm/variables.txt
Labels: code, Audio, merge-ready

#432 sys_ucode OK
  include/functions.h
  include/ultra64/sptask.h
  include/variables.h
  src/code/sys_ucode.c
  src/libultra/io/sptask.c
  tools/disasm/files.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: code, merge-ready

#373 Code_800f07c0 OK with some documentation
  include/functions.h
  include/variables.h
  include/z64.h
  spec
  src/code/code_800F07C0.c
  src/code/z_en_hy.c
  src/overlays/actors/ovl_En_Door/z_en_door.h
  src/overlays/actors/ovl_En_In/z_en_in.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: code, merge-ready

#463 Fix actor struct offsets
  src/overlays/actors/ovl_Bg_Dy_Yoseizo/z_bg_dy_yoseizo.h
  src/overlays/actors/ovl_Bg_Fire_Wall/z_bg_fire_wall.h
  src/overlays/actors/ovl_Bg_Spout_Fire/z_bg_spout_fire.h
  src/overlays/actors/ovl_Boss_02/z_boss_02.h
  src/overlays/actors/ovl_Boss_07/z_boss_07.h
  src/overlays/actors/ovl_Boss_Hakugin/z_boss_hakugin.h
  src/overlays/actors/ovl_Dm_Hina/z_dm_hina.h
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.h
  src/overlays/actors/ovl_En_Az/z_en_az.h
  src/overlays/actors/ovl_En_Bat/z_en_bat.h
  src/overlays/actors/ovl_En_Bba_01/z_en_bba_01.h
  src/overlays/actors/ovl_En_Bom_Chu/z_en_bom_chu.h
  src/overlays/actors/ovl_En_Bombal/z_en_bombal.h
  src/overlays/actors/ovl_En_Bubble/z_en_bubble.h
  src/overlays/actors/ovl_En_Cne_01/z_en_cne_01.h
  src/overlays/actors/ovl_En_Col_Man/z_en_col_man.h
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.h
  src/overlays/actors/ovl_En_Dnh/z_en_dnh.h
  src/overlays/actors/ovl_En_Encount1/z_en_encount1.h
  src/overlays/actors/ovl_En_Encount3/z_en_encount3.h
  src/overlays/actors/ovl_En_Estone/z_en_estone.h
  src/overlays/actors/ovl_En_Firefly/z_en_firefly.h
  src/overlays/actors/ovl_En_Honotrap/z_en_honotrap.h
  src/overlays/actors/ovl_En_Invadepoh_Demo/z_en_invadepoh_demo.h
  src/overlays/actors/ovl_En_Kujiya/z_en_kujiya.h
  src/overlays/actors/ovl_En_Kusa/z_en_kusa.h
  src/overlays/actors/ovl_En_Maruta/z_en_maruta.h
  src/overlays/actors/ovl_En_Minideath/z_en_minideath.h
  src/overlays/actors/ovl_En_Mkk/z_en_mkk.h
  src/overlays/actors/ovl_En_Mt_tag/z_en_mt_tag.h
  src/overlays/actors/ovl_En_Okarina_Tag/z_en_okarina_tag.h
  src/overlays/actors/ovl_En_Paper/z_en_paper.h
  src/overlays/actors/ovl_En_Pm/z_en_pm.h
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.h
  src/overlays/actors/ovl_En_Ru/z_en_ru.h
  src/overlays/actors/ovl_En_Shn/z_en_shn.h
  src/overlays/actors/ovl_En_Si/z_en_si.h
  src/overlays/actors/ovl_En_Slime/z_en_slime.h
  src/overlays/actors/ovl_En_Sw/z_en_sw.h
  src/overlays/actors/ovl_En_Tanron2/z_en_tanron2.h
  src/overlays/actors/ovl_En_Test6/z_en_test6.h
  src/overlays/actors/ovl_En_Tg/z_en_tg.h
  src/overlays/actors/ovl_En_Trt2/z_en_trt2.h
  src/overlays/actors/ovl_En_Tru_Mt/z_en_tru_mt.h
  src/overlays/actors/ovl_En_Viewer/z_en_viewer.h
  src/overlays/actors/ovl_En_Wiz_Fire/z_en_wiz_fire.h
  src/overlays/actors/ovl_En_Zo/z_en_zo.h
  src/overlays/actors/ovl_Obj_Bell/z_obj_bell.h
  src/overlays/actors/ovl_Obj_Bigicicle/z_obj_bigicicle.h
  src/overlays/actors/ovl_Obj_Chan/z_obj_chan.h
  src/overlays/actors/ovl_Obj_Comb/z_obj_comb.h
  src/overlays/actors/ovl_Obj_Demo/z_obj_demo.h
  src/overlays/actors/ovl_Obj_Hariko/z_obj_hariko.h
  src/overlays/actors/ovl_Obj_Mure2/z_obj_mure2.h
  src/overlays/actors/ovl_Obj_Mure3/z_obj_mure3.h
  src/overlays/actors/ovl_Obj_Roomtimer/z_obj_roomtimer.h
  src/overlays/actors/ovl_Obj_Swprize/z_obj_swprize.h
  src/overlays/actors/ovl_Obj_Takaraya_Wall/z_obj_takaraya_wall.h
  src/overlays/actors/ovl_Obj_Tsubo/z_obj_tsubo.h
  src/overlays/actors/ovl_Obj_Wturn/z_obj_wturn.h
Labels: Clean up, merge-ready

#499 Name coordinate transformation matrix similar to OoT
  include/functions.h
  include/z64.h
  src/code/z_debug_display.c
  src/code/z_effect_soft_sprite_old_init.c
  src/code/z_lights.c
  src/code/z_play.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Demo_Kankyo/z_demo_kankyo.c
  src/overlays/actors/ovl_Eff_Dust/z_eff_dust.c
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  src/overlays/actors/ovl_En_Dai/z_en_dai.c
  src/overlays/actors/ovl_En_Dnb/z_en_dnb.c
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
  src/overlays/actors/ovl_En_Elfbub/z_en_elfbub.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.c
  src/overlays/actors/ovl_En_Encount2/z_en_encount2.c
  src/overlays/actors/ovl_En_Fg/z_en_fg.c
  src/overlays/actors/ovl_En_Fish2/z_en_fish2.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Minifrog/z_en_minifrog.c
  src/overlays/actors/ovl_En_Niw/z_en_niw.c
  src/overlays/actors/ovl_En_Nutsball/z_en_nutsball.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.c
  src/overlays/actors/ovl_Obj_Moon_Stone/z_obj_moon_stone.c
  src/overlays/actors/ovl_Obj_Warpstone/z_obj_warpstone.c
  tools/actorfixer.py
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: documentation, merge-ready

#431 En_Gs
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_Gs/z_en_gs.h
Labels: Overlay, Merge-ready

#325 En_Tru (1 non-matching)
  assets/xml/objects/object_tru.xml
  assets/xml/overlays/ovl_En_Tru.xml
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#427 viswapcontext OK
  src/libultra/io/viswapcontext.c
Labels: boot, Last-review

#522 Three Makefile tweaks
  Makefile
Labels: Tooling, Merge-ready

#347 Door_Warp1 (2 non-matching)
  assets/xml/objects/object_warp1.xml
  include/functions.h
  include/variables.h
  spec
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Dm_Hina/z_dm_hina.h
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.h
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#349 En_Akindonuts
  assets/xml/objects/object_dnt.xml
  include/macros.h
  spec
  src/overlays/actors/ovl_En_Akindonuts/z_en_akindonuts.c
  src/overlays/actors/ovl_En_Akindonuts/z_en_akindonuts.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#367 Obj_Iceblock
  include/functions.h
  spec
  src/overlays/actors/ovl_Obj_Iceblock/z_obj_iceblock.c
  src/overlays/actors/ovl_Obj_Iceblock/z_obj_iceblock.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#371 En_Elf
  include/functions.h
  include/variables.h
  include/z64.h
  include/z64cutscene.h
  include/z64save.h
  spec
  src/code/z_game_over.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.h
  src/overlays/actors/ovl_En_Giant/z_en_giant.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#418 En_Rail_Skb
  spec
  src/overlays/actors/ovl_En_Rail_Skb/z_en_rail_skb.c
  src/overlays/actors/ovl_En_Rail_Skb/z_en_rail_skb.h
  src/overlays/actors/ovl_Obj_Hakaisi/z_obj_hakaisi.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#440 En_Aob_01
  assets/xml/objects/object_aob.xml
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.h
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#441 En_Zog
  assets/xml/objects/object_zog.xml
  spec
  src/overlays/actors/ovl_En_Zog/z_en_zog.c
  src/overlays/actors/ovl_En_Zog/z_en_zog.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#461 En_Bomjimb
  assets/xml/objects/object_cs.xml
  assets/xml/overlays/ovl_En_Bomjimb.xml
  spec
  src/overlays/actors/ovl_En_Bomjimb/z_en_bomjimb.c
  src/overlays/actors/ovl_En_Bomjimb/z_en_bomjimb.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#484 ovl_En_Talk OK
  spec
  src/overlays/actors/ovl_En_Talk/z_en_talk.c
  src/overlays/actors/ovl_En_Talk/z_en_talk.h
Labels: Overlay, Merge-ready

#485 BgInibsMovebg OK
  spec
  src/overlays/actors/ovl_Bg_Inibs_Movebg/z_bg_inibs_movebg.c
  src/overlays/actors/ovl_Bg_Inibs_Movebg/z_bg_inibs_movebg.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#528 En_Fz
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Fz/z_en_fz.c
  src/overlays/actors/ovl_En_Fz/z_en_fz.h
  src/overlays/actors/ovl_En_Wiz/z_en_wiz.h
Labels: Overlay, Merge-ready

#342 Decompile and clean up some effect files
  assets/xml/code/eff_shield_particle.xml
  include/functions.h
  include/macros.h
  include/variables.h
  include/z64effect.h
  include/z64math.h
  spec
  src/code/z_collision_check.c
  src/code/z_eff_blure.c
  src/code/z_eff_shield_particle.c
  src/code/z_eff_spark.c
  src/code/z_eff_ss_dead.c
  src/code/z_eff_tire_mark.c
  src/code/z_effect.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dodongo/z_en_dodongo.c
  src/overlays/actors/ovl_En_Goroiwa/z_en_goroiwa.c
  src/overlays/actors/ovl_En_Kgy/z_en_kgy.c
  tools/actorfixer.py
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Clean up, Merge-ready

#524 Name textures in object_mag
  assets/xml/objects/object_mag.xml
Labels: Asset, Merge-ready

#525 [Object] Bigpo object documentation (+ some gameplay_keep)
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_bigpo.xml
  include/variables.h
  src/code/z_fireobj.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
  src/overlays/actors/ovl_En_Po_Sisters/z_en_po_sisters.c
  src/overlays/actors/ovl_Obj_Aqua/z_obj_aqua.c
  src/overlays/actors/ovl_Obj_Syokudai/z_obj_syokudai.c
  tools/actorfixer.py
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Asset, Merge-ready

#523 Document Object Tokei Step
  assets/xml/objects/object_tokei_step.xml
  src/overlays/actors/ovl_Obj_Tokei_Step/z_obj_tokei_step.c
  undefined_syms.txt
Labels: Asset, Merge-ready

#517 Document object_gmo
  assets/xml/objects/object_gmo.xml
  src/overlays/actors/ovl_En_Baguo/z_en_baguo.c
  undefined_syms.txt
Labels: Asset, Merge-ready

#496 Match 8 BgCheck functions (7 remaining)
  src/code/z_bgcheck.c
Labels: code, Merge-ready

#423 pfsfreeblocks OK
  src/libultra/io/pfsfreeblocks.c
Labels: boot, Merge-ready

#428 contchannelreset OK
  include/functions.h
  src/libultra/io/contchannelreset.c
Labels: boot, Merge-ready

#474 code_80194710 OK (Audio libultra_code_O2)
  include/functions.h
  spec
  src/code/audio/audio_dcache.c
  src/code/audio/code_80194710.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: code, Audio, Merge-ready

#489 z_kaleido_manager and z_kaleido_scope_call OK
  include/functions.h
  include/segment_symbols.h
  include/variables.h
  include/z64.h
  spec
  src/code/z_kaleido_manager.c
  src/code/z_kaleido_scope_call.c
  src/code/z_kaleido_setup.c
  src/overlays/actors/ovl_Player_Actor/overlay.cfg
  src/overlays/actors/ovl_Player_Actor/z_player.c
  src/overlays/actors/ovl_player_actor/overlay.cfg
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
  tools/disasm/dma_filenames.txt
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/extract_baserom.py
  tools/filelists/mm.us.rev1/all.csv
  tools/filelists/mm.us.rev1/overlay.csv
  tools/overlayhelpers/actor_symbols.py
  undefined_syms.txt
Labels: code, Merge-ready

#361 Bigslime OK and Documented
  assets/xml/objects/object_bigslime.xml
  assets/xml/overlays/ovl_En_Bigslime.xml
  include/variables.h
  spec
  src/code/z_debug_display.c
  src/code/z_eff_blure.c
  src/code/z_eff_spark.c
  src/code/z_eff_tire_mark.c
  src/code/z_effect_soft_sprite_old_init.c
  src/code/z_room.c
  src/overlays/actors/ovl_Bg_Goron_Oyu/z_bg_goron_oyu.c
  src/overlays/actors/ovl_Bg_Hakugin_Post/z_bg_hakugin_post.c
  src/overlays/actors/ovl_Bg_Kin2_Fence/z_bg_kin2_fence.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_En_Baguo/z_en_baguo.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.h
  src/overlays/actors/ovl_En_Dai/z_en_dai.c
  src/overlays/actors/ovl_En_Dekunuts/z_en_dekunuts.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dnb/z_en_dnb.c
  src/overlays/actors/ovl_En_Dnk/z_en_dnk.c
  src/overlays/actors/ovl_En_Dnp/z_en_dnp.c
  src/overlays/actors/ovl_En_Dns/z_en_dns.c
  src/overlays/actors/ovl_En_Dodongo/z_en_dodongo.c
  src/overlays/actors/ovl_En_Fish2/z_en_fish2.c
  src/overlays/actors/ovl_En_Floormas/z_en_floormas.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Minislime/z_en_minislime.c
  src/overlays/actors/ovl_En_Mushi2/z_en_mushi2.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.h
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Po_Sisters/z_en_po_sisters.c
  src/overlays/actors/ovl_En_Poh/z_en_poh.c
  src/overlays/actors/ovl_En_Railgibud/z_en_railgibud.c
  src/overlays/actors/ovl_En_Rr/z_en_rr.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Sw/z_en_sw.c
  src/overlays/actors/ovl_En_Test5/z_en_test5.c
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.c
  src/overlays/actors/ovl_En_Tite/z_en_tite.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Wf/z_en_wf.c
  src/overlays/actors/ovl_Obj_Aqua/z_obj_aqua.c
  src/overlays/actors/ovl_Obj_HsStump/z_obj_hsstump.c
  src/overlays/actors/ovl_Obj_Iceblock/z_obj_iceblock.c
  src/overlays/actors/ovl_Obj_Lightswitch/z_obj_lightswitch.c
  src/overlays/actors/ovl_Obj_Tokei_Step/z_obj_tokei_step.c
  tools/actorfixer.py
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#540 Fix actorfixer
  tools/actorfixer.py
Labels: Tooling, Last-review

#513 Building on Macs
  .gitignore
  Makefile
  README.md
  docs/BUILDING_MACOS.md
  extract_assets.py
  format.sh
  include/functions.h
  src/boot_O2/boot_80086760.c
  tools/ZAPD/.gitrepo
  tools/ZAPD/Jenkinsfile
  tools/ZAPD/README.md
  tools/ZAPD/ZAPD/Declaration.h
  tools/ZAPD/ZAPD/Globals.cpp
  tools/ZAPD/ZAPD/Globals.h
  tools/ZAPD/ZAPD/Main.cpp
  tools/ZAPD/ZAPD/OtherStructs/SkinLimbStructs.cpp
  tools/ZAPD/ZAPD/Overlays/ZOverlay.cpp
  tools/ZAPD/ZAPD/ZAnimation.cpp
  tools/ZAPD/ZAPD/ZDisplayList.cpp
  tools/ZAPD/ZAPD/ZFile.cpp
  tools/ZAPD/ZAPD/ZFile.h
  tools/ZAPD/ZAPD/ZLimb.cpp
  tools/ZAPD/ZAPD/ZRoom/Commands/SetMesh.cpp
  tools/ZAPD/ZAPD/ZRoom/Commands/SetSpecialObjects.cpp
  tools/ZAPD/ZAPD/ZRoom/ZRoom.cpp
  tools/ZAPD/ZAPD/ZSkeleton.cpp
  tools/ZAPD/ZAPD/ZVtx.cpp
  tools/ZAPD/ZAPDUtils/Utils/StringHelper.h
  tools/disasm/disasm.py
  tools/vtxdis.c
Labels: Tooling, Merge-ready

#476 En_Fall (the moon, Moon's Tear, and effects) OK and mostly documented
  assets/xml/objects/object_fall.xml
  spec
  src/overlays/actors/ovl_En_Fall/z_en_fall.c
  src/overlays/actors/ovl_En_Fall/z_en_fall.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#464 Effect_Ss_Stick
  include/variables.h
  spec
  src/overlays/effects/ovl_Effect_Ss_Stick/z_eff_ss_stick.c
  src/overlays/effects/ovl_Effect_Ss_Stick/z_eff_ss_stick.h
Labels: Overlay, Merge-ready

#436 En_Geg
  assets/xml/objects/object_oF1d_map.xml
  include/functions.h
  include/variables.h
  spec
  src/overlays/actors/ovl_En_Geg/z_en_geg.c
  src/overlays/actors/ovl_En_Geg/z_en_geg.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#442 Obj_Tokeidai (Clock Tower) OK and mostly documented
  include/functions.h
  spec
  src/overlays/actors/ovl_Obj_Tokeidai/z_obj_tokeidai.c
  src/overlays/actors/ovl_Obj_Tokeidai/z_obj_tokeidai.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#486 En_Talk_Gibud (Gibdos in the well) OK and somewhat documented
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Talk_Gibud/z_en_talk_gibud.c
  src/overlays/actors/ovl_En_Talk_Gibud/z_en_talk_gibud.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready
