Repository zeldaret/mm, pull requests merged in 2022-11, with the labels that each got.

#945 ovl_En_Kaizoku OK
  assets/xml/objects/object_ge1.xml
  assets/xml/objects/object_kz.xml
  include/z64collision_check.h
  spec
  src/overlays/actors/ovl_En_Kaizoku/z_en_kaizoku.c
  src/overlays/actors/ovl_En_Kaizoku/z_en_kaizoku.h
  src/overlays/actors/ovl_Obj_Boyo/z_obj_boyo.c
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1013 EnTest3 (Kafei)
  assets/xml/objects/object_test3.xml
  include/functions.h
  include/z64animation.h
  include/z64item.h
  include/z64schedule.h
  spec
  src/code/z_en_hy_code.c
  src/overlays/actors/ovl_En_Box/z_en_box.c
  src/overlays/actors/ovl_En_Box/z_en_box.h
  src/overlays/actors/ovl_En_Demo_heishi/z_en_demo_heishi.h
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.h
  tools/disasm/variables.txt
Labels: Overlay, Needs-lead-approval

#1041 EnEgol (Eyegore), object_eg, and related actors EnEstone and EnEgblock
  assets/xml/objects/object_eg.xml
  spec
  src/overlays/actors/ovl_En_Egblock/z_en_egblock.c
  src/overlays/actors/ovl_En_Egblock/z_en_egblock.h
  src/overlays/actors/ovl_En_Egol/z_en_egol.c
  src/overlays/actors/ovl_En_Egol/z_en_egol.h
  src/overlays/actors/ovl_En_Estone/z_en_estone.c
  src/overlays/actors/ovl_En_Estone/z_en_estone.h
  tools/disasm/functions.txt
Labels: Overlay, Asset, Needs-lead-approval

#1064 Add `pyelftools` back to `requirements.txt`
  requirements.txt
Labels: Tooling, Needs-lead-approval

#1066 Fix last two functions in sys_math_atan
  include/functions.h
  src/code/sys_math_atan.c
  src/code/z_actor.c
  src/code/z_lib.c
  src/code/z_player_lib.c
  src/code/z_sub_s.c
  src/overlays/actors/ovl_Arms_Hook/z_arms_hook.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/actors/ovl_En_Az/z_en_az.c
  src/overlays/actors/ovl_En_Bom/z_en_bom.c
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  src/overlays/actors/ovl_En_Dg/z_en_dg.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Ishi/z_en_ishi.c
  src/overlays/actors/ovl_En_Jg/z_en_jg.c
  src/overlays/actors/ovl_En_Mm/z_en_mm.c
  src/overlays/actors/ovl_En_Mushi2/z_en_mushi2.c
  src/overlays/actors/ovl_En_Nutsball/z_en_nutsball.c
  src/overlays/actors/ovl_En_Owl/z_en_owl.c
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.c
  src/overlays/actors/ovl_En_Snowman/z_en_snowman.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Sw/z_en_sw.c
  src/overlays/actors/ovl_En_Tanron3/z_en_tanron3.c
  src/overlays/actors/ovl_En_Trt2/z_en_trt2.c
  src/overlays/actors/ovl_Obj_Makekinsuta/z_obj_makekinsuta.c
  src/overlays/actors/ovl_Obj_Swprize/z_obj_swprize.c
  src/overlays/effects/ovl_Effect_Ss_En_Ice/z_eff_ss_en_ice.c
  src/overlays/effects/ovl_Effect_Ss_Ice_Piece/z_eff_ss_ice_piece.c
  src/overlays/effects/ovl_Effect_Ss_Sbn/z_eff_ss_sbn.c
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: Clean up, Merge-ready, Waiting-for-author

#1076 `z_parameter`: Textures
  include/functions.h
  src/code/z_parameter.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_collect.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_item.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_map.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_mask.c
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: code, Needs-lead-approval

#1146 Add original asset names to all `object_a*` files
  assets/xml/objects/object_ah.xml
  assets/xml/objects/object_al.xml
  assets/xml/objects/object_am.xml
  assets/xml/objects/object_an1.xml
  assets/xml/objects/object_an2.xml
  assets/xml/objects/object_an3.xml
  assets/xml/objects/object_an4.xml
  assets/xml/objects/object_and.xml
  assets/xml/objects/object_ani.xml
  assets/xml/objects/object_astr_obj.xml
Labels: Asset, Needs-lead-approval

#1145 Document object_boss07 (Majora assets)
  assets/xml/objects/object_boss07.xml
Labels: Asset, Needs-lead-approval

#1131 `z_parameter`: Minigames
  assets/xml/interface/parameter_static.xml
  include/functions.h
  include/variables.h
  include/z64.h
  include/z64interface.h
  include/z64save.h
  src/code/z_camera.c
  src/code/z_parameter.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_En_Az/z_en_az.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Horse_Game_Check/z_en_horse_game_check.c
  src/overlays/actors/ovl_En_Jc_Mato/z_en_jc_mato.c
  src/overlays/actors/ovl_En_Jgame_Tsn/z_en_jgame_tsn.c
  src/overlays/actors/ovl_En_Kendo_Js/z_en_kendo_js.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  src/overlays/actors/ovl_En_Mt_tag/z_en_mt_tag.c
  src/overlays/actors/ovl_En_Ot/z_en_ot.c
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  src/overlays/actors/ovl_En_Syateki_Okuta/z_en_syateki_okuta.c
  src/overlays/actors/ovl_En_Tru_Mt/z_en_tru_mt.c
  src/overlays/actors/ovl_En_Twig/z_en_twig.c
  src/overlays/effects/ovl_Effect_Ss_Extra/z_eff_ss_extra.c
  src/overlays/gamestates/ovl_select/z_select.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#1144 `z_parameter`: Time (1 non-matching)
  include/functions.h
  include/macros.h
  include/regs.h
  include/variables.h
  include/z64.h
  include/z64interface.h
  include/z64save.h
  include/z64scene.h
  src/code/z_demo.c
  src/code/z_kankyo.c
  src/code/z_message_nes.c
  src/code/z_parameter.c
  src/code/z_scene.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_En_Al/z_en_al.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Baba/z_en_baba.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Horse_Game_Check/z_en_horse_game_check.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Ja/z_en_ja.c
  src/overlays/actors/ovl_En_Nb/z_en_nb.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Tab/z_en_tab.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.c
  src/overlays/actors/ovl_Obj_Um/z_obj_um.c
  src/overlays/actors/ovl_Oceff_Spot/z_oceff_spot.c
  src/overlays/actors/ovl_Shot_Sun/z_shot_sun.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#1152 Add original asset names for all `object_b*` and `object_c*` files (and some related stuff)
  assets/xml/objects/object_bai.xml
  assets/xml/objects/object_bal.xml
  assets/xml/objects/object_bba.xml
  assets/xml/objects/object_bee.xml
  assets/xml/objects/object_bg.xml
  assets/xml/objects/object_bh.xml
  assets/xml/objects/object_big_fwall.xml
  assets/xml/objects/object_bigicicle.xml
  assets/xml/objects/object_bigokuta.xml
  assets/xml/objects/object_bigpo.xml
  assets/xml/objects/object_bigslime.xml
  assets/xml/objects/object_bji.xml
  assets/xml/objects/object_bjt.xml
  assets/xml/objects/object_boj.xml
  assets/xml/objects/object_bombf.xml
  assets/xml/objects/object_bombiwa.xml
  assets/xml/objects/object_boss05.xml
  assets/xml/objects/object_botihasira.xml
  assets/xml/objects/object_box.xml
  assets/xml/objects/object_bsb.xml
  assets/xml/objects/object_bsmask.xml
  assets/xml/objects/object_cha.xml
  assets/xml/objects/object_comb.xml
  assets/xml/objects/object_crow.xml
  assets/xml/objects/object_cs.xml
  assets/xml/objects/object_ctower_rot.xml
  assets/xml/objects/object_os_anime.xml
  assets/xml/overlays/ovl_En_Sth.xml
  assets/xml/overlays/ovl_En_Sth2.xml
Labels: Asset, Merge-ready

#1151 Use pointer types instead of s32
  include/z64save.h
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_Bg_Ikana_Bombwall/z_bg_ikana_bombwall.c
  src/overlays/actors/ovl_Dm_Ah/z_dm_ah.c
  src/overlays/actors/ovl_En_Ah/z_en_ah.c
  src/overlays/actors/ovl_En_Bom_Bowl_Man/z_en_bom_bowl_man.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_Obj_Mure3/z_obj_mure3.c
  src/overlays/fbdemos/ovl_fbdemo_wipe5/z_fbdemo_wipe5.c
  tools/disasm/variables.txt
Labels: Clean up
