Repository zeldaret/mm, pull requests merged in 2022-04, with the labels that each got.

#771 En_Dragon (Deep Python) OK and documented. object_utubo documented
  assets/xml/objects/object_utubo.xml
  include/z64.h
  spec
  src/overlays/actors/ovl_Bg_Sinkai_Kabe/z_bg_sinkai_kabe.c
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.c
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Last-review

#772 En_Syateki_Okuta (Shooting Gallery Octorok) OK
  assets/xml/overlays/ovl_En_Syateki_Okuta.xml
  spec
  src/overlays/actors/ovl_En_Syateki_Okuta/z_en_syateki_okuta.c
  src/overlays/actors/ovl_En_Syateki_Okuta/z_en_syateki_okuta.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#777 Document EnKujiya (Lottery Shop)
  assets/xml/objects/object_kujiya.xml
  src/overlays/actors/ovl_En_Kujiya/z_en_kujiya.c
  src/overlays/actors/ovl_En_Kujiya/z_en_kujiya.h
  tools/disasm/functions.txt
Labels: documentation, Overlay, Merge-ready

#778 Cleanup 3
  include/variables.h
  include/z64.h
  include/z64audio.h
  include/z64item.h
  include/z64light.h
  include/z64ocarina.h
  spec
  src/code/z_lights.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_Demo_Kankyo/z_demo_kankyo.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Door/z_en_door.c
  src/overlays/actors/ovl_En_Floormas/z_en_floormas.c
  src/overlays/actors/ovl_En_Gg/z_en_gg.c
  src/overlays/actors/ovl_En_Hs/z_en_hs.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_Minislime/z_en_minislime.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.h
  src/overlays/actors/ovl_Mir_Ray/z_mir_ray.c
  src/overlays/actors/ovl_Obj_Chan/z_obj_chan.c
  tools/disasm/functions.txt
Labels: Clean up, Merge-ready

#627 En_Test6
  include/functions.h
  include/z64.h
  spec
  src/code/z_demo.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.h
  tools/actorfixer.py
Labels: Overlay, Merge-ready, Waiting-for-author

#704 Obj_Nozoki
  include/z64item.h
  spec
  src/overlays/actors/ovl_Obj_Nozoki/z_obj_nozoki.c
  src/overlays/actors/ovl_Obj_Nozoki/z_obj_nozoki.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#759 Bg_Kin2_Shelf
  spec
  src/overlays/actors/ovl_Bg_Kin2_Shelf/z_bg_kin2_shelf.c
  src/overlays/actors/ovl_Bg_Kin2_Shelf/z_bg_kin2_shelf.h
Labels: Overlay, Merge-ready

#751 EffectSsSbn OK
  assets/xml/objects/gameplay_keep.xml
  include/z64effect.h
  spec
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/effects/ovl_Effect_Ss_Sbn/z_eff_ss_sbn.c
  src/overlays/effects/ovl_Effect_Ss_Sbn/z_eff_ss_sbn.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#730 EffectSsStone1 Ok
  assets/xml/objects/gameplay_keep.xml
  include/functions.h
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/effects/ovl_Effect_Ss_Stone1/z_eff_ss_stone1.c
  src/overlays/effects/ovl_Effect_Ss_Stone1/z_eff_ss_stone1.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#761 Bg_Ikana_Block
  spec
  src/overlays/actors/ovl_Bg_Ikana_Block/z_bg_ikana_block.c
  src/overlays/actors/ovl_Bg_Ikana_Block/z_bg_ikana_block.h
  src/overlays/actors/ovl_Bg_Ikana_Rotaryroom/z_bg_ikana_rotaryroom.c
Labels: Overlay, Merge-ready

#775 Add OoT's `namefixer.py`
  tools/namefixer.py
Labels: Tooling, Merge-ready, Waiting-for-author

#785 ZAPD update
  tools/ZAPD/.gitrepo
  tools/ZAPD/ExporterTest/CollisionExporter.cpp
  tools/ZAPD/ExporterTest/ExporterTest.vcxproj
  tools/ZAPD/ZAPD/ZAPD.vcxproj
  tools/ZAPD/ZAPD/ZAPD.vcxproj.filters
  tools/ZAPD/ZAPD/ZArray.cpp
  tools/ZAPD/ZAPD/ZCollision.cpp
  tools/ZAPD/ZAPD/ZCollision.h
  tools/ZAPD/ZAPD/ZCollisionPoly.cpp
  tools/ZAPD/ZAPD/ZCollisionPoly.h
  tools/ZAPD/ZAPD/ZResource.cpp
  tools/ZAPD/ZAPD/ZResource.h
  tools/ZAPD/ZAPDUtils/Utils/BitConverter.h
  tools/ZAPD/ZAPDUtils/ZAPDUtils.vcxproj
Labels: Tooling, Merge-ready

#779 Obj_Dora
  assets/xml/objects/object_dora.xml
  spec
  src/overlays/actors/ovl_Obj_Dora/z_obj_dora.c
  src/overlays/actors/ovl_Obj_Dora/z_obj_dora.h
  src/overlays/actors/ovl_Obj_Kendo_Kanban/z_obj_kendo_kanban.c
  undefined_syms.txt
Labels: Overlay, Merge-ready

#780 En_Bbfall (Red Bubble) OK and documented
  assets/xml/objects/object_bb.xml
  spec
  src/overlays/actors/ovl_En_Bb/z_en_bb.c
  src/overlays/actors/ovl_En_Bbfall/z_en_bbfall.c
  src/overlays/actors/ovl_En_Bbfall/z_en_bbfall.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#803 Document object_dekunuts (and minor cleanup of object_dnk)
  assets/xml/objects/object_dekunuts.xml
  assets/xml/objects/object_dnk.xml
  src/overlays/actors/ovl_En_Dekunuts/z_en_dekunuts.c
  src/overlays/actors/ovl_En_Dekunuts/z_en_dekunuts.h
  src/overlays/actors/ovl_En_Dnk/z_en_dnk.c
  src/overlays/actors/ovl_En_Guard_Nuts/z_en_guard_nuts.c
  src/overlays/actors/ovl_En_Guard_Nuts/z_en_guard_nuts.h
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.c
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.h
  src/overlays/actors/ovl_En_Syateki_Dekunuts/z_en_syateki_dekunuts.c
  src/overlays/actors/ovl_En_Syateki_Dekunuts/z_en_syateki_dekunuts.h
Labels: Asset, Merge-ready

#795 Document object_boss02 (Twinmold assets)
  assets/xml/objects/object_boss02.xml
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.h
  src/overlays/actors/ovl_En_Tanron5/z_en_tanron5.c
Labels: documentation, Asset, Merge-ready

#794 En_Raf (Carnivorous Lily Pad) OK and documented, object_raf documented
  assets/xml/objects/object_raf.xml
  spec
  src/overlays/actors/ovl_En_Raf/z_en_raf.c
  src/overlays/actors/ovl_En_Raf/z_en_raf.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Asset, Merge-ready

#788 ObjBlockStop OK and documented
  spec
  src/overlays/actors/ovl_Obj_Blockstop/z_obj_blockstop.c
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#786 Bg_Sinkai_Kabe OK and documented, object_sinkai_kabe documented
  assets/xml/objects/object_sinkai_kabe.xml
  spec
  src/overlays/actors/ovl_Bg_Sinkai_Kabe/z_bg_sinkai_kabe.c
  src/overlays/actors/ovl_Bg_Sinkai_Kabe/z_bg_sinkai_kabe.h
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.c
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: documentation, Overlay, Asset, Merge-ready

#782 Document En_Racedog (and some low-hanging fruit in En_Dg)
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Dg/z_en_dg.c
  src/overlays/actors/ovl_En_Dg/z_en_dg.h
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.c
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.h
  tools/disasm/functions.txt
Labels: documentation, Merge-ready

#773 SubS Shadows, Cutscenes, Exchange, and Planes
  assets/xml/code/sub_s.xml
  include/functions.h
  include/variables.h
  include/z64math.h
  include/z64subs.h
  include/z_en_hy_code.h
  src/boot_O2_g3/yaz0.c
  src/code/z_en_hy_code.c
  src/code/z_sub_s.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_En_Ah/z_en_ah.c
  src/overlays/actors/ovl_En_Al/z_en_al.c
  src/overlays/actors/ovl_En_Baba/z_en_baba.c
  src/overlays/actors/ovl_En_Bba_01/z_en_bba_01.c
  src/overlays/actors/ovl_En_Cne_01/z_en_cne_01.c
  src/overlays/actors/ovl_En_Dai/z_en_dai.c
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
  src/overlays/actors/ovl_En_Dnp/z_en_dnp.c
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.c
  src/overlays/actors/ovl_En_Dns/z_en_dns.c
  src/overlays/actors/ovl_En_Dodongo/z_en_dodongo.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_Ja/z_en_ja.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Shn/z_en_shn.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Tab/z_en_tab.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Zo/z_en_zo.c
  src/overlays/actors/ovl_En_Zo/z_en_zo.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#781 Enable full IDO warnings
  Makefile
  include/functions.h
  include/z64animation.h
  src/code/audio/audio_load.c
  src/code/graph.c
  src/code/z_actor.c
  src/code/z_bgcheck.c
  src/code/z_demo.c
  src/code/z_eff_blure.c
  src/code/z_lights.c
  src/code/z_quake.c
  src/code/z_scene.c
  src/code/z_scene_proc.c
  src/code/z_skelanime.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.c
  src/overlays/actors/ovl_En_Ma_Yto/z_en_ma_yto.c
  src/overlays/actors/ovl_En_Po_Sisters/z_en_po_sisters.c
  src/overlays/actors/ovl_En_Rg/z_en_rg.c
  src/overlays/actors/ovl_En_Sw/z_en_sw.c
  src/overlays/actors/ovl_En_Tanron5/z_en_tanron5.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_Obj_Bell/z_obj_bell.c
  src/overlays/actors/ovl_Obj_Driftice/z_obj_driftice.c
  src/overlays/actors/ovl_Obj_Nozoki/z_obj_nozoki.c
  src/overlays/actors/ovl_Obj_Switch/z_obj_switch.c
  src/overlays/actors/ovl_Obj_Tokeidai/z_obj_tokeidai.c
  src/overlays/actors/ovl_Obj_Vspinyroll/z_obj_vspinyroll.c
  tools/disasm/functions.txt
Labels: Clean up, Merge-ready

#764 Demo_Effect
  assets/xml/objects/object_efc_tw.xml
  spec
  src/overlays/actors/ovl_Demo_Effect/z_demo_effect.c
  src/overlays/actors/ovl_Demo_Effect/z_demo_effect.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#802 `do_action_static` OK and Documented
  assets/xml/interface/do_action_static.xml
  assets/xml/interface/week_static.xml
  assets/xml/misc/story_static.xml
  spec
Labels: Asset, Merge-ready

#804 Document object_okuta and ovl_en_syateki_okuta assets
  assets/xml/objects/object_okuta.xml
  assets/xml/overlays/ovl_En_Syateki_Okuta.xml
  src/overlays/actors/ovl_En_Syateki_Okuta/z_en_syateki_okuta.c
  src/overlays/actors/ovl_En_Syateki_Okuta/z_en_syateki_okuta.h
Labels: Asset, Merge-ready

#805 Document object_shn (Shooting Gallery Men and Swamp Guide)
  assets/xml/objects/object_shn.xml
  src/overlays/actors/ovl_En_Shn/z_en_shn.c
  src/overlays/actors/ovl_En_Shn/z_en_shn.h
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.h
  tools/disasm/functions.txt
Labels: Asset, Merge-ready

#783 Bg_Open_Spot OK
  assets/xml/objects/object_open_obj.xml
  spec
  src/overlays/actors/ovl_Bg_Open_Spot/z_bg_open_spot.c
  src/overlays/actors/ovl_Bg_Open_Spot/z_bg_open_spot.h
  undefined_syms.txt
Labels: documentation, Overlay, Asset, Merge-ready

#796 Document object_wf
  assets/xml/objects/object_wf.xml
  src/overlays/actors/ovl_En_Syateki_Wf/z_en_syateki_wf.c
  src/overlays/actors/ovl_En_Syateki_Wf/z_en_syateki_wf.h
  src/overlays/actors/ovl_En_Wf/z_en_wf.c
  src/overlays/actors/ovl_En_Wf/z_en_wf.h
  tools/disasm/functions.txt
Labels: documentation, Asset, Merge-ready
