Repository zeldaret/mm, pull requests merged in 2022-05, with the labels that each got.

#509 code_801323D0 (z_schedule)
  include/functions.h
  include/z64.h
  include/z64schedule.h
  spec
  src/boot_O2_g3/idle.c
  src/code/code_801323D0.c
  src/code/graph.c
  src/code/z_bgcheck.c
  src/code/z_collision_check.c
  src/code/z_demo.c
  src/code/z_schedule.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
  src/overlays/actors/ovl_En_Ah/z_en_ah.c
  src/overlays/actors/ovl_En_Al/z_en_al.c
  src/overlays/actors/ovl_En_Baba/z_en_baba.c
  src/overlays/actors/ovl_En_Door/z_en_door.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.h
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Ja/z_en_ja.c
  src/overlays/actors/ovl_En_Kusa/z_en_kusa.c
  src/overlays/actors/ovl_En_Kusa2/z_en_kusa2.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Tab/z_en_tab.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_Oceff_Wipe3/z_oceff_wipe3.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/overlayhelpers/scheduledis.py
Labels: code, Last-review

#818 En_Snowman (Eeno and snowballs) OK and documented. object_snowman documented
  assets/xml/objects/object_snowman.xml
  spec
  src/overlays/actors/ovl_En_Snowman/z_en_snowman.c
  src/overlays/actors/ovl_En_Snowman/z_en_snowman.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#817 En_wiz_brock OK and documented
  assets/xml/objects/object_wiz.xml
  spec
  src/overlays/actors/ovl_En_Wiz_Brock/z_en_wiz_brock.c
  src/overlays/actors/ovl_En_Wiz_Brock/z_en_wiz_brock.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#816 Door_Warp1 OK
  spec
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
Labels: Clean up, Merge-ready

#813 En_Boom
  include/functions.h
  include/z64actor.h
  spec
  src/code/z_en_item00.c
  src/overlays/actors/ovl_Arms_Hook/z_arms_hook.c
  src/overlays/actors/ovl_Arms_Hook/z_arms_hook.h
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.h
  src/overlays/actors/ovl_En_Boom/z_en_boom.c
  src/overlays/actors/ovl_En_Boom/z_en_boom.h
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#812 Bg_Ikana_Bombwall (1 non-matching)
  spec
  src/overlays/actors/ovl_Bg_Ikana_Bombwall/z_bg_ikana_bombwall.c
  src/overlays/actors/ovl_Bg_Ikana_Bombwall/z_bg_ikana_bombwall.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#808 En_Scopecrow
  spec
  src/overlays/actors/ovl_En_Scopecrow/z_en_scopecrow.c
  src/overlays/actors/ovl_En_Scopecrow/z_en_scopecrow.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#807 SubS models
  include/functions.h
  include/z64subs.h
  include/z_en_hy_code.h
  src/boot_O2_g3/z_std_dma.c
  src/code/z_sub_s.c
  src/overlays/actors/ovl_Dm_An/z_dm_an.c
  src/overlays/actors/ovl_Dm_Gm/z_dm_gm.c
  src/overlays/actors/ovl_En_Ah/z_en_ah.c
  src/overlays/actors/ovl_En_Al/z_en_al.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.h
  src/overlays/actors/ovl_En_Baba/z_en_baba.c
  src/overlays/actors/ovl_En_Baba/z_en_baba.h
  src/overlays/actors/ovl_En_Bba_01/z_en_bba_01.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.h
  src/overlays/actors/ovl_En_Cne_01/z_en_cne_01.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_In/z_en_in.h
  src/overlays/actors/ovl_En_Ja/z_en_ja.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Shn/z_en_shn.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.h
  src/overlays/actors/ovl_En_Tab/z_en_tab.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Zo/z_en_zo.c
  src/overlays/actors/ovl_En_Zo/z_en_zo.h
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#800 EffectSsLightning OK
  assets/xml/objects/gameplay_keep.xml
  spec
  src/overlays/effects/ovl_Effect_Ss_Lightning/z_eff_ss_lightning.c
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#793 Contributing docs refresh
  .github/pull_request_template.md
  .gitignore
  CONTRIBUTING.md
  README.md
  REVIEWING.md
  docs/REVIEWING.md
  docs/STYLE.md
Labels: documentation, Merge-ready

#789 `EnFamos` OK with `object_famos`
  assets/xml/objects/object_famos.xml
  spec
  src/code/z_bgcheck.c
  src/overlays/actors/ovl_En_Famos/z_en_famos.c
  src/overlays/actors/ovl_En_Famos/z_en_famos.h
  tools/disasm/functions.txt
Labels: Overlay, Asset, Merge-ready

#727 Makefile Changes
  .gitignore
  Jenkinsfile
  Makefile
  tools/warnings_count/update_current_warnings.sh
  tools/warnings_count/warnings_assets_current.txt
  tools/warnings_count/warnings_compress_current.txt
Labels: Tooling, Merge-ready

#715 `EnNwc` OK and three objects documented (`object_niw` and `object_nwc` and `object_hs`) and some Actor docs( `EnNiw` and `EnAttackNiw` and `EnHg`)
  assets/xml/objects/object_hs.xml
  assets/xml/objects/object_niw.xml
  assets/xml/objects/object_nwc.xml
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Attack_Niw/z_en_attack_niw.c
  src/overlays/actors/ovl_En_Attack_Niw/z_en_attack_niw.h
  src/overlays/actors/ovl_En_Hs/z_en_hs.c
  src/overlays/actors/ovl_En_Hs/z_en_hs.h
  src/overlays/actors/ovl_En_Niw/z_en_niw.c
  src/overlays/actors/ovl_En_Niw/z_en_niw.h
  src/overlays/actors/ovl_En_Nwc/z_en_nwc.c
  src/overlays/actors/ovl_En_Nwc/z_en_nwc.h
  tools/disasm/functions.txt
Labels: Overlay, Asset, Merge-ready

#801 EffectSsKirakira OK
  assets/xml/objects/gameplay_keep.xml
  include/functions.h
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/code/z_en_item00.c
  src/overlays/actors/ovl_Bg_Kin2_Fence/z_bg_kin2_fence.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_Eff_Dust/z_eff_dust.c
  src/overlays/actors/ovl_En_Am/z_en_am.c
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.c
  src/overlays/actors/ovl_En_Gg2/z_en_gg2.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Zog/z_en_zog.c
  src/overlays/actors/ovl_Obj_Bigicicle/z_obj_bigicicle.c
  src/overlays/actors/ovl_Obj_Ice_Poly/z_obj_ice_poly.c
  src/overlays/effects/ovl_Effect_Ss_Kirakira/z_eff_ss_kirakira.c
  src/overlays/effects/ovl_Effect_Ss_Kirakira/z_eff_ss_kirakira.h
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: Overlay, Merge-ready, Waiting-for-author
