Repository zeldaret/mm, pull requests merged in 2022-07, with the labels that each got.

#918 Yet another disasm.py speedup
  Jenkinsfile
  requirements.txt
  tools/disasm/disasm.py
  tools/disasm/mips_isa.py
Labels: Tooling, Merge-ready

#862 Adding Git information to tutorial
  README.md
  docs/BUILDING_MACOS.md
  docs/CONTRIBUTING.md
  docs/REVIEWING.md
  docs/STYLE.md
  docs/tools.md
  docs/tutorial/advanced_control_flow.md
  docs/tutorial/beginning_decomp.md
  docs/tutorial/contents.md
  docs/tutorial/data.md
  docs/tutorial/disassembly_quirks.md
  docs/tutorial/documenting.md
  docs/tutorial/draw_functions.md
  docs/tutorial/intro_to_git.md
  docs/tutorial/introduction.md
  docs/tutorial/merging.md
  docs/tutorial/object_decomp.md
  docs/tutorial/object_decomp_example.md
  docs/tutorial/other_functions.md
  docs/tutorial/types_structs_padding.md
  docs/tutorial/vscode.md
Labels: documentation, Merge-ready

#873 ovl_Bg_Ikana_Mirror OK and documented
  assets/xml/objects/object_ikana_obj.xml
  spec
  src/overlays/actors/ovl_Bg_Ikana_Mirror/z_bg_ikana_mirror.c
  src/overlays/actors/ovl_Bg_Ikana_Mirror/z_bg_ikana_mirror.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#853 ovl_Bg_Spout_Fire decompiled
  assets/xml/objects/object_fwall.xml
  spec
  src/overlays/actors/ovl_Bg_Spout_Fire/z_bg_spout_fire.c
  src/overlays/actors/ovl_Bg_Spout_Fire/z_bg_spout_fire.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#854 ovl_Eff_Zoraband decompiled
  spec
  src/overlays/actors/ovl_Eff_Zoraband/z_eff_zoraband.c
  src/overlays/actors/ovl_Eff_Zoraband/z_eff_zoraband.h
Labels: Overlay, Merge-ready

#855 ovl_Bg_Icefloe decompiled
  assets/xml/objects/object_icefloe.xml
  spec
  src/overlays/actors/ovl_Bg_Icefloe/z_bg_icefloe.c
  src/overlays/actors/ovl_Bg_Icefloe/z_bg_icefloe.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#857 ovl_Bg_Botihasira decompiled
  spec
  src/overlays/actors/ovl_Bg_Botihasira/z_bg_botihasira.c
  src/overlays/actors/ovl_Bg_Botihasira/z_bg_botihasira.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#858 Ds2n: OK (unused potion shop man from OoT)
  assets/xml/objects/object_ds2n.xml
  spec
  src/overlays/actors/ovl_En_Ds2n/z_en_ds2n.c
  src/overlays/actors/ovl_En_Ds2n/z_en_ds2n.h
  tools/disasm/functions.txt
Labels: Overlay, Asset, Merge-ready

#859 ovl_En_Onpuman decompiled
  spec
  src/overlays/actors/ovl_En_Onpuman/z_en_onpuman.c
  src/overlays/actors/ovl_En_Onpuman/z_en_onpuman.h
Labels: Overlay, Merge-ready

#861 ovl_Demo_Getitem decompiled
  include/z64item.h
  spec
  src/overlays/actors/ovl_Demo_Getitem/z_demo_getitem.c
  src/overlays/actors/ovl_Demo_Getitem/z_demo_getitem.h
  src/overlays/actors/ovl_Dm_Char05/z_dm_char05.c
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#860 ovl_Obj_Demo decompiled
  spec
  src/overlays/actors/ovl_Obj_Demo/z_obj_demo.c
  src/overlays/actors/ovl_Obj_Demo/z_obj_demo.h
Labels: Overlay, Merge-ready

#864 ovl_Obj_Shutter decompiled
  assets/xml/objects/object_f53_obj.xml
  spec
  src/overlays/actors/ovl_Obj_Shutter/z_obj_shutter.c
  src/overlays/actors/ovl_Obj_Shutter/z_obj_shutter.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#865 ovl_Elf_Msg3 decompiled
  spec
  src/overlays/actors/ovl_Elf_Msg3/z_elf_msg3.c
  src/overlays/actors/ovl_Elf_Msg3/z_elf_msg3.h
Labels: Overlay, Merge-ready

#867 ovl_Obj_Jgame_Light decompiled
  assets/xml/overlays/ovl_Obj_Jgame_Light.xml
  spec
  src/overlays/actors/ovl_En_Jgame_Tsn/z_en_jgame_tsn.c
  src/overlays/actors/ovl_Obj_Jgame_Light/z_obj_jgame_light.c
  src/overlays/actors/ovl_Obj_Jgame_Light/z_obj_jgame_light.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#868 ovl_Obj_Lupygamelift decompiled
  spec
  src/overlays/actors/ovl_Obj_Lupygamelift/z_obj_lupygamelift.c
  src/overlays/actors/ovl_Obj_Lupygamelift/z_obj_lupygamelift.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#869 ovl_Dm_Char02 decompiled
  include/z64item.h
  spec
  src/overlays/actors/ovl_Dm_Char02/z_dm_char02.c
  src/overlays/actors/ovl_Dm_Char02/z_dm_char02.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#870 ovl_Bg_Open_Shutter decompiled
  spec
  src/overlays/actors/ovl_Bg_Open_Shutter/z_bg_open_shutter.c
  src/overlays/actors/ovl_Bg_Open_Shutter/z_bg_open_shutter.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#874 Effect Hitmark Ok
  assets/xml/objects/gameplay_keep.xml
  include/functions.h
  spec
  src/code/z_collision_check.c
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/actors/ovl_En_Bomjima/z_en_bomjima.c
  src/overlays/actors/ovl_En_Dodongo/z_en_dodongo.c
  src/overlays/actors/ovl_Obj_Spinyroll/z_obj_spinyroll.c
  src/overlays/actors/ovl_Obj_Vspinyroll/z_obj_vspinyroll.c
  src/overlays/effects/ovl_Effect_Ss_Hitmark/z_eff_ss_hitmark.c
  src/overlays/effects/ovl_Effect_Ss_Hitmark/z_eff_ss_hitmark.h
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
  undefined_syms.txt
Labels: Overlay, Merge-ready

#875 Effect Hahen Ok
  assets/xml/objects/gameplay_keep.xml
  include/functions.h
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_En_Dekunuts/z_en_dekunuts.c
  src/overlays/actors/ovl_En_Fu_Kago/z_en_fu_kago.c
  src/overlays/actors/ovl_En_Fu_Mato/z_en_fu_mato.c
  src/overlays/actors/ovl_En_Geg/z_en_geg.c
  src/overlays/actors/ovl_En_Guard_Nuts/z_en_guard_nuts.c
  src/overlays/actors/ovl_En_Hidden_Nuts/z_en_hidden_nuts.c
  src/overlays/actors/ovl_En_Hint_Skb/z_en_hint_skb.c
  src/overlays/actors/ovl_En_Karebaba/z_en_karebaba.c
  src/overlays/actors/ovl_En_Peehat/z_en_peehat.c
  src/overlays/actors/ovl_En_Rail_Skb/z_en_rail_skb.c
  src/overlays/actors/ovl_En_Rail_Skb/z_en_rail_skb.h
  src/overlays/actors/ovl_En_Railgibud/z_en_railgibud.c
  src/overlays/actors/ovl_En_Scopenuts/z_en_scopenuts.c
  src/overlays/actors/ovl_En_Snowman/z_en_snowman.c
  src/overlays/actors/ovl_Obj_Bigicicle/z_obj_bigicicle.c
  src/overlays/effects/ovl_Effect_Ss_Hahen/z_eff_ss_hahen.c
  src/overlays/effects/ovl_Effect_Ss_Hahen/z_eff_ss_hahen.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#878 ovl_En_Gamelupy decompiled
  spec
  src/overlays/actors/ovl_En_Gamelupy/z_en_gamelupy.c
  src/overlays/actors/ovl_En_Gamelupy/z_en_gamelupy.h
Labels: Overlay, Merge-ready

#880 ovl_Elf_Msg decompiled
  spec
  src/overlays/actors/ovl_Elf_Msg/z_elf_msg.c
  src/overlays/actors/ovl_Elf_Msg/z_elf_msg.h
Labels: Overlay, Merge-ready

#881 ovl_Elf_Msg2 decompiled
  spec
  src/overlays/actors/ovl_Elf_Msg2/z_elf_msg2.c
  src/overlays/actors/ovl_Elf_Msg2/z_elf_msg2.h
Labels: Overlay, Merge-ready

#882 ovl_Elf_Msg5 decompiled
  spec
  src/overlays/actors/ovl_Elf_Msg5/z_elf_msg5.c
  src/overlays/actors/ovl_Elf_Msg5/z_elf_msg5.h
Labels: Overlay, Merge-ready

#885 ovl_Bg_F40_Flift decompiled
  spec
  src/overlays/actors/ovl_Bg_F40_Flift/z_bg_f40_flift.c
  src/overlays/actors/ovl_Bg_F40_Flift/z_bg_f40_flift.h
Labels: Overlay, Merge-ready

#891 Bg_Iknv_Doukutu
  assets/xml/objects/object_iknv_obj.xml
  spec
  src/overlays/actors/ovl_Bg_Iknv_Doukutu/z_bg_iknv_doukutu.c
  src/overlays/actors/ovl_Bg_Iknv_Doukutu/z_bg_iknv_doukutu.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#892 Obj_Toudai
  assets/xml/overlays/ovl_Obj_Toudai.xml
  spec
  src/overlays/actors/ovl_Obj_Toudai/z_obj_toudai.c
  src/overlays/actors/ovl_Obj_Toudai/z_obj_toudai.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#893 Obj_Chikuwa
  spec
  src/overlays/actors/ovl_Obj_Chikuwa/z_obj_chikuwa.c
  src/overlays/actors/ovl_Obj_Chikuwa/z_obj_chikuwa.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#896 Boss_02 Documentation, Part 1: Document Twinmold Effects
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.h
  tools/disasm/functions.txt
Labels: documentation, Overlay, Merge-ready

#903 `ovl_En_Part` OK
  include/functions.h
  spec
  src/code/z_actor.c
  src/overlays/actors/ovl_En_Part/z_en_part.c
  src/overlays/actors/ovl_En_Part/z_en_part.h
Labels: Overlay, Merge-ready

#906 ovl_En_Bh Decompiled
  assets/xml/objects/object_bh.xml
  spec
  src/overlays/actors/ovl_En_Bh/z_en_bh.c
  src/overlays/actors/ovl_En_Bh/z_en_bh.h
Labels: Overlay, Merge-ready

#884 ovl_Elf_Msg4 decompiled
  spec
  src/overlays/actors/ovl_Elf_Msg4/z_elf_msg4.c
  src/overlays/actors/ovl_Elf_Msg4/z_elf_msg4.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#916 `ovl_En_Fall2` OK
  assets/xml/objects/object_fall2.xml
  include/functions.h
  spec
  src/overlays/actors/ovl_Demo_Syoten/z_demo_syoten.h
  src/overlays/actors/ovl_En_Fall2/z_en_fall2.c
  src/overlays/actors/ovl_En_Fall2/z_en_fall2.h
  src/overlays/actors/ovl_En_Test/z_en_test.h
  src/overlays/actors/ovl_En_Test7/z_en_test7.h
Labels: Overlay, Merge-ready

#863 `object_keikoku_demo`: documented (Lost Woods Trees)
  assets/xml/objects/object_keikoku_demo.xml
  src/overlays/actors/ovl_Dm_Opstage/z_dm_opstage.c
  src/overlays/actors/ovl_Dm_Opstage/z_dm_opstage.h
Labels: documentation, Asset, Merge-ready

#899 Document object_uch (Aliens) and remove a dummy label match in EnInvadepoh
  assets/xml/objects/object_uch.xml
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.h
  tools/disasm/variables.txt
Labels: Clean up, Asset, Merge-ready

#915 Document object_boss04 (Wart and Bubbles)
  assets/xml/objects/object_boss04.xml
  src/overlays/actors/ovl_Boss_04/z_boss_04.c
  src/overlays/actors/ovl_Boss_04/z_boss_04.h
  src/overlays/actors/ovl_En_Tanron2/z_en_tanron2.c
Labels: Asset, Merge-ready

#901 Remove a dummy label match in BgHakuginBombwall
  src/overlays/actors/ovl_Bg_Hakugin_Bombwall/z_bg_hakugin_bombwall.c
  src/overlays/actors/ovl_Bg_Hakugin_Bombwall/z_bg_hakugin_bombwall.h
Labels: Clean up, Merge-ready

#879 object_rotlift documented, various cleanup of Deku Flower stuff, finish documentation of ObjRotlift
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_rotlift.xml
  src/overlays/actors/ovl_Dm_Char01/z_dm_char01.c
  src/overlays/actors/ovl_En_Dekunuts/z_en_dekunuts.c
  src/overlays/actors/ovl_Obj_Etcetera/z_obj_etcetera.c
  src/overlays/actors/ovl_Obj_Etcetera/z_obj_etcetera.h
  src/overlays/actors/ovl_Obj_Raillift/z_obj_raillift.c
  src/overlays/actors/ovl_Obj_Rotlift/z_obj_rotlift.c
  src/overlays/actors/ovl_Obj_Rotlift/z_obj_rotlift.h
Labels: documentation, Clean up, Merge-ready

#909 Match and Document code_80172BC0.c
  include/functions.h
  src/code/code_80172BC0.c
  src/code/game.c
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#877 z_map_exp OK and somewhat documented
  include/functions.h
  include/regs.h
  include/z64.h
  include/z64map.h
  include/z64save.h
  spec
  src/code/z_map_exp.c
  src/code/z_room.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.h
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#914 Adding Docker Support
  Dockerfile
  README.md
  docs/BUILDING_DOCKER.md
Labels: Tooling, Merge-ready

#928 hotfix disasm for python 3.6
  tools/disasm/disasm.py
Labels: Tooling, Last-review

#797 Introducing z64camera.h
  include/functions.h
  include/macros.h
  include/variables.h
  include/z64.h
  include/z64camera.h
  include/z64math.h
  src/code/z_actor.c
  src/code/z_camera.c
  src/code/z_olib.c
  src/code/z_quake.c
  src/overlays/actors/ovl_Bg_Ctower_Rot/z_bg_ctower_rot.c
  src/overlays/actors/ovl_Bg_Ikana_Dharma/z_bg_ikana_dharma.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_Bg_Open_Shutter/z_bg_open_shutter.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Boss_04/z_boss_04.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
  src/overlays/actors/ovl_Demo_Kankyo/z_demo_kankyo.c
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
  src/overlays/actors/ovl_Eff_Zoraband/z_eff_zoraband.c
  src/overlays/actors/ovl_Elf_Msg/z_elf_msg.c
  src/overlays/actors/ovl_Elf_Msg3/z_elf_msg3.c
  src/overlays/actors/ovl_Elf_Msg4/z_elf_msg4.c
  src/overlays/actors/ovl_En_Ani/z_en_ani.c
  src/overlays/actors/ovl_En_Bb/z_en_bb.c
  src/overlays/actors/ovl_En_Bbfall/z_en_bbfall.c
  src/overlays/actors/ovl_En_Bom/z_en_bom.c
  src/overlays/actors/ovl_En_Bombf/z_en_bombf.c
  src/overlays/actors/ovl_En_Butte/z_en_butte.c
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  src/overlays/actors/ovl_En_Famos/z_en_famos.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Horse_Game_Check/z_en_horse_game_check.c
  src/overlays/actors/ovl_En_Test7/z_en_test7.c
  src/overlays/actors/ovl_Obj_Aqua/z_obj_aqua.c
  src/overlays/actors/ovl_Obj_Demo/z_obj_demo.c
  src/overlays/actors/ovl_Obj_Jgame_Light/z_obj_jgame_light.c
  src/overlays/actors/ovl_Obj_Kinoko/z_obj_kinoko.c
  src/overlays/actors/ovl_Obj_Tsubo/z_obj_tsubo.c
  src/overlays/actors/ovl_Object_Kankyo/z_object_kankyo.c
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: documentation, code, Merge-ready

#799 `z_parameter`: Items & Import Data
  docs/tutorial/advanced_control_flow.md
  include/color.h
  include/functions.h
  include/macros.h
  include/z64.h
  include/z64item.h
  spec
  src/code/code_8012EC80.c
  src/code/sched.c
  src/code/z_en_item00.c
  src/code/z_game_over.c
  src/code/z_kaleido_setup.c
  src/code/z_lifemeter.c
  src/code/z_parameter.c
  src/code/z_player_lib.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_En_Akindonuts/z_en_akindonuts.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Bom_Bowl_Man/z_en_bom_bowl_man.c
  src/overlays/actors/ovl_En_Cow/z_en_cow.c
  src/overlays/actors/ovl_En_Dnp/z_en_dnp.c
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Gamelupy/z_en_gamelupy.c
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Ginko_Man/z_en_ginko_man.c
  src/overlays/actors/ovl_En_GirlA/z_en_girla.c
  src/overlays/actors/ovl_En_Gk/z_en_gk.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_Jgame_Tsn/z_en_jgame_tsn.c
  src/overlays/actors/ovl_En_Kendo_Js/z_en_kendo_js.c
  src/overlays/actors/ovl_En_Kgy/z_en_kgy.c
  src/overlays/actors/ovl_En_Kujiya/z_en_kujiya.c
  src/overlays/actors/ovl_En_Mm3/z_en_mm3.c
  src/overlays/actors/ovl_En_Ms/z_en_ms.c
  src/overlays/actors/ovl_En_Rr/z_en_rr.c
  src/overlays/actors/ovl_En_Sc_Ruppe/z_en_sc_ruppe.c
  src/overlays/actors/ovl_En_Scopenuts/z_en_scopenuts.c
  src/overlays/actors/ovl_En_Shn/z_en_shn.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  src/overlays/actors/ovl_En_Tab/z_en_tab.c
  src/overlays/actors/ovl_En_Talk_Gibud/z_en_talk_gibud.c
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/actors/ovl_En_Trt2/z_en_trt2.c
  src/overlays/actors/ovl_En_Tsn/z_en_tsn.c
  src/overlays/actors/ovl_En_Zos/z_en_zos.c
  src/overlays/actors/ovl_En_Zot/z_en_zot.c
  src/overlays/gamestates/ovl_select/z_select.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: documentation, code, Merge-ready

#929 Namefixer Hotfix
  tools/namefixer.py
Labels: Tooling, Last-review

#821 En_Ik OK
  assets/xml/objects/object_ik.xml
  spec
  src/overlays/actors/ovl_En_Ik/z_en_ik.c
  src/overlays/actors/ovl_En_Ik/z_en_ik.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#866 ovl_Obj_Hsblock decompiled
  assets/xml/objects/object_d_hsblock.xml
  spec
  src/overlays/actors/ovl_Obj_Hsblock/z_obj_hsblock.c
  src/overlays/actors/ovl_Obj_Hsblock/z_obj_hsblock.h
Labels: Overlay, Merge-ready

#890 ovl_Bg_Fire_Wall decompiled
  spec
  src/overlays/actors/ovl_Bg_Fire_Wall/z_bg_fire_wall.c
  src/overlays/actors/ovl_Bg_Fire_Wall/z_bg_fire_wall.h
  src/overlays/actors/ovl_En_Encount4/z_en_encount4.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#907 ovl_En_Sekihi Decompiled and Documented
  assets/xml/objects/object_sekihig.xml
  assets/xml/objects/object_sekihil.xml
  assets/xml/objects/object_sekihin.xml
  assets/xml/objects/object_sekihiz.xml
  assets/xml/objects/object_zog.xml
  spec
  src/overlays/actors/ovl_En_Sekihi/z_en_sekihi.c
  src/overlays/actors/ovl_En_Sekihi/z_en_sekihi.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#908 ovl_Eff_Kamejima_Wave Decompiled
  assets/xml/objects/object_kamejima.xml
  spec
  src/overlays/actors/ovl_Eff_Kamejima_Wave/z_eff_kamejima_wave.c
  src/overlays/actors/ovl_Eff_Kamejima_Wave/z_eff_kamejima_wave.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#913 ovl_Dm_Al Decompiled + Some Documentation
  assets/xml/objects/object_al.xml
  spec
  src/overlays/actors/ovl_Dm_Al/z_dm_al.c
  src/overlays/actors/ovl_Dm_Al/z_dm_al.h
  src/overlays/actors/ovl_En_Al/z_en_al.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#917 ovl_Obj_Lift Decompiled and Documented
  assets/xml/objects/object_d_lift.xml
  spec
  src/overlays/actors/ovl_Obj_Chikuwa/z_obj_chikuwa.c
  src/overlays/actors/ovl_Obj_Lift/z_obj_lift.c
  src/overlays/actors/ovl_Obj_Lift/z_obj_lift.h
Labels: Overlay, Merge-ready

#921 ovl_Eff_Lastday Decompiled
  assets/xml/objects/object_lastday.xml
  spec
  src/overlays/actors/ovl_Eff_Lastday/z_eff_lastday.c
  src/overlays/actors/ovl_Eff_Lastday/z_eff_lastday.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#924 EnBat OK and documented
  assets/xml/objects/object_bat.xml
  include/z64actor.h
  spec
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/actors/ovl_En_Bat/z_en_bat.c
  src/overlays/actors/ovl_En_Bat/z_en_bat.h
  src/overlays/actors/ovl_En_Crow/z_en_crow.c
  src/overlays/actors/ovl_En_Crow/z_en_crow.h
  src/overlays/actors/ovl_En_Firefly/z_en_firefly.c
  src/overlays/actors/ovl_En_Firefly/z_en_firefly.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#935 ovl_Bg_Fu_Mizu Decompiled
  assets/xml/objects/object_fu_kaiten.xml
  spec
  src/overlays/actors/ovl_Bg_Fu_Mizu/z_bg_fu_mizu.c
  src/overlays/actors/ovl_Bg_Fu_Mizu/z_bg_fu_mizu.h
Labels: Overlay, Merge-ready

#937 ovl_Obj_Purify OK
  spec
  src/overlays/actors/ovl_Obj_Purify/z_obj_purify.c
  src/overlays/actors/ovl_Obj_Purify/z_obj_purify.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#940 Effect Gripple
  assets/xml/objects/gameplay_keep.xml
  spec
  src/overlays/actors/ovl_En_Tanron2/z_en_tanron2.c
  src/overlays/effects/ovl_Effect_Ss_G_Ripple/z_eff_ss_g_ripple.c
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#898 ovl_En_Sth2 Decompiled and Documented
  assets/xml/overlays/ovl_En_Sth2.xml
  spec
  src/overlays/actors/ovl_En_Sth2/z_en_sth2.c
  src/overlays/actors/ovl_En_Sth2/z_en_sth2.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#825 EnBaba Documented (Bomb Shop Lady)
  assets/xml/objects/object_bba.xml
  include/functions.h
  include/z64schedule.h
  include/z64subs.h
  src/code/z_schedule.c
  src/code/z_sub_s.c
  src/overlays/actors/ovl_En_Ah/z_en_ah.c
  src/overlays/actors/ovl_En_Al/z_en_al.c
  src/overlays/actors/ovl_En_Baba/z_en_baba.c
  src/overlays/actors/ovl_En_Baba/z_en_baba.h
  src/overlays/actors/ovl_En_Bba_01/z_en_bba_01.c
  src/overlays/actors/ovl_En_Bba_01/z_en_bba_01.h
  src/overlays/actors/ovl_En_Cne_01/z_en_cne_01.c
  src/overlays/actors/ovl_En_Cne_01/z_en_cne_01.h
  src/overlays/actors/ovl_En_Door/z_en_door.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Gk/z_en_gk.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_Ja/z_en_ja.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Tab/z_en_tab.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_En_Zo/z_en_zo.c
  src/overlays/actors/ovl_En_Zo/z_en_zo.h
  src/overlays/actors/ovl_Obj_Shutter/z_obj_shutter.c
  tools/disasm/functions.txt
  tools/namefixer.py
Labels: documentation, Merge-ready

#912 EnBjt OK and documented
  README.md
  assets/xml/objects/object_bjt.xml
  include/functions.h
  include/z64item.h
  include/z64schedule.h
  spec
  src/code/z_lib.c
  src/code/z_room.c
  src/code/z_sub_s.c
  src/overlays/actors/ovl_En_Bjt/z_en_bjt.c
  src/overlays/actors/ovl_En_Bjt/z_en_bjt.h
  src/overlays/actors/ovl_En_Sellnuts/z_en_sellnuts.c
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#920 ovl_Obj_Ocarinalift Decompiled
  spec
  src/overlays/actors/ovl_Obj_Ocarinalift/z_obj_ocarinalift.c
  src/overlays/actors/ovl_Obj_Ocarinalift/z_obj_ocarinalift.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#926 Document En_Dg (dog) and do some light cleanup on En_Racedog
  assets/xml/objects/object_dog.xml
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Dg/z_en_dg.c
  src/overlays/actors/ovl_En_Dg/z_en_dg.h
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Clean up, Merge-ready

#931 Boss_02 Documentation, Part 2: Document Twinmold Param Types and name most BSS variables
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Merge-ready

#939 Effect Gspk OK
  assets/xml/objects/gameplay_keep.xml
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/effects/ovl_Effect_Ss_G_Spk/z_eff_ss_g_spk.c
  src/overlays/effects/ovl_Effect_Ss_G_Spk/z_eff_ss_g_spk.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#941 Effect Gfire Ok
  assets/xml/objects/gameplay_keep.xml
  spec
  src/overlays/effects/ovl_Effect_Ss_G_Fire/z_eff_ss_g_fire.c
  undefined_syms.txt
Labels: Overlay, Merge-ready

#946 ovl_Eff_Change Decompiled
  assets/xml/objects/gameplay_keep.xml
  spec
  src/overlays/actors/ovl_Eff_Change/z_eff_change.c
  src/overlays/actors/ovl_Eff_Change/z_eff_change.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#947 ovl_Bg_Haka_Bombwall partially decompiled (1 NON_MATCHING)
  spec
  src/overlays/actors/ovl_Bg_Haka_Bombwall/z_bg_haka_bombwall.c
  src/overlays/actors/ovl_Bg_Haka_Bombwall/z_bg_haka_bombwall.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#833 audio_seqplayer.c OK and partial docs
  include/functions.h
  include/variables.h
  include/z64audio.h
  spec
  src/code/audio/audio_data.c
  src/code/audio/audio_effects.c
  src/code/audio/audio_heap.c
  src/code/audio/audio_load.c
  src/code/audio/audio_playback.c
  src/code/audio/audio_seqplayer.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Audio, Merge-ready

#883 Transition System Docs
  include/z64.h
  include/z64save.h
  src/code/z_common_data.c
  src/code/z_demo.c
  src/code/z_game_over.c
  src/code/z_kaleido_setup.c
  src/code/z_play.c
  src/code/z_player_lib.c
  src/code/z_scene.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_Door_Ana/z_door_ana.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Baba/z_en_baba.c
  src/overlays/actors/ovl_En_Bom_Bowl_Man/z_en_bom_bowl_man.c
  src/overlays/actors/ovl_En_Bomjima/z_en_bomjima.c
  src/overlays/actors/ovl_En_Bomjimb/z_en_bomjimb.c
  src/overlays/actors/ovl_En_Dns/z_en_dns.c
  src/overlays/actors/ovl_En_Fall/z_en_fall.c
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Gk/z_en_gk.c
  src/overlays/actors/ovl_En_Holl/z_en_holl.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Horse_Game_Check/z_en_horse_game_check.c
  src/overlays/actors/ovl_En_Hs/z_en_hs.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Jgame_Tsn/z_en_jgame_tsn.c
  src/overlays/actors/ovl_En_Kgy/z_en_kgy.c
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  src/overlays/actors/ovl_En_Ma_Yto/z_en_ma_yto.c
  src/overlays/actors/ovl_En_Mag/z_en_mag.c
  src/overlays/actors/ovl_En_Mt_tag/z_en_mt_tag.c
  src/overlays/actors/ovl_En_Pamera/z_en_pamera.c
  src/overlays/actors/ovl_En_Shn/z_en_shn.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Test7/z_en_test7.c
  src/overlays/actors/ovl_En_Time_Tag/z_en_time_tag.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/actors/ovl_En_Tru_Mt/z_en_tru_mt.c
  src/overlays/actors/ovl_En_Warp_tag/z_en_warp_tag.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.c
  src/overlays/actors/ovl_En_Zov/z_en_zov.c
  src/overlays/actors/ovl_Obj_Grass/z_obj_grass.c
  src/overlays/actors/ovl_Obj_Hunsui/z_obj_hunsui.c
  src/overlays/actors/ovl_Obj_Nozoki/z_obj_nozoki.c
  src/overlays/actors/ovl_Obj_Tokeidai/z_obj_tokeidai.c
  src/overlays/actors/ovl_Obj_Wturn/z_obj_wturn.c
  tools/namefixer.py
Labels: documentation, Merge-ready

#936 Cleanup SubCameras
  include/functions.h
  include/z64cutscene.h
  src/code/z_demo.c
  src/code/z_eventmgr.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.h
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.h
  src/overlays/actors/ovl_Boss_04/z_boss_04.c
  src/overlays/actors/ovl_Boss_04/z_boss_04.h
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.h
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
  src/overlays/actors/ovl_En_Al/z_en_al.c
  src/overlays/actors/ovl_En_Ani/z_en_ani.c
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.c
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.h
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.h
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Bom_Bowl_Man/z_en_bom_bowl_man.c
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.c
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.h
  src/overlays/actors/ovl_En_Fish2/z_en_fish2.c
  src/overlays/actors/ovl_En_Fish2/z_en_fish2.h
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Horse_Game_Check/z_en_horse_game_check.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_Ik/z_en_ik.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.h
  src/overlays/actors/ovl_En_Pamera/z_en_pamera.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.h
  src/overlays/actors/ovl_En_Test7/z_en_test7.c
  src/overlays/actors/ovl_En_Test7/z_en_test7.h
  src/overlays/actors/ovl_Obj_Wturn/z_obj_wturn.c
  src/overlays/actors/ovl_Obj_Wturn/z_obj_wturn.h
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: Clean up, Merge-ready

#972 Fix namefixer.py
  README.md
  tools/namefixer.py
Labels: Tooling

#887 `ovl_Obj_Um` OK
  assets/xml/objects/object_um.xml
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.h
  src/overlays/actors/ovl_En_Horse_Game_Check/z_en_horse_game_check.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_Obj_Um/z_obj_um.c
  src/overlays/actors/ovl_Obj_Um/z_obj_um.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/permuter_settings.toml
  undefined_syms.txt
Labels: Overlay, Merge-ready

#894 En_Syateki_Man (Shooting Gallery Man) documented
  include/macros.h
  include/z64save.h
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_En_Syateki_Crow/z_en_syateki_crow.c
  src/overlays/actors/ovl_En_Syateki_Crow/z_en_syateki_crow.h
  src/overlays/actors/ovl_En_Syateki_Dekunuts/z_en_syateki_dekunuts.c
  src/overlays/actors/ovl_En_Syateki_Dekunuts/z_en_syateki_dekunuts.h
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.h
  src/overlays/actors/ovl_En_Syateki_Okuta/z_en_syateki_okuta.c
  src/overlays/actors/ovl_En_Syateki_Wf/z_en_syateki_wf.c
  src/overlays/actors/ovl_En_Syateki_Wf/z_en_syateki_wf.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready, Waiting-for-author

#948 Document object_ma1 (Romani)
  assets/xml/objects/object_ma1.xml
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.h
  src/overlays/actors/ovl_En_Ma_Yts/z_en_ma_yts.c
  src/overlays/actors/ovl_En_Ma_Yts/z_en_ma_yts.h
  tools/disasm/variables.txt
Labels: Asset, Merge-ready

#949 Some minor cleanup involving stray fairies
  assets/xml/objects/gameplay_keep.xml
  src/code/z_en_item00.c
  src/overlays/actors/ovl_En_Box/z_en_box.c
  src/overlays/actors/ovl_En_Elfbub/z_en_elfbub.c
  src/overlays/actors/ovl_En_Elfgrp/z_en_elfgrp.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.h
Labels: documentation, Clean up, Merge-ready

#950 Document object_ma2 (Cremia)
  assets/xml/objects/object_ma2.xml
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Ma_Yto/z_en_ma_yto.c
  src/overlays/actors/ovl_En_Ma_Yto/z_en_ma_yto.h
  tools/disasm/variables.txt
Labels: Asset, Merge-ready

#953 `ovl_En_Okarina_Tag` OK
  spec
  src/overlays/actors/ovl_En_Okarina_Tag/z_en_okarina_tag.c
  src/overlays/actors/ovl_En_Okarina_Tag/z_en_okarina_tag.h
Labels: Overlay, Merge-ready

#957 `EnNnh` (Butler's Son) Documentation and one Kakasi thing I missed
  assets/xml/objects/object_nnh.xml
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.h
  src/overlays/actors/ovl_En_Nnh/z_en_nnh.c
  tools/disasm/functions.txt
Labels: documentation, Asset, Merge-ready

#951 Document DmChar02 and its animations, rename one struct var in DmStk
  assets/xml/objects/object_stk2.xml
  src/overlays/actors/ovl_Dm_Char02/z_dm_char02.c
  src/overlays/actors/ovl_Dm_Char02/z_dm_char02.h
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.h
  tools/disasm/functions.txt
Labels: documentation, Merge-ready

#958 General Cleanup 8
  assets/xml/objects/object_bigokuta.xml
  assets/xml/objects/object_bigslime.xml
  assets/xml/objects/object_bji.xml
  assets/xml/objects/object_fsn.xml
  assets/xml/objects/object_harfgibud.xml
  assets/xml/objects/object_pamera.xml
  assets/xml/objects/object_sdn.xml
  assets/xml/overlays/ovl_En_Bigslime.xml
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.c
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.h
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.h
  src/overlays/actors/ovl_En_Demo_heishi/z_en_demo_heishi.c
  src/overlays/actors/ovl_En_Demo_heishi/z_en_demo_heishi.h
  src/overlays/actors/ovl_En_Ending_Hero4/z_en_ending_hero4.c
  src/overlays/actors/ovl_En_Ending_Hero6/z_en_ending_hero6.c
  src/overlays/actors/ovl_En_Heishi/z_en_heishi.c
  src/overlays/actors/ovl_En_Heishi/z_en_heishi.h
  src/overlays/actors/ovl_En_Hg/z_en_hg.c
  src/overlays/actors/ovl_En_Hg/z_en_hg.h
  src/overlays/actors/ovl_En_Hgo/z_en_hgo.c
  src/overlays/actors/ovl_En_Hgo/z_en_hgo.h
  src/overlays/actors/ovl_En_Pamera/z_en_pamera.c
  src/overlays/actors/ovl_En_Pamera/z_en_pamera.h
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.h
Labels: Clean up, Merge-ready, Waiting-for-author

#960 Hex Cleanup
  include/PR/gbi.h
  include/PR/mbi.h
  include/libc/stdint.h
  include/ultra64/gs2dex.h
  include/ultra64/vi.h
  include/z64.h
  src/boot_O2_g3/fault.c
  src/code/z_message.c
  src/code/z_room.c
  src/code/z_scene.c
  src/libultra/gu/lookathil.c
  src/libultra/io/contreaddata.c
  src/libultra/io/controller.c
  src/libultra/io/epirawdma.c
  src/libultra/io/visetxscale.c
  src/libultra/os/initialize.c
  src/libultra/rmon/xldtob.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
Labels: Clean up, Merge-ready

#963 ovl_Dm_Char03 OK
  assets/xml/objects/object_osn.xml
  include/z64item.h
  spec
  src/overlays/actors/ovl_Dm_Char03/z_dm_char03.c
  src/overlays/actors/ovl_Dm_Char03/z_dm_char03.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready, Waiting-for-author

#964 Match 3 NON_MATCHINGS from code
  include/functions.h
  src/code/PreRender.c
  src/code/z_demo.c
  src/code/z_sram_NES.c
Labels: code, Clean up, Merge-ready

#944 General Cleanup 7
  src/boot_O2/gfxprint.c
  src/code/z_fireobj.c
  src/code/z_sram_NES.c
  src/libultra/gu/rotate.c
  src/libultra/rmon/xprintf.c
  src/overlays/actors/ovl_Bg_Keikoku_Saku/z_bg_keikoku_saku.h
  src/overlays/actors/ovl_Demo_Syoten/z_demo_syoten.c
  src/overlays/actors/ovl_Dm_Char00/z_dm_char00.c
  src/overlays/actors/ovl_Dm_Char00/z_dm_char00.h
  src/overlays/actors/ovl_Dm_Char07/z_dm_char07.h
  src/overlays/actors/ovl_Dm_Nb/z_dm_nb.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Kusa2/z_en_kusa2.c
  src/overlays/actors/ovl_En_Shn/z_en_shn.c
  src/overlays/actors/ovl_En_Shn/z_en_shn.h
  src/overlays/actors/ovl_En_Test7/z_en_test7.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.h
  src/overlays/actors/ovl_Obj_Flowerpot/z_obj_flowerpot.c
  src/overlays/actors/ovl_Obj_Kibako2/z_obj_kibako2.c
  src/overlays/actors/ovl_Obj_Kibako2/z_obj_kibako2.h
  src/overlays/actors/ovl_Obj_Raillift/z_obj_raillift.c
  src/overlays/gamestates/ovl_title/z_title.c
Labels: Clean up, Merge-ready, Waiting-for-author

#930 `ovl_En_Po_Sisters` and `object_po_sisters`Documented
  assets/xml/objects/object_po_sisters.xml
  src/overlays/actors/ovl_En_Po_Sisters/z_en_po_sisters.c
  src/overlays/actors/ovl_En_Po_Sisters/z_en_po_sisters.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Merge-ready

#962 Map Select: Docs and Cleanup
  include/variables.h
  include/z64save.h
  src/code/graph.c
  src/code/z_bgcheck.c
  src/code/z_common_data.c
  src/code/z_demo.c
  src/code/z_game_dlftbls.c
  src/code/z_scene.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.c
  src/overlays/gamestates/ovl_select/z_select.c
  src/overlays/gamestates/ovl_select/z_select.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
Labels: Clean up, Merge-ready, Waiting-for-author

#954 Inventory Editor Ok and Documented (z_kaleido_debug.c)
  include/z64.h
  include/z64save.h
  spec
  src/code/flg_set.c
  src/code/z_actor.c
  src/code/z_bgcheck.c
  src/code/z_kaleido_scope_call.c
  src/code/z_kaleido_setup.c
  src/code/z_lifemeter.c
  src/code/z_map_exp.c
  src/code/z_message.c
  src/code/z_message_nes.c
  src/code/z_parameter.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_En_Okarina_Effect/z_en_okarina_effect.c
  src/overlays/gamestates/ovl_file_choose/z_file_choose.h
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_collect.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_debug.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_item.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_map.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_mask.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope.h
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#932 Decompile/Document bgCam and actorCsCam (combination of Camera/BgCheck/Play)
  include/functions.h
  include/z64.h
  include/z64bgcheck.h
  include/z64scene.h
  src/code/z_bgcheck.c
  src/code/z_camera.c
  src/code/z_play.c
  src/code/z_scene.c
  src/overlays/actors/ovl_Bg_Dblue_Balance/z_bg_dblue_balance.c
  src/overlays/actors/ovl_Obj_Nozoki/z_obj_nozoki.c
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#905 ovl_Shot_Sun Decompiled
  include/z64message.h
  spec
  src/overlays/actors/ovl_Dm_Char01/z_dm_char01.c
  src/overlays/actors/ovl_En_Dai/z_en_dai.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.h
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Gg/z_en_gg.c
  src/overlays/actors/ovl_En_Gk/z_en_gk.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_Hg/z_en_hg.c
  src/overlays/actors/ovl_En_Hidden_Nuts/z_en_hidden_nuts.c
  src/overlays/actors/ovl_En_Kanban/z_en_kanban.c
  src/overlays/actors/ovl_En_Ruppecrow/z_en_ruppecrow.c
  src/overlays/actors/ovl_En_Time_Tag/z_en_time_tag.c
  src/overlays/actors/ovl_En_Yb/z_en_yb.c
  src/overlays/actors/ovl_En_Zog/z_en_zog.c
  src/overlays/actors/ovl_Obj_Ocarinalift/z_obj_ocarinalift.c
  src/overlays/actors/ovl_Shot_Sun/z_shot_sun.c
  src/overlays/actors/ovl_Shot_Sun/z_shot_sun.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready
