Repository zeldaret/mm, pull requests merged in 2022-09, with the labels that each got.

#902 Obj_Usiyane
  spec
  src/overlays/actors/ovl_Obj_Usiyane/z_obj_usiyane.c
  src/overlays/actors/ovl_Obj_Usiyane/z_obj_usiyane.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#991 ovl_En_Js Decompiled
  assets/xml/objects/object_ob.xml
  spec
  src/overlays/actors/ovl_En_Js/z_en_js.c
  src/overlays/actors/ovl_En_Js/z_en_js.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#995 En_bubble OK
  assets/xml/objects/object_bubble.xml
  spec
  src/overlays/actors/ovl_Demo_Kankyo/z_demo_kankyo.c
  src/overlays/actors/ovl_En_Bubble/z_en_bubble.c
  src/overlays/actors/ovl_En_Bubble/z_en_bubble.h
  src/overlays/actors/ovl_En_Elfbub/z_en_elfbub.c
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#999 EnAz and EnTwig (Beaver bros and the minigame rings)
  include/z64actor.h
  include/z64math.h
  spec
  src/overlays/actors/ovl_En_Az/z_en_az.c
  src/overlays/actors/ovl_En_Az/z_en_az.h
  src/overlays/actors/ovl_En_Twig/z_en_twig.c
  src/overlays/actors/ovl_En_Twig/z_en_twig.h
Labels: Overlay, Merge-ready

#1001 ovl_Oceff_Wipe3 OK
  assets/xml/overlays/ovl_Oceff_Wipe3.xml
  spec
  src/overlays/actors/ovl_Oceff_Wipe3/z_oceff_wipe3.c
  src/overlays/actors/ovl_Oceff_Wipe3/z_oceff_wipe3.h
Labels: Overlay, Merge-ready

#1004 ovl_Oceff_Spot OK
  assets/xml/overlays/ovl_Oceff_Spot.xml
  spec
  src/overlays/actors/ovl_Oceff_Spot/z_oceff_spot.c
  src/overlays/actors/ovl_Oceff_Spot/z_oceff_spot.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#1005 ovl_En_Encount1 OK
  spec
  src/overlays/actors/ovl_En_Encount1/z_en_encount1.c
  src/overlays/actors/ovl_En_Encount1/z_en_encount1.h
Labels: Overlay, Merge-ready

#1006 ovl_Oceff_Wipe2 OK
  assets/xml/overlays/ovl_Oceff_Wipe2.xml
  spec
  src/overlays/actors/ovl_Oceff_Wipe2/z_oceff_wipe2.c
  src/overlays/actors/ovl_Oceff_Wipe2/z_oceff_wipe2.h
Labels: Overlay, Merge-ready

#888 set LANG variable in Makefile
  Makefile
Labels: Tooling, Merge-ready

#934 `z_parameter`: Magic
  assets/xml/interface/parameter_static.xml
  include/functions.h
  include/macros.h
  include/regs.h
  include/variables.h
  include/z64.h
  include/z64actor.h
  include/z64save.h
  src/code/title_setup.c
  src/code/z_actor.c
  src/code/z_elf_message.c
  src/code/z_en_item00.c
  src/code/z_kaleido_setup.c
  src/code/z_parameter.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_Arrow_Fire/z_arrow_fire.c
  src/overlays/actors/ovl_Arrow_Ice/z_arrow_ice.c
  src/overlays/actors/ovl_Arrow_Light/z_arrow_light.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/actors/ovl_En_Dai/z_en_dai.c
  src/overlays/actors/ovl_En_Dnb/z_en_dnb.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  src/overlays/actors/ovl_En_Elfgrp/z_en_elfgrp.c
  src/overlays/actors/ovl_En_Firefly/z_en_firefly.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Gg/z_en_gg.c
  src/overlays/actors/ovl_En_Gg2/z_en_gg2.c
  src/overlays/actors/ovl_En_Gk/z_en_gk.c
  src/overlays/actors/ovl_En_Mt_tag/z_en_mt_tag.c
  src/overlays/actors/ovl_En_Test2/z_en_test2.c
  src/overlays/actors/ovl_Item_Etcetera/z_item_etcetera.c
  src/overlays/actors/ovl_Oceff_Spot/z_oceff_spot.c
  src/overlays/actors/ovl_Oceff_Wipe2/z_oceff_wipe2.c
  src/overlays/actors/ovl_Oceff_Wipe3/z_oceff_wipe3.c
  src/overlays/actors/ovl_Oceff_Wipe6/z_oceff_wipe6.c
  src/overlays/actors/ovl_Oceff_Wipe7/z_oceff_wipe7.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: documentation, code, Merge-ready

#993 Add enum for tatl hint id
  include/z64actor.h
  src/code/z_actor.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Boss_04/z_boss_04.c
  src/overlays/actors/ovl_En_Am/z_en_am.c
  src/overlays/actors/ovl_En_Baguo/z_en_baguo.c
  src/overlays/actors/ovl_En_Bat/z_en_bat.c
  src/overlays/actors/ovl_En_Bb/z_en_bb.c
  src/overlays/actors/ovl_En_Bbfall/z_en_bbfall.c
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Crow/z_en_crow.c
  src/overlays/actors/ovl_En_Death/z_en_death.c
  src/overlays/actors/ovl_En_Dekunuts/z_en_dekunuts.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dodongo/z_en_dodongo.c
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.c
  src/overlays/actors/ovl_En_Elfbub/z_en_elfbub.c
  src/overlays/actors/ovl_En_Famos/z_en_famos.c
  src/overlays/actors/ovl_En_Firefly/z_en_firefly.c
  src/overlays/actors/ovl_En_Floormas/z_en_floormas.c
  src/overlays/actors/ovl_En_Fz/z_en_fz.c
  src/overlays/actors/ovl_En_Hint_Skb/z_en_hint_skb.c
  src/overlays/actors/ovl_En_Ik/z_en_ik.c
  src/overlays/actors/ovl_En_Kame/z_en_kame.c
  src/overlays/actors/ovl_En_Karebaba/z_en_karebaba.c
  src/overlays/actors/ovl_En_Neo_Reeba/z_en_neo_reeba.c
  src/overlays/actors/ovl_En_Okuta/z_en_okuta.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Peehat/z_en_peehat.c
  src/overlays/actors/ovl_En_Po_Sisters/z_en_po_sisters.c
  src/overlays/actors/ovl_En_Poh/z_en_poh.c
  src/overlays/actors/ovl_En_Pr/z_en_pr.c
  src/overlays/actors/ovl_En_Pr2/z_en_pr2.c
  src/overlays/actors/ovl_En_Prz/z_en_prz.c
  src/overlays/actors/ovl_En_Rail_Skb/z_en_rail_skb.c
  src/overlays/actors/ovl_En_Railgibud/z_en_railgibud.c
  src/overlays/actors/ovl_En_Rat/z_en_rat.c
  src/overlays/actors/ovl_En_Rd/z_en_rd.c
  src/overlays/actors/ovl_En_Rr/z_en_rr.c
  src/overlays/actors/ovl_En_Sb/z_en_sb.c
  src/overlays/actors/ovl_En_Skb/z_en_skb.c
  src/overlays/actors/ovl_En_Snowman/z_en_snowman.c
  src/overlays/actors/ovl_En_St/z_en_st.c
  src/overlays/actors/ovl_En_Sw/z_en_sw.c
  src/overlays/actors/ovl_En_Syateki_Crow/z_en_syateki_crow.c
  src/overlays/actors/ovl_En_Syateki_Dekunuts/z_en_syateki_dekunuts.c
  src/overlays/actors/ovl_En_Syateki_Okuta/z_en_syateki_okuta.c
  src/overlays/actors/ovl_En_Syateki_Wf/z_en_syateki_wf.c
  src/overlays/actors/ovl_En_Talk_Gibud/z_en_talk_gibud.c
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.c
  src/overlays/actors/ovl_En_Tite/z_en_tite.c
  src/overlays/actors/ovl_En_Vm/z_en_vm.c
  src/overlays/actors/ovl_En_Wallmas/z_en_wallmas.c
  src/overlays/actors/ovl_En_Wf/z_en_wf.c
  src/overlays/actors/ovl_Obj_Kinoko/z_obj_kinoko.c
Labels: Clean up, Merge-ready, Waiting-for-author

#1016 Effect Dust OK
  assets/xml/objects/gameplay_keep.xml
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_En_Dnb/z_en_dnb.c
  src/overlays/actors/ovl_En_Fg/z_en_fg.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Rg/z_en_rg.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Water_Effect/z_en_water_effect.c
  src/overlays/actors/ovl_Object_Kankyo/z_object_kankyo.c
  src/overlays/effects/ovl_Effect_Ss_Dust/z_eff_ss_dust.c
  src/overlays/effects/ovl_Effect_Ss_Dust/z_eff_ss_dust.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1017 Effect DtBubble OK
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.c
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.c
  src/overlays/actors/ovl_En_Elfbub/z_en_elfbub.c
  src/overlays/actors/ovl_En_Gk/z_en_gk.c
  src/overlays/actors/ovl_En_Hidden_Nuts/z_en_hidden_nuts.c
  src/overlays/actors/ovl_En_Part/z_en_part.c
  src/overlays/actors/ovl_En_Syateki_Okuta/z_en_syateki_okuta.c
  src/overlays/actors/ovl_En_Tanron2/z_en_tanron2.c
  src/overlays/actors/ovl_En_Tanron3/z_en_tanron3.c
  src/overlays/effects/ovl_Effect_Ss_Bubble/z_eff_ss_bubble.c
  src/overlays/effects/ovl_Effect_Ss_Dt_Bubble/z_eff_ss_dt_bubble.c
  src/overlays/effects/ovl_Effect_Ss_Dt_Bubble/z_eff_ss_dt_bubble.h
Labels: Overlay, Merge-ready

#1018 Effect Deadds OK
  assets/xml/objects/gameplay_keep.xml
  spec
  src/overlays/effects/ovl_Effect_Ss_Dead_Dd/z_eff_ss_dead_dd.c
  src/overlays/effects/ovl_Effect_Ss_Dead_Ds/z_eff_ss_dead_ds.c
Labels: Overlay, Merge-ready

#1037 Effect Deaddb OK
  assets/xml/objects/gameplay_keep.xml
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/actors/ovl_En_Vm/z_en_vm.c
  src/overlays/effects/ovl_Effect_Ss_Dead_Db/z_eff_ss_dead_db.c
  src/overlays/effects/ovl_Effect_Ss_Dead_Db/z_eff_ss_dead_db.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1038 Effect Dfire OK
  assets/xml/objects/object_dodongo.xml
  include/functions.h
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/effects/ovl_Effect_Ss_D_Fire/z_eff_ss_d_fire.c
  src/overlays/effects/ovl_Effect_Ss_D_Fire/z_eff_ss_d_fire.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1039 Effect Bomb2 Ok
  assets/xml/objects/gameplay_keep.xml
  spec
  src/overlays/effects/ovl_Effect_Ss_Bomb2/z_eff_ss_bomb2.c
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1040 Effect Blast OK
  include/functions.h
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/effects/ovl_Effect_Ss_Blast/z_eff_ss_blast.c
  src/overlays/effects/ovl_Effect_Ss_Blast/z_eff_ss_blast.h
Labels: Overlay, Merge-ready

#1045 `z_kaleido_prompt.c` Ok and Documented (Pause Menu Save/Continue Prompt. Unused)
  include/z64.h
  spec
  src/code/z_kaleido_setup.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_mask.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_prompt.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1053 Fbdemo_triforce OK with documentation
  assets/xml/objects/object_fbdemo_triforce.xml
  include/functions.h
  spec
  src/overlays/fbdemos/ovl_fbdemo_triforce/z_fbdemo_triforce.c
  src/overlays/fbdemos/ovl_fbdemo_triforce/z_fbdemo_triforce.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1055 Document BgInibsMoveBg (Twinmold's Arena) and object_inibs_object
  assets/xml/objects/object_inibs_object.xml
  src/overlays/actors/ovl_Bg_Inibs_Movebg/z_bg_inibs_movebg.c
  src/overlays/actors/ovl_Bg_Inibs_Movebg/z_bg_inibs_movebg.h
  tools/disasm/variables.txt
Labels: documentation, Overlay, Asset, Merge-ready

#1057 Obj_Kendo_Kanban OK and Documented (Decomp was mostly done already)
  spec
  src/overlays/actors/ovl_Obj_Kendo_Kanban/z_obj_kendo_kanban.c
  src/overlays/actors/ovl_Obj_Kendo_Kanban/z_obj_kendo_kanban.h
  tools/disasm/functions.txt
Labels: documentation, Overlay, Merge-ready

#1086 ovl_En_Bee OK
  spec
  src/overlays/actors/ovl_En_Bee/z_en_bee.c
  src/overlays/actors/ovl_En_Bee/z_en_bee.h
Labels: Overlay, Merge-ready

#1056 Extract assets from link_animetion
  assets/xml/misc/link_animetion.xml
  assets/xml/objects/gameplay_keep.xml
  spec
Labels: Asset, Merge-ready

#1062 Document object_mtoride (Woodfall scene objects)
  assets/xml/objects/object_mtoride.xml
  assets/xml/overlays/ovl_Dm_Char01.xml
  src/overlays/actors/ovl_Dm_Char01/z_dm_char01.c
Labels: Asset, Merge-ready

#1067 Document object_lotus (lily pad)
  assets/xml/objects/object_lotus.xml
  src/overlays/actors/ovl_Bg_Lotus/z_bg_lotus.c
Labels: Asset, Merge-ready

#1068 Document Song of Time Clock assets in gameplay_keep
  assets/xml/objects/gameplay_keep.xml
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
Labels: Asset, Merge-ready

#1074 Document object_market_obj (West Clock Town Market)
  assets/xml/objects/object_market_obj.xml
  src/overlays/actors/ovl_Bg_Market_Step/z_bg_market_step.c
  src/overlays/actors/ovl_Bg_Market_Step/z_bg_market_step.h
  tools/disasm/variables.txt
Labels: Asset, Merge-ready

#1075 Document object_warp1 (blue warp, warp crystal, boss warp)
  assets/xml/objects/object_warp1.xml
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
Labels: Asset, Merge-ready

#1077 Document object_dblue_object (Great Bay Temple objects)
  assets/xml/objects/object_dblue_object.xml
  src/overlays/actors/ovl_Bg_Dblue_Balance/z_bg_dblue_balance.c
  src/overlays/actors/ovl_Bg_Dblue_Movebg/z_bg_dblue_movebg.c
  src/overlays/actors/ovl_Bg_Dblue_Movebg/z_bg_dblue_movebg.h
  src/overlays/actors/ovl_Bg_Dblue_Waterfall/z_bg_dblue_waterfall.c
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
  tools/disasm/variables.txt
Labels: Asset, Merge-ready

#1078 Document object_gs (Gossip Stone)
  assets/xml/objects/object_gs.xml
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
Labels: Asset, Merge-ready

#1081 Object_trt documented + other shopkeeper cleanup
  assets/xml/objects/object_cne.xml
  assets/xml/objects/object_trt.xml
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.h
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.h
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.h
  src/overlays/actors/ovl_En_Trt2/z_en_trt2.c
  tools/disasm/functions.txt
Labels: Asset, Merge-ready

#1083 Document object_az (Beaver Bros.)
  assets/xml/objects/object_az.xml
  src/overlays/actors/ovl_En_Az/z_en_az.c
  tools/disasm/variables.txt
Labels: Asset, Merge-ready

#1087 Document object_bdoor (Boss Doors)
  assets/xml/objects/gameplay_dangeon_keep.xml
  assets/xml/objects/object_bdoor.xml
  src/code/z_actor.c
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
Labels: Asset, Merge-ready

#1044 Cleanup some "raw" actor flags
  src/overlays/actors/ovl_Arms_Hook/z_arms_hook.c
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bom/z_en_bom.c
  src/overlays/actors/ovl_En_Boom/z_en_boom.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Peehat/z_en_peehat.c
  src/overlays/actors/ovl_En_Pp/z_en_pp.c
  src/overlays/actors/ovl_En_Rat/z_en_rat.c
  src/overlays/actors/ovl_En_Wood02/z_en_wood02.c
Labels: Clean up, Merge-ready

#1059 Fix up some actor descriptions
  src/overlays/actors/ovl_Bg_Ikana_Rotaryroom/z_bg_ikana_rotaryroom.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Dm_An/z_dm_an.c
  src/overlays/actors/ovl_Dm_Gm/z_dm_gm.c
  src/overlays/actors/ovl_En_Hs2/z_en_hs2.c
  src/overlays/actors/ovl_En_Tag_Obj/z_en_tag_obj.c
  src/overlays/actors/ovl_En_Tanron6/z_en_tanron6.c
  src/overlays/actors/ovl_En_Water_Effect/z_en_water_effect.c
  src/overlays/actors/ovl_En_Water_Effect/z_en_water_effect.h
  src/overlays/actors/ovl_Item_Inbox/z_item_inbox.c
  src/overlays/actors/ovl_Obj_Dowsing/z_obj_dowsing.c
Labels: Clean up, Merge-ready

#1060 ActorContext Flags
  include/z64actor.h
  src/code/z_actor.c
  src/code/z_kaleido_setup.c
  src/code/z_play.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_En_Bom/z_en_bom.c
  src/overlays/actors/ovl_En_Box/z_en_box.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.c
  src/overlays/actors/ovl_En_Fall/z_en_fall.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Scopecoin/z_en_scopecoin.c
  src/overlays/actors/ovl_En_Scopecrow/z_en_scopecrow.c
  src/overlays/actors/ovl_En_Scopenuts/z_en_scopenuts.c
  src/overlays/actors/ovl_En_Sth/z_en_sth.c
  src/overlays/actors/ovl_En_Sth2/z_en_sth2.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_En_Toto/z_en_toto.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.c
  src/overlays/actors/ovl_Obj_Comb/z_obj_comb.c
  src/overlays/actors/ovl_Obj_Kibako2/z_obj_kibako2.c
  src/overlays/actors/ovl_Obj_Nozoki/z_obj_nozoki.c
  src/overlays/actors/ovl_Obj_Switch/z_obj_switch.c
  src/overlays/actors/ovl_Obj_Taru/z_obj_taru.c
  src/overlays/actors/ovl_Obj_Tokeidai/z_obj_tokeidai.c
  src/overlays/actors/ovl_Obj_Tsubo/z_obj_tsubo.c
  tools/namefixer.py
Labels: Clean up, Merge-ready

#1034 Audio: Various Cleanup and Docs
  include/functions.h
  include/variables.h
  include/z64audio.h
  src/code/audio/audio_effects.c
  src/code/audio/audio_heap.c
  src/code/audio/audio_init_params.c
  src/code/audio/audio_load.c
  src/code/audio/audio_playback.c
  src/code/audio/audio_seqplayer.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Obj_Flowerpot/z_obj_flowerpot.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: Clean up, Audio, Merge-ready

#1047 Gamestates Cleanup
  include/functions.h
  include/macros.h
  include/z64.h
  include/z64save.h
  include/z_prenmi.h
  include/z_title_setup.h
  src/code/game.c
  src/code/graph.c
  src/code/title_setup.c
  src/code/z_demo.c
  src/code/z_game_dlftbls.c
  src/code/z_prenmi.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/gamestates/ovl_daytelop/z_daytelop.c
  src/overlays/gamestates/ovl_daytelop/z_daytelop.h
  src/overlays/gamestates/ovl_file_choose/z_file_choose.h
  src/overlays/gamestates/ovl_file_choose/z_file_choose_NES.c
  src/overlays/gamestates/ovl_opening/z_opening.c
  src/overlays/gamestates/ovl_opening/z_opening.h
  src/overlays/gamestates/ovl_select/z_select.c
  src/overlays/gamestates/ovl_select/z_select.h
  src/overlays/gamestates/ovl_title/z_title.c
  src/overlays/gamestates/ovl_title/z_title.h
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: Clean up, Merge-ready

#1048 Item cleanup: Item drops, rupees, signs
  assets/xml/objects/gameplay_keep.xml
  include/variables.h
  src/code/z_en_item00.c
  src/overlays/actors/ovl_En_Col_Man/z_en_col_man.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Gamelupy/z_en_gamelupy.c
  src/overlays/actors/ovl_En_Kanban/z_en_kanban.c
  src/overlays/actors/ovl_En_Ot/z_en_ot.c
  src/overlays/actors/ovl_En_Sc_Ruppe/z_en_sc_ruppe.c
  src/overlays/actors/ovl_En_Scopecoin/z_en_scopecoin.c
  src/overlays/actors/ovl_En_Scopecoin/z_en_scopecoin.h
  src/overlays/actors/ovl_En_Tanron5/z_en_tanron5.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Clean up, Merge-ready

#1084 Give Deku Princess/King/Butler's objects the "correct" name
  assets/xml/objects/object_dnj.xml
  assets/xml/objects/object_dno.xml
  assets/xml/objects/object_dnp.xml
  assets/xml/objects/object_dnq.xml
  include/segment_symbols.h
  include/z64object.h
  spec
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
  src/overlays/actors/ovl_En_Dnp/z_en_dnp.c
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.c
  tools/ZAPDConfigs/MM/ObjectList_MM.txt
  tools/disasm/dma_filenames.txt
  tools/extract_baserom.py
  tools/filelists/mm.us.rev1/all.csv
  tools/filelists/mm.us.rev1/objects.csv
Labels: Clean up, Asset, Merge-ready

#1007 ovl_Oceff_Wipe4 OK
  assets/xml/overlays/ovl_Oceff_Wipe4.xml
  spec
  src/overlays/actors/ovl_Oceff_Wipe4/z_oceff_wipe4.c
  src/overlays/actors/ovl_Oceff_Wipe4/z_oceff_wipe4.h
Labels: Overlay, Merge-ready

#1027 z_kaleido_item.c Ok and Documented (Pause Menu Item Page)
  docs/tutorial/object_decomp_example.md
  include/functions.h
  include/z64.h
  include/z64item.h
  src/code/z_kaleido_setup.c
  src/code/z_message.c
  src/code/z_message_nes.c
  src/code/z_player_lib.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_debug.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_item.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope.h
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1063 Document EnSyatekiCrow
  src/overlays/actors/ovl_En_Syateki_Crow/z_en_syateki_crow.c
  src/overlays/actors/ovl_En_Syateki_Crow/z_en_syateki_crow.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Merge-ready

#1043 EnGrasshopper (Dragonflies) OK and documented, object_grasshopper documented
  assets/xml/objects/object_grasshopper.xml
  spec
  src/overlays/actors/ovl_En_Grasshopper/z_en_grasshopper.c
  src/overlays/actors/ovl_En_Grasshopper/z_en_grasshopper.h
  src/overlays/actors/ovl_En_Pp/z_en_pp.c
  src/overlays/actors/ovl_En_Pp/z_en_pp.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Asset, Merge-ready

#1091 Document object_zos (Evan)
  assets/xml/objects/object_zos.xml
  src/overlays/actors/ovl_En_Zos/z_en_zos.c
  src/overlays/actors/ovl_En_Zos/z_en_zos.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Merge-ready

#942 `z_parameter`: Hud Visibility
  include/functions.h
  include/z64save.h
  include/z64scene.h
  src/code/z_actor.c
  src/code/z_bgcheck.c
  src/code/z_common_data.c
  src/code/z_demo.c
  src/code/z_game_over.c
  src/code/z_kaleido_setup.c
  src/code/z_map_exp.c
  src/code/z_message.c
  src/code/z_parameter.c
  src/code/z_play.c
  src/code/z_player_lib.c
  src/code/z_room.c
  src/code/z_scene.c
  src/overlays/actors/ovl_Bg_Dblue_Movebg/z_bg_dblue_movebg.c
  src/overlays/actors/ovl_Boss_04/z_boss_04.c
  src/overlays/actors/ovl_Dm_Char00/z_dm_char00.c
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
  src/overlays/actors/ovl_Door_Spiral/z_door_spiral.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Bom/z_en_bom.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Holl/z_en_holl.c
  src/overlays/actors/ovl_En_Ishi/z_en_ishi.c
  src/overlays/actors/ovl_En_Kusa/z_en_kusa.c
  src/overlays/actors/ovl_En_Kusa2/z_en_kusa2.c
  src/overlays/actors/ovl_En_Mag/z_en_mag.c
  src/overlays/actors/ovl_En_Mm/z_en_mm.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Test2/z_en_test2.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_En_Test7/z_en_test7.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/actors/ovl_En_Viewer/z_en_viewer.c
  src/overlays/actors/ovl_Obj_Flowerpot/z_obj_flowerpot.c
  src/overlays/actors/ovl_Obj_Hunsui/z_obj_hunsui.c
  src/overlays/actors/ovl_Obj_Kibako/z_obj_kibako.c
  src/overlays/actors/ovl_Obj_Snowball2/z_obj_snowball2.c
  src/overlays/actors/ovl_Obj_Tsubo/z_obj_tsubo.c
  src/overlays/gamestates/ovl_select/z_select.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_item.c
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: documentation, code

#1021 ovl_Obj_Swprize OK
  spec
  src/overlays/actors/ovl_Obj_Swprize/z_obj_swprize.c
  src/overlays/actors/ovl_Obj_Swprize/z_obj_swprize.h
  tools/disasm/functions.txt
Labels: Overlay, Needs-lead-input

#1028 ovl_En_Nimotsu OK and documented
  assets/xml/objects/object_boj.xml
  spec
  src/overlays/actors/ovl_En_Nimotsu/z_en_nimotsu.c
  src/overlays/actors/ovl_En_Nimotsu/z_en_nimotsu.h
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1031 `z_parameter`: Timers
  include/functions.h
  include/regs.h
  include/variables.h
  include/z64player.h
  include/z64save.h
  src/boot_O2_g3/idle.c
  src/code/code_8012EC80.c
  src/code/z_bgcheck.c
  src/code/z_game_over.c
  src/code/z_map_exp.c
  src/code/z_parameter.c
  src/code/z_player_lib.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_En_Az/z_en_az.c
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Gk/z_en_gk.c
  src/overlays/actors/ovl_En_Horse_Game_Check/z_en_horse_game_check.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Jgame_Tsn/z_en_jgame_tsn.c
  src/overlays/actors/ovl_En_Kusa/z_en_kusa.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  src/overlays/actors/ovl_En_Mm3/z_en_mm3.c
  src/overlays/actors/ovl_En_Mm3/z_en_mm3.h
  src/overlays/actors/ovl_En_Mt_tag/z_en_mt_tag.c
  src/overlays/actors/ovl_En_Syateki_Dekunuts/z_en_syateki_dekunuts.c
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_En_Time_Tag/z_en_time_tag.c
  src/overlays/actors/ovl_Obj_Roomtimer/z_obj_roomtimer.c
  src/overlays/gamestates/ovl_select/z_select.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#1035 `En_Ru`: OK (Unused OoT Ruto)
  assets/xml/objects/object_ru2.xml
  spec
  src/overlays/actors/ovl_En_Ru/z_en_ru.c
  src/overlays/actors/ovl_En_Ru/z_en_ru.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#1042 EnTg OK and documented, object_mu documented
  assets/xml/objects/object_mu.xml
  spec
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Tg/z_en_tg.c
  src/overlays/actors/ovl_En_Tg/z_en_tg.h
  tools/disasm/functions.txt
Labels: Overlay, Asset, Merge-ready, Waiting-for-author

#1033 Audio Sequences: Scene/Ambience/SeqFlags Functions OK
  include/functions.h
  include/sequence.h
  include/variables.h
  include/z64.h
  include/z64audio.h
  include/z64save.h
  include/z64scene.h
  src/code/audio/audio_seqplayer.c
  src/code/audio/code_8019AF00.c
  src/code/audio/code_801A5BD0.c
  src/code/audio/code_801A7B10.c
  src/code/game.c
  src/code/graph.c
  src/code/z_common_data.c
  src/code/z_demo.c
  src/code/z_game_over.c
  src/code/z_scene.c
  src/overlays/actors/ovl_Boss_04/z_boss_04.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Az/z_en_az.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.h
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Bomjimb/z_en_bomjimb.c
  src/overlays/actors/ovl_En_Box/z_en_box.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Ik/z_en_ik.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Ma_Yto/z_en_ma_yto.c
  src/overlays/actors/ovl_En_Mm3/z_en_mm3.c
  src/overlays/actors/ovl_En_Owl/z_en_owl.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Syateki_Dekunuts/z_en_syateki_dekunuts.c
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  src/overlays/actors/ovl_En_Syateki_Wf/z_en_syateki_wf.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Test7/z_en_test7.c
  src/overlays/actors/ovl_En_Warp_tag/z_en_warp_tag.c
  src/overlays/actors/ovl_Obj_Demo/z_obj_demo.c
  src/overlays/actors/ovl_Obj_Um/z_obj_um.c
  src/overlays/gamestates/ovl_select/z_select.c
  src/overlays/gamestates/ovl_title/z_title.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: code, Audio, Merge-ready

#1008 ovl_Oceff_Wipe OK
  assets/xml/overlays/ovl_Oceff_Wipe.xml
  spec
  src/overlays/actors/ovl_Oceff_Wipe/z_oceff_wipe.c
  src/overlays/actors/ovl_Oceff_Wipe/z_oceff_wipe.h
Labels: Overlay, Merge-ready

#1011 ovl_Oceff_Wipe5 OK
  assets/xml/overlays/ovl_Oceff_Wipe5.xml
  spec
  src/overlays/actors/ovl_Oceff_Wipe5/z_oceff_wipe5.c
  src/overlays/actors/ovl_Oceff_Wipe5/z_oceff_wipe5.h
Labels: Overlay, Merge-ready

#1101 Document BgCraceMovebg (sliding doors in Deku Shrine) and object_crace_object
  assets/xml/objects/object_crace_object.xml
  src/overlays/actors/ovl_Bg_Crace_Movebg/z_bg_crace_movebg.c
  src/overlays/actors/ovl_Bg_Crace_Movebg/z_bg_crace_movebg.h
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
  src/overlays/actors/ovl_En_Dno/z_en_dno.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Clean up, Asset, Merge-ready

#1100 Document object_dnj (Deku Butler)
  assets/xml/objects/object_dnj.xml
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
  src/overlays/actors/ovl_En_Dno/z_en_dno.h
Labels: documentation, Asset, Merge-ready
