Repository zeldaret/mm, pull requests merged in 2022-06, with the labels that each got.

#703 z_en_box.c, z_demo_tre_lgt.c OK, some object_box documentation
  assets/xml/objects/object_box.xml
  include/functions.h
  include/z64item.h
  spec
  src/code/z_actor.c
  src/overlays/actors/ovl_Demo_Tre_Lgt/z_demo_tre_lgt.c
  src/overlays/actors/ovl_Demo_Tre_Lgt/z_demo_tre_lgt.h
  src/overlays/actors/ovl_En_Box/z_en_box.c
  src/overlays/actors/ovl_En_Box/z_en_box.h
  src/overlays/actors/ovl_En_GirlA/z_en_girla.c
  src/overlays/actors/ovl_En_Sth/z_en_sth.c
  src/overlays/actors/ovl_En_Tsn/z_en_tsn.c
  src/overlays/actors/ovl_En_Zow/z_en_zow.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Last-review

#831 Yasi descriptive names
  assets/xml/objects/object_obj_yasi.xml
  src/overlays/actors/ovl_Obj_Yasi/z_obj_yasi.c
  src/overlays/actors/ovl_Obj_Yasi/z_obj_yasi.h
Labels: documentation, Asset, Merge-ready

#830 ClearTag Cleanup
  assets/xml/objects/gameplay_keep.xml
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.h
Labels: Clean up, Merge-ready

#829 VisMono OK and documented
  include/PR/gbi.h
  include/functions.h
  include/variables.h
  include/z64.h
  src/code/game.c
  src/code/z_rcp.c
  src/code/z_vismono.c
  src/overlays/fbdemos/ovl_fbdemo_wipe5/z_fbdemo_wipe5.c
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#827 Dm_Stk (Skull Kid) documented, object_stk and object_stk3 fully documented, object_stk2 mostly documented
  assets/xml/objects/object_stk.xml
  assets/xml/objects/object_stk2.xml
  assets/xml/objects/object_stk3.xml
  src/overlays/actors/ovl_Dm_Sa/z_dm_sa.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.h
  tools/disasm/functions.txt
Labels: documentation, Merge-ready

#826 Gfxprint OK
  include/PR/gbi.h
  include/functions.h
  include/gfxprint.h
  include/variables.h
  include/z64.h
  src/boot_O2/gfxprint.c
  src/boot_O2_g3/fault_drawer.c
  src/code/sys_matrix.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/boot_functions.csv
Labels: boot, Merge-ready

#822 `Effect_Ss_Extra` (points that appear above targets in Swamp Archery Minigame) and `object_yabusame_point`
  assets/xml/objects/object_yabusame_point.xml
  spec
  src/overlays/effects/ovl_Effect_Ss_Extra/z_eff_ss_extra.c
Labels: Overlay, Merge-ready

#820 Obj_Tokei_Turret OK
  assets/xml/objects/object_tokei_turret.xml
  spec
  src/overlays/actors/ovl_Obj_Tokei_Turret/z_obj_tokei_turret.c
  src/overlays/actors/ovl_Obj_Tokei_Turret/z_obj_tokei_turret.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#806 En_Horse_Link_Child
  include/z64skin.h
  spec
  src/overlays/actors/ovl_En_Horse_Link_Child/z_en_horse_link_child.c
  src/overlays/actors/ovl_En_Horse_Link_Child/z_en_horse_link_child.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#814 Sob1 Objects Documented
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_mask_gero.xml
  assets/xml/objects/object_mastergolon.xml
  assets/xml/objects/object_masterzoora.xml
  assets/xml/objects/object_oF1d_map.xml
  assets/xml/objects/object_rs.xml
  assets/xml/objects/object_zo.xml
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.h
  src/overlays/actors/ovl_En_Geg/z_en_geg.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.h
  src/overlays/actors/ovl_En_Rg/z_en_rg.c
  src/overlays/actors/ovl_En_Rsn/z_en_rsn.c
  src/overlays/actors/ovl_En_Rsn/z_en_rsn.h
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.h
  src/overlays/actors/ovl_En_Zo/z_en_zo.c
  src/overlays/actors/ovl_En_Zo/z_en_zo.h
  src/overlays/actors/ovl_En_Zot/z_en_zot.c
  src/overlays/actors/ovl_En_Zow/z_en_zow.c
  src/overlays/actors/ovl_Object_Kankyo/z_object_kankyo.c
Labels: Asset, Merge-ready

#776 `z_fcurve_data` OK, match last function in `z_fcurve_data_skelanime`, document SkelCurve system
  include/functions.h
  include/os_internal.h
  include/z64.h
  include/z64animation.h
  include/z64curve.h
  include/z64item.h
  include/z64math.h
  src/code/z_fcurve_data.c
  src/code/z_fcurve_data_skelanime.c
  src/code/z_skelanime.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Demo_Effect/z_demo_effect.c
  src/overlays/actors/ovl_Demo_Effect/z_demo_effect.h
  src/overlays/actors/ovl_Demo_Tre_Lgt/z_demo_tre_lgt.c
  src/overlays/actors/ovl_Demo_Tre_Lgt/z_demo_tre_lgt.h
  src/overlays/actors/ovl_En_Box/z_en_box.c
  src/overlays/actors/ovl_En_Box/z_en_box.h
  src/overlays/actors/ovl_En_Torch/z_en_torch.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, code, Merge-ready

#815 Obj_Toge
  include/functions.h
  spec
  src/overlays/actors/ovl_Obj_Toge/z_obj_toge.c
  src/overlays/actors/ovl_Obj_Toge/z_obj_toge.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#819 Change `Rand_Next` to `u32`, document `rand.c` a bit more
  include/functions.h
  src/boot_O2/rand.c
  src/code/sys_math_atan.c
  src/code/z_actor.c
  src/overlays/actors/ovl_Bg_Ctower_Gear/z_bg_ctower_gear.c
  src/overlays/actors/ovl_Bg_Dblue_Balance/z_bg_dblue_balance.c
  src/overlays/actors/ovl_Bg_Dblue_Waterfall/z_bg_dblue_waterfall.c
  src/overlays/actors/ovl_Bg_Hakugin_Bombwall/z_bg_hakugin_bombwall.c
  src/overlays/actors/ovl_Bg_Hakugin_Post/z_bg_hakugin_post.c
  src/overlays/actors/ovl_Bg_Lotus/z_bg_lotus.c
  src/overlays/actors/ovl_En_Bb/z_en_bb.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Dodongo/z_en_dodongo.c
  src/overlays/actors/ovl_En_Famos/z_en_famos.c
  src/overlays/actors/ovl_En_Fish/z_en_fish.c
  src/overlays/actors/ovl_En_Fu_Mato/z_en_fu_mato.c
  src/overlays/actors/ovl_En_Goroiwa/z_en_goroiwa.c
  src/overlays/actors/ovl_En_Hakurock/z_en_hakurock.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Ishi/z_en_ishi.c
  src/overlays/actors/ovl_En_Jgame_Tsn/z_en_jgame_tsn.c
  src/overlays/actors/ovl_En_Kame/z_en_kame.c
  src/overlays/actors/ovl_En_Kendo_Js/z_en_kendo_js.c
  src/overlays/actors/ovl_En_Kusa/z_en_kusa.c
  src/overlays/actors/ovl_En_Kusa2/z_en_kusa2.c
  src/overlays/actors/ovl_En_Minislime/z_en_minislime.c
  src/overlays/actors/ovl_En_Mushi2/z_en_mushi2.c
  src/overlays/actors/ovl_En_Peehat/z_en_peehat.c
  src/overlays/actors/ovl_En_Skb/z_en_skb.c
  src/overlays/actors/ovl_En_Snowman/z_en_snowman.c
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.c
  src/overlays/actors/ovl_Obj_Bombiwa/z_obj_bombiwa.c
  src/overlays/actors/ovl_Obj_Dhouse/z_obj_dhouse.c
  src/overlays/actors/ovl_Obj_Flowerpot/z_obj_flowerpot.c
  src/overlays/actors/ovl_Obj_Grass/z_obj_grass.c
  src/overlays/actors/ovl_Obj_Hakaisi/z_obj_hakaisi.c
  src/overlays/actors/ovl_Obj_Hamishi/z_obj_hamishi.c
  src/overlays/actors/ovl_Obj_Hugebombiwa/z_obj_hugebombiwa.c
  src/overlays/actors/ovl_Obj_Iceblock/z_obj_iceblock.c
  src/overlays/actors/ovl_Obj_Kibako2/z_obj_kibako2.c
  src/overlays/actors/ovl_Obj_Snowball/z_obj_snowball.c
  src/overlays/actors/ovl_Obj_Snowball2/z_obj_snowball2.c
Labels: documentation, Clean up, Merge-ready

#837 Effect Kfire OK
  spec
  src/overlays/effects/ovl_Effect_Ss_K_Fire/z_eff_ss_k_fire.c
Labels: Overlay, Merge-ready

#838 Effect Icesmoke OK
  assets/xml/objects/gameplay_keep.xml
  spec
  src/overlays/effects/ovl_Effect_Ss_Ice_Smoke/z_eff_ss_ice_smoke.c
Labels: Overlay, Merge-ready

#839 Effect Icepiece OK
  assets/xml/objects/gameplay_keep.xml
  spec
  src/overlays/effects/ovl_Effect_Ss_Ice_Piece/z_eff_ss_ice_piece.c
Labels: Overlay, Merge-ready

#841 z_bg_astr_bombwall decompiled
  include/PR/gbi.h
  spec
  src/overlays/actors/ovl_Bg_Astr_Bombwall/z_bg_astr_bombwall.c
  src/overlays/actors/ovl_Bg_Astr_Bombwall/z_bg_astr_bombwall.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#834 `DmZl` OK and some docs of `object_zl4` (Child Zelda used in one cutscene)
  assets/xml/objects/object_zl4.xml
  spec
  src/overlays/actors/ovl_Dm_Zl/z_dm_zl.c
  src/overlays/actors/ovl_Dm_Zl/z_dm_zl.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#842 obj_boat decompiled
  spec
  src/overlays/actors/ovl_Obj_Boat/z_obj_boat.c
  src/overlays/actors/ovl_Obj_Boat/z_obj_boat.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#843 z_en_sc_ruppe decompiled
  spec
  src/overlays/actors/ovl_En_Sc_Ruppe/z_en_sc_ruppe.c
  src/overlays/actors/ovl_En_Sc_Ruppe/z_en_sc_ruppe.h
Labels: Overlay, Merge-ready

#844 ovl_en_hata decompiled
  spec
  src/overlays/actors/ovl_En_Hata/z_en_hata.c
  src/overlays/actors/ovl_En_Hata/z_en_hata.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#845 z_dm_opstage decompiled
  spec
  src/overlays/actors/ovl_Dm_Opstage/z_dm_opstage.c
  src/overlays/actors/ovl_Dm_Opstage/z_dm_opstage.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#846 ovl_Dm_Bal decompiled
  spec
  src/overlays/actors/ovl_Dm_Bal/z_dm_bal.c
  src/overlays/actors/ovl_Dm_Bal/z_dm_bal.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#847 ovl_Bg_Keikoku_Saku decompiled
  spec
  src/overlays/actors/ovl_Bg_Keikoku_Saku/z_bg_keikoku_saku.c
  src/overlays/actors/ovl_Bg_Keikoku_Saku/z_bg_keikoku_saku.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#848 ovl_Bg_Ikninside OK
  spec
  src/overlays/actors/ovl_Bg_Ikninside/z_bg_ikninside.c
  src/overlays/actors/ovl_Bg_Ikninside/z_bg_ikninside.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#850 ovl_Obj_Rotlift decompiled
  spec
  src/overlays/actors/ovl_Obj_Rotlift/z_obj_rotlift.c
  src/overlays/actors/ovl_Obj_Rotlift/z_obj_rotlift.h
Labels: Overlay, Merge-ready

#851 BgIkanaDharma (punchable pillar segments in STT) OK
  assets/xml/objects/object_ikana_obj.xml
  spec
  src/overlays/actors/ovl_Bg_Ikana_Dharma/z_bg_ikana_dharma.c
  src/overlays/actors/ovl_Bg_Ikana_Dharma/z_bg_ikana_dharma.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: documentation, Overlay, Merge-ready

#823 SubS Time Paths (Finale)
  assets/xml/code/sub_s.xml
  include/functions.h
  include/z64subs.h
  src/code/z_sub_s.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.h
  src/overlays/actors/ovl_En_Baba/z_en_baba.c
  src/overlays/actors/ovl_En_Baba/z_en_baba.h
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.h
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.h
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.h
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.h
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#852 Controller Macros Update
  include/macros.h
  src/code/flg_set.c
  src/code/z_kaleido_setup.c
  src/code/z_message.c
  src/overlays/actors/ovl_Arms_Hook/z_arms_hook.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Mag/z_en_mag.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Tanron2/z_en_tanron2.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/gamestates/ovl_select/z_select.c
Labels: Clean up, Merge-ready

#828 Actor effect cleanup
  include/z64.h
  src/overlays/actors/ovl_Bg_Goron_Oyu/z_bg_goron_oyu.c
  src/overlays/actors/ovl_Boss_Hakugin/z_boss_hakugin.h
  src/overlays/actors/ovl_Demo_Kankyo/z_demo_kankyo.c
  src/overlays/actors/ovl_Demo_Kankyo/z_demo_kankyo.h
  src/overlays/actors/ovl_En_Baguo/z_en_baguo.c
  src/overlays/actors/ovl_En_Baguo/z_en_baguo.h
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.h
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.h
  src/overlays/actors/ovl_En_Dai/z_en_dai.c
  src/overlays/actors/ovl_En_Dai/z_en_dai.h
  src/overlays/actors/ovl_En_Daiku2/z_en_daiku2.c
  src/overlays/actors/ovl_En_Daiku2/z_en_daiku2.h
  src/overlays/actors/ovl_En_Dnb/z_en_dnb.c
  src/overlays/actors/ovl_En_Dnb/z_en_dnb.h
  src/overlays/actors/ovl_En_Encount2/z_en_encount2.c
  src/overlays/actors/ovl_En_Encount2/z_en_encount2.h
  src/overlays/actors/ovl_En_Fall/z_en_fall.c
  src/overlays/actors/ovl_En_Fall/z_en_fall.h
  src/overlays/actors/ovl_En_Hakurock/z_en_hakurock.c
  src/overlays/actors/ovl_En_Minislime/z_en_minislime.c
  src/overlays/actors/ovl_En_Raf/z_en_raf.c
  src/overlays/actors/ovl_En_Raf/z_en_raf.h
  src/overlays/actors/ovl_Obj_Chan/z_obj_chan.c
  tools/disasm/functions.txt
Labels: Clean up, Merge-ready

#832 Code_800E8EA0 Docs
  docs/tutorial/documenting.md
  docs/tutorial/other_functions.md
  include/functions.h
  include/variables.h
  include/z64subs.h
  include/z_en_hy_code.h
  src/code/code_800E8EA0.c
  src/code/z_actor.c
  src/code/z_demo.c
  src/code/z_play.c
  src/code/z_sub_s.c
  src/overlays/actors/ovl_En_Ani/z_en_ani.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.h
  src/overlays/actors/ovl_En_Baba/z_en_baba.c
  src/overlays/actors/ovl_En_Baba/z_en_baba.h
  src/overlays/actors/ovl_En_Bba_01/z_en_bba_01.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Cne_01/z_en_cne_01.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Gg/z_en_gg.c
  src/overlays/actors/ovl_En_Gg2/z_en_gg2.c
  src/overlays/actors/ovl_En_Ginko_Man/z_en_ginko_man.c
  src/overlays/actors/ovl_En_Gk/z_en_gk.c
  src/overlays/actors/ovl_En_Hgo/z_en_hgo.c
  src/overlays/actors/ovl_En_Holl/z_en_holl.c
  src/overlays/actors/ovl_En_Hs/z_en_hs.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_In/z_en_in.h
  src/overlays/actors/ovl_En_Jg/z_en_jg.c
  src/overlays/actors/ovl_En_Jgame_Tsn/z_en_jgame_tsn.c
  src/overlays/actors/ovl_En_Kendo_Js/z_en_kendo_js.c
  src/overlays/actors/ovl_En_Kgy/z_en_kgy.c
  src/overlays/actors/ovl_En_Mk/z_en_mk.c
  src/overlays/actors/ovl_En_Mm3/z_en_mm3.c
  src/overlays/actors/ovl_En_Osn/z_en_osn.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
  src/overlays/actors/ovl_En_Pamera/z_en_pamera.c
  src/overlays/actors/ovl_En_Recepgirl/z_en_recepgirl.c
  src/overlays/actors/ovl_En_Rsn/z_en_rsn.c
  src/overlays/actors/ovl_En_Sth/z_en_sth.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.h
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  src/overlays/actors/ovl_En_Talk_Gibud/z_en_talk_gibud.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_En_Tsn/z_en_tsn.c
  src/overlays/actors/ovl_En_Zo/z_en_zo.c
  src/overlays/actors/ovl_En_Zo/z_en_zo.h
  src/overlays/actors/ovl_En_Zob/z_en_zob.c
  src/overlays/actors/ovl_En_Zot/z_en_zot.c
  src/overlays/actors/ovl_En_Zov/z_en_zov.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: documentation, code, Merge-ready

#849 ovl_Item_Etcetera decompiled
  include/z64item.h
  spec
  src/overlays/actors/ovl_Item_Etcetera/z_item_etcetera.c
  src/overlays/actors/ovl_Item_Etcetera/z_item_etcetera.h
Labels: Overlay, Merge-ready

#784 z_obj_tsubo OK
  include/functions.h
  spec
  src/code/z_en_item00.c
  src/overlays/actors/ovl_En_Sw/z_en_sw.c
  src/overlays/actors/ovl_En_Sw/z_en_sw.h
  src/overlays/actors/ovl_Obj_Comb/z_obj_comb.c
  src/overlays/actors/ovl_Obj_Kibako2/z_obj_kibako2.c
  src/overlays/actors/ovl_Obj_Tsubo/z_obj_tsubo.c
  src/overlays/actors/ovl_Obj_Tsubo/z_obj_tsubo.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#840 Merge z_bg_kin2 bombwall
  assets/xml/objects/object_kin2_obj.xml
  spec
  src/overlays/actors/ovl_Bg_Kin2_Bombwall/z_bg_kin2_bombwall.c
  src/overlays/actors/ovl_Bg_Kin2_Bombwall/z_bg_kin2_bombwall.h
  src/overlays/actors/ovl_Bg_Kin2_Fence/z_bg_kin2_fence.c
  src/overlays/actors/ovl_Bg_Kin2_Shelf/z_bg_kin2_shelf.c
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#856 ovl_Obj_Y2lift decompiled
  assets/xml/objects/object_kaizoku_obj.xml
  spec
  src/overlays/actors/ovl_Obj_Y2lift/z_obj_y2lift.c
  src/overlays/actors/ovl_Obj_Y2lift/z_obj_y2lift.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#763 `code_8013EC10` and `code_80182CE0` (`z_rumble` and `sys_rumble`)
  include/functions.h
  include/global.h
  include/variables.h
  include/z64cutscene.h
  include/z64cutscene_commands.h
  include/z64rumble.h
  spec
  src/code/code_8013EC10.c
  src/code/code_80182CE0.c
  src/code/game.c
  src/code/padmgr.c
  src/code/sys_rumble.c
  src/code/z_actor.c
  src/code/z_demo.c
  src/code/z_game_over.c
  src/code/z_kaleido_setup.c
  src/code/z_lifemeter.c
  src/code/z_rumble.c
  src/overlays/actors/ovl_Bg_F40_Switch/z_bg_f40_switch.c
  src/overlays/actors/ovl_Bg_Hakugin_Post/z_bg_hakugin_post.c
  src/overlays/actors/ovl_Bg_Hakugin_Switch/z_bg_hakugin_switch.c
  src/overlays/actors/ovl_Bg_Iknin_Susceil/z_bg_iknin_susceil.c
  src/overlays/actors/ovl_Bg_Open_Shutter/z_bg_open_shutter.c
  src/overlays/actors/ovl_Boss_01/z_boss_01.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_Hakugin/z_boss_hakugin.c
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
  src/overlays/actors/ovl_En_Bigpamet/z_en_bigpamet.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Bom/z_en_bom.c
  src/overlays/actors/ovl_En_Bombf/z_en_bombf.c
  src/overlays/actors/ovl_En_Bsb/z_en_bsb.c
  src/overlays/actors/ovl_En_Death/z_en_death.c
  src/overlays/actors/ovl_En_Famos/z_en_famos.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Ik/z_en_ik.c
  src/overlays/actors/ovl_En_Ishi/z_en_ishi.c
  src/overlays/actors/ovl_En_M_Thunder/z_en_m_thunder.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Railgibud/z_en_railgibud.c
  src/overlays/actors/ovl_En_Rd/z_en_rd.c
  src/overlays/actors/ovl_En_Rr/z_en_rr.c
  src/overlays/actors/ovl_En_Talk_Gibud/z_en_talk_gibud.c
  src/overlays/actors/ovl_Obj_Hugebombiwa/z_obj_hugebombiwa.c
  src/overlays/actors/ovl_Obj_Switch/z_obj_switch.c
  src/overlays/actors/ovl_Obj_Tokei_Step/z_obj_tokei_step.c
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/gamestates/ovl_file_choose/z_file_choose_80807940.c
  src/overlays/gamestates/ovl_file_choose/z_file_choose_NES.c
  src/overlays/gamestates/ovl_file_choose/z_file_nameset_NES.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: code, Merge-ready
