Repository zeldaret/mm, pull requests merged in 2022-10, with the labels that each got.

#1093 z_kaleido_mask.c Ok and Documented (Pause Menu Mask Page)
  include/z64.h
  include/z64save.h
  src/code/flg_set.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_En_Js/z_en_js.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_debug.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_item.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_mask.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1102 Quake & Distortion Cleanup
  include/functions.h
  include/z64.h
  include/z64bgcheck.h
  include/z64quake.h
  src/code/z_actor.c
  src/code/z_bgcheck.c
  src/code/z_camera.c
  src/code/z_demo.c
  src/code/z_play.c
  src/code/z_quake.c
  src/overlays/actors/ovl_Bg_Hakugin_Post/z_bg_hakugin_post.c
  src/overlays/actors/ovl_Bg_Ikana_Dharma/z_bg_ikana_dharma.c
  src/overlays/actors/ovl_Bg_Ikana_Rotaryroom/z_bg_ikana_rotaryroom.c
  src/overlays/actors/ovl_Bg_Ikana_Shutter/z_bg_ikana_shutter.c
  src/overlays/actors/ovl_Bg_Iknin_Susceil/z_bg_iknin_susceil.c
  src/overlays/actors/ovl_Bg_Open_Shutter/z_bg_open_shutter.c
  src/overlays/actors/ovl_Boss_Hakugin/z_boss_hakugin.c
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
  src/overlays/actors/ovl_En_Ani/z_en_ani.c
  src/overlays/actors/ovl_En_Bigpamet/z_en_bigpamet.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Goroiwa/z_en_goroiwa.c
  src/overlays/actors/ovl_En_Ishi/z_en_ishi.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.h
  src/overlays/actors/ovl_En_Stop_heishi/z_en_stop_heishi.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_Obj_Chikuwa/z_obj_chikuwa.c
  src/overlays/actors/ovl_Obj_Dhouse/z_obj_dhouse.c
  src/overlays/actors/ovl_Obj_Hariko/z_obj_hariko.c
  src/overlays/actors/ovl_Obj_Hugebombiwa/z_obj_hugebombiwa.c
  src/overlays/actors/ovl_Obj_Lift/z_obj_lift.c
  src/overlays/actors/ovl_Obj_Tokei_Step/z_obj_tokei_step.c
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/effects/ovl_Effect_Ss_Bubble/z_eff_ss_bubble.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: documentation, Clean up, Merge-ready

#1099 Rename SetupIndex to Layer
  include/functions.h
  include/z64save.h
  include/z64scene.h
  src/code/z_demo.c
  src/code/z_parameter.c
  src/code/z_scene.c
  src/overlays/actors/ovl_Bg_Iknv_Obj/z_bg_iknv_obj.c
  src/overlays/actors/ovl_Dm_Char00/z_dm_char00.c
  src/overlays/actors/ovl_Dm_Char01/z_dm_char01.c
  src/overlays/actors/ovl_Dm_Char05/z_dm_char05.c
  src/overlays/actors/ovl_Dm_Opstage/z_dm_opstage.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_En_Dnk/z_en_dnk.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  src/overlays/actors/ovl_En_Fall/z_en_fall.c
  src/overlays/actors/ovl_En_Giant/z_en_giant.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Hanabi/z_en_hanabi.c
  src/overlays/actors/ovl_En_Hg/z_en_hg.c
  src/overlays/actors/ovl_En_Hgo/z_en_hgo.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Horse_Link_Child/z_en_horse_link_child.c
  src/overlays/actors/ovl_En_Jg/z_en_jg.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  src/overlays/actors/ovl_En_Mag/z_en_mag.c
  src/overlays/actors/ovl_En_Osn/z_en_osn.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Rail_Skb/z_en_rail_skb.c
  src/overlays/actors/ovl_En_Skb/z_en_skb.c
  src/overlays/actors/ovl_En_Zog/z_en_zog.c
  src/overlays/actors/ovl_Obj_Jg_Gakki/z_obj_jg_gakki.c
  src/overlays/actors/ovl_Obj_Tokei_Step/z_obj_tokei_step.c
  src/overlays/actors/ovl_Obj_Tokeidai/z_obj_tokeidai.c
  src/overlays/gamestates/ovl_opening/z_opening.c
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: Clean up, Merge-ready

#1095 (Mostly) document EnSyatekiDekunuts (Shooting Gallery Deku Scrub)
  src/overlays/actors/ovl_En_Syateki_Crow/z_en_syateki_crow.c
  src/overlays/actors/ovl_En_Syateki_Crow/z_en_syateki_crow.h
  src/overlays/actors/ovl_En_Syateki_Dekunuts/z_en_syateki_dekunuts.c
  src/overlays/actors/ovl_En_Syateki_Dekunuts/z_en_syateki_dekunuts.h
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  src/overlays/actors/ovl_En_Syateki_Wf/z_en_syateki_wf.c
  src/overlays/actors/ovl_En_Syateki_Wf/z_en_syateki_wf.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Asset, Merge-ready

#1054 EnWiz (Wizrobe) OK and documented, EnWizFire (Wizrobe Magic) documented, object_wiz documented
  assets/xml/objects/object_wiz.xml
  spec
  src/overlays/actors/ovl_En_Fz/z_en_fz.c
  src/overlays/actors/ovl_En_Wiz/z_en_wiz.c
  src/overlays/actors/ovl_En_Wiz/z_en_wiz.h
  src/overlays/actors/ovl_En_Wiz_Brock/z_en_wiz_brock.c
  src/overlays/actors/ovl_En_Wiz_Brock/z_en_wiz_brock.h
  src/overlays/actors/ovl_En_Wiz_Fire/z_en_wiz_fire.c
  src/overlays/actors/ovl_En_Wiz_Fire/z_en_wiz_fire.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Asset, Merge-ready

#1103 Replace player animation names with original names derived from OoT3D/MM3D
  assets/xml/misc/link_animetion.xml
  assets/xml/objects/gameplay_keep.xml
  src/overlays/actors/ovl_En_Minifrog/z_en_minifrog.c
  src/overlays/actors/ovl_En_Tab/z_en_tab.c
  src/overlays/actors/ovl_En_Yb/z_en_yb.c
Labels: Asset, Merge-ready

#1082 EnMThunder Ok with some docs
  assets/xml/objects/gameplay_keep.xml
  include/functions.h
  spec
  src/overlays/actors/ovl_Eff_Dust/z_eff_dust.c
  src/overlays/actors/ovl_Eff_Dust/z_eff_dust.h
  src/overlays/actors/ovl_En_M_Thunder/z_en_m_thunder.c
  src/overlays/actors/ovl_En_M_Thunder/z_en_m_thunder.h
  src/overlays/actors/ovl_En_St/z_en_st.c
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#994 ovl_En_Door_Etc OK
  spec
  src/overlays/actors/ovl_En_Door_Etc/z_en_door_etc.c
  src/overlays/actors/ovl_En_Door_Etc/z_en_door_etc.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1049 View & Shrink_Window Docs
  include/functions.h
  include/variables.h
  include/z64.h
  include/z64shrink_window.h
  include/z64view.h
  src/code/speed_meter.c
  src/code/z_camera.c
  src/code/z_demo.c
  src/code/z_eventmgr.c
  src/code/z_game_over.c
  src/code/z_kaleido_scope_call.c
  src/code/z_kaleido_setup.c
  src/code/z_message.c
  src/code/z_parameter.c
  src/code/z_play.c
  src/code/z_quake.c
  src/code/z_shrink_window.c
  src/code/z_view.c
  src/overlays/actors/ovl_Boss_01/z_boss_01.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_04/z_boss_04.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
  src/overlays/actors/ovl_Boss_07/z_boss_07.c
  src/overlays/actors/ovl_En_Bsb/z_en_bsb.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Knight/z_en_knight.c
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/gamestates/ovl_daytelop/z_daytelop.c
  src/overlays/gamestates/ovl_file_choose/z_file_choose_NES.c
  src/overlays/gamestates/ovl_opening/z_opening.c
  src/overlays/gamestates/ovl_select/z_select.c
  src/overlays/gamestates/ovl_title/z_title.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: documentation, Merge-ready

#1098 Object Tru Docs (Koume)
  assets/xml/objects/object_trt.xml
  assets/xml/objects/object_tru.xml
  src/overlays/actors/ovl_En_Jc_Mato/z_en_jc_mato.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.h
  src/overlays/actors/ovl_En_Tru_Mt/z_en_tru_mt.c
  src/overlays/actors/ovl_En_Tru_Mt/z_en_tru_mt.h
  tools/disasm/functions.txt
Labels: Asset, Merge-ready

#1104 Document leftover pause joint tables
  assets/xml/objects/gameplay_keep.xml
Labels: Clean up, Asset, Merge-ready

#1092 Eff Srchball OK
  assets/xml/objects/gameplay_keep.xml
  include/functions.h
  include/z64effect.h
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/actors/ovl_Demo_Kankyo/z_demo_kankyo.c
  src/overlays/actors/ovl_En_Encount2/z_en_encount2.c
  src/overlays/actors/ovl_En_Hanabi/z_en_hanabi.c
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.h
  src/overlays/effects/ovl_Effect_Ss_Solder_Srch_Ball/z_eff_ss_solder_srch_ball.c
  src/overlays/effects/ovl_Effect_Ss_Solder_Srch_Ball/z_eff_ss_solder_srch_ball.h
Labels: Overlay, Merge-ready

#922 Dm_Tag
  spec
  src/overlays/actors/ovl_Dm_Tag/z_dm_tag.c
  src/overlays/actors/ovl_Dm_Tag/z_dm_tag.h
Labels: Overlay, Merge-ready

#1090 audio_synthesis.c OK and Documented
  include/PR/abi.h
  include/functions.h
  include/variables.h
  include/z64audio.h
  spec
  src/code/audio/audio_data.c
  src/code/audio/audio_heap.c
  src/code/audio/audio_init_params.c
  src/code/audio/audio_load.c
  src/code/audio/audio_playback.c
  src/code/audio/audio_seqplayer.c
  src/code/audio/audio_synthesis.c
  src/code/audio/code_8019AF00.c
  src/overlays/actors/ovl_En_Kusa2/z_en_kusa2.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Audio, Merge-ready

#1051 ovl_En_Bombal OK
  assets/xml/objects/object_fusen.xml
  spec
  src/overlays/actors/ovl_En_Bombal/z_en_bombal.c
  src/overlays/actors/ovl_En_Bombal/z_en_bombal.h
  src/overlays/actors/ovl_En_Bomjima/z_en_bomjima.c
  src/overlays/actors/ovl_En_Bomjima/z_en_bomjima.h
  src/overlays/actors/ovl_En_Encount2/z_en_encount2.c
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#1010 ovl_Oceff_Storm OK
  assets/xml/overlays/ovl_Oceff_Storm.xml
  spec
  src/overlays/actors/ovl_Oceff_Storm/z_oceff_storm.c
  src/overlays/actors/ovl_Oceff_Storm/z_oceff_storm.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#1024 Fbdemo_circle OK
  include/functions.h
  include/variables.h
  include/z64transition.h
  spec
  src/code/z_actor.c
  src/code/z_fbdemo_circle.c
Labels: code, Merge-ready

#1105 Better match for BgKin2Fence_CheckHitMask
  src/overlays/actors/ovl_Bg_Kin2_Fence/z_bg_kin2_fence.c
Labels: Clean up, Merge-ready

#1073 z_overlay and z_fbdemo_dlftbls (Transition overlay handling), clean up a lot of u32s used to store pointers
  include/functions.h
  include/initvars.h
  include/os.h
  include/os_internal.h
  include/variables.h
  include/z64actor.h
  include/z64dma.h
  include/z64effect.h
  include/z64transition.h
  spec
  src/boot_O2_g3/yaz0.c
  src/boot_O2_g3/z_std_dma.c
  src/code/z_actor.c
  src/code/z_effect_soft_sprite_old_init.c
  src/code/z_en_hy_code.c
  src/code/z_fbdemo_circle.c
  src/code/z_fbdemo_dlftbls.c
  src/code/z_lib.c
  src/code/z_overlay.c
  src/code/z_player_lib.c
  src/code/z_room.c
  src/code/z_scene.c
  src/libultra/io/epirawdma.c
  src/libultra/io/sirawread.c
  src/libultra/io/sirawwrite.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_En_Bba_01/z_en_bba_01.c
  src/overlays/actors/ovl_En_Cne_01/z_en_cne_01.c
  src/overlays/actors/ovl_En_Dnk/z_en_dnk.c
  src/overlays/actors/ovl_En_Nwc/z_en_nwc.c
  src/overlays/actors/ovl_En_S_Goro/z_en_s_goro.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/effects/ovl_Effect_Ss_Extra/z_eff_ss_extra.c
  src/overlays/fbdemos/ovl_fbdemo_triforce/z_fbdemo_triforce.c
  src/overlays/fbdemos/ovl_fbdemo_triforce/z_fbdemo_triforce.h
  src/overlays/fbdemos/ovl_fbdemo_wipe1/z_fbdemo_wipe1.c
  src/overlays/fbdemos/ovl_fbdemo_wipe1/z_fbdemo_wipe1.h
  src/overlays/fbdemos/ovl_fbdemo_wipe3/z_fbdemo_wipe3.c
  src/overlays/fbdemos/ovl_fbdemo_wipe3/z_fbdemo_wipe3.h
  src/overlays/fbdemos/ovl_fbdemo_wipe4/z_fbdemo_wipe4.c
  src/overlays/fbdemos/ovl_fbdemo_wipe4/z_fbdemo_wipe4.h
  src/overlays/fbdemos/ovl_fbdemo_wipe5/z_fbdemo_wipe5.c
  src/overlays/fbdemos/ovl_fbdemo_wipe5/z_fbdemo_wipe5.h
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: code, Needs-lead-approval

#1094 z_kaleido_map.c OK and Documented (Pause Menu Map Page) + related icon_item statics (dungeon/field/jpn)
  assets/xml/interface/icon_item_dungeon_static.xml
  assets/xml/interface/icon_item_field_static.xml
  assets/xml/interface/icon_item_jpn_static.xml
  assets/xml/interface/parameter_static.xml
  docs/tutorial/other_functions.md
  include/PR/gbi.h
  include/functions.h
  include/regs.h
  include/z64.h
  include/z64item.h
  include/z64save.h
  include/z64scene.h
  spec
  src/code/code_8012EC80.c
  src/code/title_setup.c
  src/code/z_actor.c
  src/code/z_kaleido_setup.c
  src/code/z_map_exp.c
  src/code/z_message.c
  src/code/z_message_nes.c
  src/code/z_scene.c
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
  src/overlays/actors/ovl_En_Tanron1/z_en_tanron1.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_map.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope.h
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: Overlay, Merge-ready

#1107 Update permuter_settings.toml
  tools/permuter_settings.toml
Labels: Tooling, Needs-contributor-approval

#1085 DmChar08 OK
  assets/xml/objects/object_kamejima.xml
  assets/xml/overlays/ovl_Dm_Char08.xml
  include/functions.h
  spec
  src/overlays/actors/ovl_Dm_Char08/z_dm_char08.c
  src/overlays/actors/ovl_Dm_Char08/z_dm_char08.h
  src/overlays/actors/ovl_Eff_Kamejima_Wave/z_eff_kamejima_wave.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1089 [Doc] Actor En_Bee - Giant Bee
  assets/xml/objects/object_bee.xml
  src/overlays/actors/ovl_Dm_Char09/z_dm_char09.c
  src/overlays/actors/ovl_En_Bee/z_en_bee.c
  src/overlays/actors/ovl_En_Bee/z_en_bee.h
Labels: documentation, Needs-lead-approval

#1046 ovl_En_Stone_heishi OK
  spec
  src/overlays/actors/ovl_En_Stone_heishi/z_en_stone_heishi.c
  src/overlays/actors/ovl_En_Stone_heishi/z_en_stone_heishi.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#1110 hgdoor documented
  src/overlays/actors/ovl_Obj_Hgdoor/z_obj_hgdoor.c
  src/overlays/actors/ovl_Obj_Hgdoor/z_obj_hgdoor.h
  tools/disasm/functions.txt
Labels: documentation, Needs-lead-approval

#1050 ovl_Bg_Umajump OK
  assets/xml/objects/object_umajump.xml
  spec
  src/overlays/actors/ovl_Bg_Umajump/z_bg_umajump.c
  src/overlays/actors/ovl_Bg_Umajump/z_bg_umajump.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#1070 ovl_Bg_Kin2_Picture OK and documented, object_kin2_obj documented
  assets/xml/objects/object_kin2_obj.xml
  spec
  src/overlays/actors/ovl_Bg_Kin2_Fence/z_bg_kin2_fence.c
  src/overlays/actors/ovl_Bg_Kin2_Picture/z_bg_kin2_picture.c
  src/overlays/actors/ovl_Bg_Kin2_Picture/z_bg_kin2_picture.h
  tools/disasm/functions.txt
Labels: Overlay, Asset, Waiting-for-author, Needs-lead-approval

#1097 Import Camera Data
  include/functions.h
  include/variables.h
  include/z64.h
  include/z64bgcheck.h
  include/z64camera.h
  include/z64scene.h
  spec
  src/boot_O2_g3/idle.c
  src/code/z_camera.c
  src/code/z_camera_data.inc.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: documentation, code, Merge-ready

#1108 z_kaleido_collect.c (1 non-matching) and Mostly Documented (Pause Menu Quest Page)
  include/functions.h
  include/regs.h
  include/variables.h
  include/z64.h
  include/z64item.h
  src/code/audio/code_8019AF00.c
  src/code/code_8012EC80.c
  src/code/z_demo.c
  src/code/z_kaleido_setup.c
  src/code/z_message.c
  src/code/z_parameter.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_Elf_Msg6/z_elf_msg6.c
  src/overlays/actors/ovl_En_Fall/z_en_fall.c
  src/overlays/actors/ovl_En_Gakufu/z_en_gakufu.c
  src/overlays/actors/ovl_En_Giant/z_en_giant.c
  src/overlays/actors/ovl_En_Time_Tag/z_en_time_tag.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_collect.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_debug.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_item.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_map.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_mask.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope.h
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
Labels: Overlay, Merge-ready

#1114 Rename audio context
  include/variables.h
  include/z64audio.h
  src/code/audio/audio_effects.c
  src/code/audio/audio_heap.c
  src/code/audio/audio_init_params.c
  src/code/audio/audio_load.c
  src/code/audio/audio_playback.c
  src/code/audio/audio_seqplayer.c
  src/code/audio/audio_synthesis.c
  src/code/audio/code_8019AF00.c
  src/code/audio/code_801A5BD0.c
  tools/disasm/variables.txt
Labels: Clean up, Needs-lead-approval

#1116 Update README.md
  README.md
Labels: documentation, Merge-ready

#1119 ObjY2Shutter OK and documented
  assets/xml/objects/object_kaizoku_obj.xml
  spec
  src/overlays/actors/ovl_Obj_Y2shutter/z_obj_y2shutter.c
  src/overlays/actors/ovl_Obj_Y2shutter/z_obj_y2shutter.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Overlay, Asset, Needs-lead-approval

#1122 Match 3 Functions (z_actor OK, z_mir_ray OK, z_mir_ray3 OK)
  include/z64.h
  spec
  src/code/z_actor.c
  src/overlays/actors/ovl_Mir_Ray/z_mir_ray.c
  src/overlays/actors/ovl_Mir_Ray3/z_mir_ray3.c
Labels: Overlay, code, Clean up, Merge-ready

#1121 Document Elegy of Emptiness shell assets in gameplay_keep
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_zog.xml
  src/overlays/actors/ovl_En_Torch2/z_en_torch2.c
Labels: Asset, Merge-ready

#1124 Rename elf_message to QuestHint (sync with oot)
  include/functions.h
  include/z64.h
  include/z64scene.h
  src/code/z_elf_message.c
  src/code/z_scene.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  tools/disasm/functions.txt
Labels: documentation, Clean up, Merge-ready

#1014 ovl_Bg_Dkjail_Ivy OK
  assets/xml/objects/object_dkjail_obj.xml
  spec
  src/overlays/actors/ovl_Bg_Dkjail_Ivy/z_bg_dkjail_ivy.c
  src/overlays/actors/ovl_Bg_Dkjail_Ivy/z_bg_dkjail_ivy.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#1030 `ovl_En_Nb` OK
  assets/xml/objects/object_nb.xml
  include/functions.h
  include/regs.h
  include/z64.h
  spec
  src/code/title_setup.c
  src/code/z_play.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Dm_Nb/z_dm_nb.c
  src/overlays/actors/ovl_Dm_Nb/z_dm_nb.h
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
  src/overlays/actors/ovl_En_Bjt/z_en_bjt.c
  src/overlays/actors/ovl_En_Nb/z_en_nb.c
  src/overlays/actors/ovl_En_Nb/z_en_nb.h
  src/overlays/actors/ovl_En_Test7/z_en_test7.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
  undefined_syms.txt
Labels: Overlay, Asset, Merge-ready

#1126 object_dno (Deku King) documented
  assets/xml/objects/object_dno.xml
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.c
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.h
Labels: Asset, Merge-ready

#1130 Document object_dnq (Deku Princess)
  assets/xml/objects/object_dnq.xml
  src/overlays/actors/ovl_En_Dnp/z_en_dnp.c
  src/overlays/actors/ovl_En_Dnp/z_en_dnp.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Asset, Merge-ready

#1133 Document object_boss_hakugin (Goht)
  assets/xml/objects/object_boss_hakugin.xml
  src/overlays/actors/ovl_En_Hakurock/z_en_hakurock.c
Labels: documentation, Asset, Merge-ready

#1128 Match 4 functions in BGcheck, remove nonequivalency in DynaPoly_ExpandSRT and BgHakaBombwall
  include/functions.h
  src/code/z_bgcheck.c
  src/overlays/actors/ovl_Bg_Haka_Bombwall/z_bg_haka_bombwall.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
Labels: code, Clean up, Merge-ready

#1112 Hg and Hgo documented
  assets/xml/objects/object_harfgibud.xml
  src/overlays/actors/ovl_En_Hg/z_en_hg.c
  src/overlays/actors/ovl_En_Hg/z_en_hg.h
  src/overlays/actors/ovl_En_Hgo/z_en_hgo.c
  src/overlays/actors/ovl_En_Hgo/z_en_hgo.h
  tools/disasm/functions.txt
Labels: documentation, Asset, Merge-ready

#889 z_en_lift_nuts.c OK
  spec
  src/overlays/actors/ovl_En_Lift_Nuts/z_en_lift_nuts.c
  src/overlays/actors/ovl_En_Lift_Nuts/z_en_lift_nuts.h
Labels: Overlay, Merge-ready

#989 ovl_En_Encount4 OK
  spec
  src/overlays/actors/ovl_Bg_Fire_Wall/z_bg_fire_wall.c
  src/overlays/actors/ovl_Bg_Fire_Wall/z_bg_fire_wall.h
  src/overlays/actors/ovl_En_Bsb/z_en_bsb.h
  src/overlays/actors/ovl_En_Encount4/z_en_encount4.c
  src/overlays/actors/ovl_En_Encount4/z_en_encount4.h
  src/overlays/actors/ovl_En_Skb/z_en_skb.h
Labels: Overlay, Merge-ready

#1015 ovl_fbdemo_wipe5 OK
  include/PR/gbi.h
  include/color.h
  include/functions.h
  include/ultra64.h
  include/ultra64/ucode.h
  spec
  src/code/graph.c
  src/code/z_jpeg.c
  src/overlays/fbdemos/ovl_fbdemo_wipe5/z_fbdemo_wipe5.c
  src/overlays/fbdemos/ovl_fbdemo_wipe5/z_fbdemo_wipe5.h
Labels: Overlay, Merge-ready

#1132 Document object_boss01 (Odolwa)
  assets/xml/objects/object_boss01.xml
  assets/xml/objects/object_bsmask.xml
  assets/xml/objects/object_ob.xml
  src/overlays/actors/ovl_En_Js/z_en_js.c
Labels: documentation, Asset, Merge-ready

#1134 Last function in z_debug_display
  src/code/z_debug_display.c
  tools/disasm/functions.txt
Labels: code, Merge-ready

#1135 EnOsn (Happy Mask Salesman) and object_osn Docs
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_osn.xml
  src/code/z_player_lib.c
  src/overlays/actors/ovl_Dm_Char03/z_dm_char03.c
  src/overlays/actors/ovl_En_Osn/z_en_osn.c
  src/overlays/actors/ovl_En_Osn/z_en_osn.h
  tools/disasm/functions.txt
Labels: documentation, Asset, Merge-ready

#1029 ovl_En_Rz OK
  assets/xml/objects/object_rz.xml
  spec
  src/overlays/actors/ovl_Dm_Bal/z_dm_bal.c
  src/overlays/actors/ovl_En_Rz/z_en_rz.c
  src/overlays/actors/ovl_En_Rz/z_en_rz.h
  src/overlays/actors/ovl_En_Yb/z_en_yb.c
  tools/disasm/functions.txt
Labels: Overlay, Waiting-for-author, Needs-lead-approval

#1113 Kaleido_Update OK and documented
  include/functions.h
  include/regs.h
  include/segment_symbols.h
  include/variables.h
  include/z64.h
  src/code/game.c
  src/code/z_bgcheck.c
  src/code/z_kaleido_scope_call.c
  src/code/z_kaleido_setup.c
  src/code/z_lifemeter.c
  src/code/z_map_exp.c
  src/code/z_parameter.c
  src/code/z_rcp.c
  src/overlays/actors/ovl_En_Okarina_Effect/z_en_okarina_effect.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_collect.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_item.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_map.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_mask.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_prompt.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope.h
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1096 matched ovl_Bg_Ikana_Bombwall && ovl_Bg_Haka_Bombwall NON_MATCHING effect functions
  spec
  src/overlays/actors/ovl_Bg_Haka_Bombwall/z_bg_haka_bombwall.c
  src/overlays/actors/ovl_Bg_Ikana_Bombwall/z_bg_ikana_bombwall.c
Labels: Clean up, Needs-lead-approval

#1127 Match func_80142440 (z_vr_box.c OK)
  include/PR/gbi.h
  include/functions.h
  include/variables.h
  include/z64.h
  src/code/PreRender.c
  src/code/z_vr_box.c
  src/code/z_vr_box_draw.c
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: code, Needs-lead-approval

#1139 General Cleanup 12
  assets/xml/objects/gameplay_dangeon_keep.xml
  assets/xml/objects/gameplay_field_keep.xml
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_bigslime.xml
  assets/xml/objects/object_fish.xml
  assets/xml/objects/object_ice_block.xml
  src/code/z_actor.c
  src/overlays/actors/ovl_Bg_Dblue_Movebg/z_bg_dblue_movebg.c
  src/overlays/actors/ovl_Bg_Ikana_Mirror/z_bg_ikana_mirror.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
  src/overlays/actors/ovl_Demo_Effect/z_demo_effect.c
  src/overlays/actors/ovl_Demo_Kankyo/z_demo_kankyo.c
  src/overlays/actors/ovl_Dm_Char01/z_dm_char01.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Box/z_en_box.c
  src/overlays/actors/ovl_En_Butte/z_en_butte.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Fz/z_en_fz.c
  src/overlays/actors/ovl_En_Gg/z_en_gg.c
  src/overlays/actors/ovl_En_Hg/z_en_hg.c
  src/overlays/actors/ovl_En_Hgo/z_en_hgo.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Kusa/z_en_kusa.c
  src/overlays/actors/ovl_En_Kusa2/z_en_kusa2.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Warp_tag/z_en_warp_tag.c
  src/overlays/actors/ovl_En_Wiz/z_en_wiz.c
  src/overlays/actors/ovl_En_Wiz_Brock/z_en_wiz_brock.c
  src/overlays/actors/ovl_Obj_Grass_Carry/z_obj_grass_carry.c
  src/overlays/actors/ovl_Obj_Iceblock/z_obj_iceblock.c
  src/overlays/actors/ovl_Obj_Switch/z_obj_switch.c
  src/overlays/actors/ovl_Obj_Warpstone/z_obj_warpstone.c
  undefined_syms.txt
Labels: Clean up

#1137 Add ALIGN16 to GRAPH_ALLOC
  include/macros.h
  src/code/z_actor.c
  src/code/z_debug_display.c
  src/code/z_eff_blure.c
  src/code/z_eff_spark.c
  src/code/z_eff_tire_mark.c
  src/code/z_player_lib.c
  src/code/z_rcp.c
  src/code/z_scene_proc.c
  src/code/z_skelanime.c
  src/code/z_sub_s.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Demo_Syoten/z_demo_syoten.c
  src/overlays/actors/ovl_Dm_Char00/z_dm_char00.c
  src/overlays/actors/ovl_Dm_Char04/z_dm_char04.c
  src/overlays/actors/ovl_Dm_Sa/z_dm_sa.c
  src/overlays/actors/ovl_Eff_Change/z_eff_change.c
  src/overlays/actors/ovl_En_Bombf/z_en_bombf.c
  src/overlays/actors/ovl_En_Box/z_en_box.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  src/overlays/actors/ovl_En_Fall2/z_en_fall2.c
  src/overlays/actors/ovl_En_Rr/z_en_rr.c
  src/overlays/actors/ovl_En_Sda/z_en_sda.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Test/z_en_test.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Test7/z_en_test7.c
  src/overlays/actors/ovl_En_Zot/z_en_zot.c
  src/overlays/actors/ovl_En_Zow/z_en_zow.c
Labels: Clean up, Merge-ready
