Repository zeldaret/mm, pull requests merged in 2022-08, with the labels that each got.

#393 New relocation-generating program
  Makefile
  spec
  tools/Makefile
  tools/buildtools/.gitignore
  tools/buildtools/Makefile
  tools/buildtools/mkldscript.c
  tools/buildtools/reloc_prereq.c
  tools/buildtools/spec.c
  tools/buildtools/spec.h
  tools/buildtools/util.c
  tools/buildtools/util.h
  tools/fado/.clang-format
  tools/fado/.gitignore
  tools/fado/.gitrepo
  tools/fado/LICENSE
  tools/fado/Makefile
  tools/fado/README.md
  tools/fado/find_program.sh
  tools/fado/include/fado.h
  tools/fado/include/help.h
  tools/fado/include/macros.h
  tools/fado/include/mido.h
  tools/fado/include/mips_elf.h
  tools/fado/lib/fairy/fairy.c
  tools/fado/lib/fairy/fairy.h
  tools/fado/lib/fairy/fairy_data.inc
  tools/fado/lib/fairy/fairy_print.c
  tools/fado/lib/fairy/fairy_print.h
  tools/fado/lib/vc_vector/.gitrepo
  tools/fado/lib/vc_vector/.travis.yml
  tools/fado/lib/vc_vector/LICENSE.md
  tools/fado/lib/vc_vector/Makefile
  tools/fado/lib/vc_vector/README.md
  tools/fado/lib/vc_vector/vc_vector.c
  tools/fado/lib/vc_vector/vc_vector.h
  tools/fado/lib/vc_vector/vc_vector_test.c
  tools/fado/lib/vc_vector/vc_vector_test.h
  tools/fado/ovl_En_Hs_reloc.s
  tools/fado/src/fado.c
  tools/fado/src/help.c
  tools/fado/src/main.c
  tools/fado/src/mido.c
  tools/fado/src/version.inc
  tools/fado/z64_relocation_section_format.md
Labels: Tooling, Merge-ready

#911 AudioOcarina (1 NonMatching)
  include/functions.h
  include/variables.h
  include/z64ocarina.h
  include/z64save.h
  src/code/audio/code_8019AF00.c
  src/code/audio/code_801A5BD0.c
  src/code/z_actor.c
  src/code/z_demo.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_Bg_Spdweb/z_bg_spdweb.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  src/overlays/actors/ovl_En_Gakufu/z_en_gakufu.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Mm3/z_en_mm3.c
  src/overlays/actors/ovl_En_Nwc/z_en_nwc.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Wallmas/z_en_wallmas.c
  src/overlays/actors/ovl_En_Zot/z_en_zot.c
  src/overlays/actors/ovl_Obj_Nozoki/z_obj_nozoki.c
  src/overlays/actors/ovl_Obj_Syokudai/z_obj_syokudai.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Audio, Merge-ready

#943 `ovl_Bg_Crace_Movebg` OK
  spec
  src/overlays/actors/ovl_Bg_Crace_Movebg/z_bg_crace_movebg.c
  src/overlays/actors/ovl_Bg_Crace_Movebg/z_bg_crace_movebg.h
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
Labels: Overlay, Merge-ready

#955 ovl_En_Viewer Decompiled
  spec
  src/overlays/actors/ovl_En_Viewer/z_en_viewer.c
  src/overlays/actors/ovl_En_Viewer/z_en_viewer.h
Labels: Overlay, Merge-ready

#959 ovl_En_Mkk Decompiled
  spec
  src/overlays/actors/ovl_En_Mkk/z_en_mkk.c
  src/overlays/actors/ovl_En_Mkk/z_en_mkk.h
Labels: Overlay, Merge-ready

#965 Z_DLF OK
  src/code/z_DLF.c
  src/code/z_actor.c
  src/code/z_effect_soft_sprite.c
Labels: code, Merge-ready

#952 EnGe1 OK and documented, document `z_snap`
  assets/xml/objects/object_ge1.xml
  include/functions.h
  include/macros.h
  include/z64actor.h
  include/z64item.h
  include/z64save.h
  include/z64snap.h
  spec
  src/code/graph.c
  src/code/z_actor.c
  src/code/z_lights.c
  src/code/z_scene_table.c
  src/code/z_snap.c
  src/overlays/actors/ovl_Demo_Syoten/z_demo_syoten.c
  src/overlays/actors/ovl_En_Bal/z_en_bal.c
  src/overlays/actors/ovl_En_Bal/z_en_bal.h
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.c
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.h
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.c
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.h
  src/overlays/actors/ovl_En_Ge1/z_en_ge1.c
  src/overlays/actors/ovl_En_Ge1/z_en_ge1.h
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.h
  src/overlays/actors/ovl_En_Kgy/z_en_kgy.c
  src/overlays/actors/ovl_En_Mnk/z_en_mnk.c
  src/overlays/actors/ovl_En_Mnk/z_en_mnk.h
  src/overlays/actors/ovl_En_Shn/z_en_shn.c
  src/overlays/actors/ovl_En_Tsn/z_en_tsn.c
  src/overlays/actors/ovl_En_Zot/z_en_zot.c
  src/overlays/actors/ovl_En_Zov/z_en_zov.c
  src/overlays/actors/ovl_En_Zov/z_en_zov.h
  src/overlays/actors/ovl_Obj_Grass/z_obj_grass.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: documentation, Overlay, Merge-ready

#927 Introduce Sfx Tables
  include/sfx.h
  include/tables/sfx/enemybank_table.h
  include/tables/sfx/environmentbank_table.h
  include/tables/sfx/itembank_table.h
  include/tables/sfx/ocarinabank_table.h
  include/tables/sfx/playerbank_table.h
  include/tables/sfx/systembank_table.h
  include/tables/sfx/voicebank_table.h
  include/z64audio.h
  src/code/audio/audio_sfx_params.c
Labels: Clean up, Audio, Merge-ready

#1000 README.md "How to Contribute" wrong path
  README.md
Labels: Clean up

#923 En_Paper
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Paper/z_en_paper.c
  src/overlays/actors/ovl_En_Paper/z_en_paper.h
Labels: Overlay, Merge-ready

#968 ovl_En_Test2 Decompiled
  assets/xml/objects/object_hakugin_obj.xml
  spec
  src/overlays/actors/ovl_En_Test2/z_en_test2.c
  src/overlays/actors/ovl_En_Test2/z_en_test2.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#969 ovl_Obj_Mure3 Decompiled
  spec
  src/overlays/actors/ovl_Obj_Mure3/z_obj_mure3.c
  src/overlays/actors/ovl_Obj_Mure3/z_obj_mure3.h
Labels: Overlay, Merge-ready

#971 ovl_Bg_Last_Bwall OK
  spec
  src/overlays/actors/ovl_Bg_Last_Bwall/z_bg_last_bwall.c
  src/overlays/actors/ovl_Bg_Last_Bwall/z_bg_last_bwall.h
  src/overlays/actors/ovl_Obj_Rotlift/z_obj_rotlift.c
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#970 ovl_Bg_Hakugin_Elvpole OK
  spec
  src/overlays/actors/ovl_Bg_Hakugin_Elvpole/z_bg_hakugin_elvpole.c
  src/overlays/actors/ovl_Bg_Hakugin_Elvpole/z_bg_hakugin_elvpole.h
Labels: Overlay, Merge-ready

#974 Effect Firetail OK
  assets/xml/objects/gameplay_keep.xml
  spec
  src/code/z_actor.c
  src/code/z_fireobj.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
  src/overlays/actors/ovl_En_Bb/z_en_bb.c
  src/overlays/actors/ovl_En_Bbfall/z_en_bbfall.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_Light/z_en_light.c
  src/overlays/actors/ovl_En_Po_Sisters/z_en_po_sisters.c
  src/overlays/actors/ovl_Obj_Aqua/z_obj_aqua.c
  src/overlays/actors/ovl_Obj_Chan/z_obj_chan.c
  src/overlays/actors/ovl_Obj_Jgame_Light/z_obj_jgame_light.c
  src/overlays/actors/ovl_Obj_Syokudai/z_obj_syokudai.c
  src/overlays/effects/ovl_Effect_Ss_Fire_Tail/z_eff_ss_fire_tail.c
  src/overlays/effects/ovl_Effect_Ss_K_Fire/z_eff_ss_k_fire.c
Labels: Overlay, Merge-ready

#975 Effect Fhgflash OK
  assets/xml/overlays/ovl_Effect_Ss_Fhg_Flash.xml
  include/functions.h
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/actors/ovl_Boss_Hakugin/z_boss_hakugin.h
  src/overlays/effects/ovl_Effect_Ss_Fhg_Flash/z_eff_ss_fhg_flash.c
  src/overlays/effects/ovl_Effect_Ss_Fhg_Flash/z_eff_ss_fhg_flash.h
Labels: Overlay, Merge-ready

#976 Effect EnIce OK
  assets/xml/objects/gameplay_keep.xml
  include/functions.h
  spec
  src/code/z_actor.c
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_Obj_Ice_Poly/z_obj_ice_poly.c
  src/overlays/effects/ovl_Effect_Ss_En_Ice/z_eff_ss_en_ice.c
  src/overlays/effects/ovl_Effect_Ss_En_Ice/z_eff_ss_en_ice.h
  src/overlays/effects/ovl_Effect_Ss_Ice_Piece/z_eff_ss_ice_piece.c
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
  undefined_syms.txt
Labels: Overlay, Merge-ready

#910 En_Bigpamet
  spec
  src/overlays/actors/ovl_En_Bigpamet/z_en_bigpamet.c
  src/overlays/actors/ovl_En_Bigpamet/z_en_bigpamet.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#967 Document powder keg assets
  assets/xml/overlays/ovl_En_Bom.xml
  src/overlays/actors/ovl_En_Bom/z_en_bom.c
  tools/disasm/variables.txt
Labels: documentation, Asset, Merge-ready

#961 General Cleanup 9
  include/z64.h
  include/z64actor.h
  include/z64animation.h
  include/z64bgcheck.h
  include/z64collision_check.h
  include/z64cutscene.h
  include/z64dma.h
  include/z64effect.h
  include/z64item.h
  include/z64light.h
  include/z64math.h
  include/z64player.h
  include/z64save.h
  include/z64scene.h
  include/z64schedule.h
  include/z64skin.h
  include/z64transition.h
Labels: Clean up, Merge-ready

#977 Effect EnFire OK
  assets/xml/objects/gameplay_keep.xml
  include/functions.h
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/effects/ovl_Effect_Ss_En_Fire/z_eff_ss_en_fire.c
  src/overlays/effects/ovl_Effect_Ss_En_Fire/z_eff_ss_en_fire.h
Labels: Overlay, Merge-ready

#933 Decompile and Document Camera `z_play` functions
  include/functions.h
  src/code/z_actor.c
  src/code/z_camera.c
  src/code/z_game_dlftbls.c
  src/code/z_lights.c
  src/code/z_play.c
  src/code/z_player_lib.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Boss_04/z_boss_04.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
  src/overlays/actors/ovl_Demo_Kankyo/z_demo_kankyo.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.c
  src/overlays/actors/ovl_En_Fish2/z_en_fish2.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Horse_Game_Check/z_en_horse_game_check.c
  src/overlays/actors/ovl_En_Ik/z_en_ik.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Scopecrow/z_en_scopecrow.c
  src/overlays/actors/ovl_En_Scopenuts/z_en_scopenuts.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.c
  src/overlays/actors/ovl_Obj_Wturn/z_obj_wturn.c
  src/overlays/actors/ovl_Object_Kankyo/z_object_kankyo.c
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#978 Effect Sbn Asset Docs
  assets/xml/objects/gameplay_keep.xml
Labels: documentation, Asset, Merge-ready

#973 ovl_Obj_Danpeilift decompiled and documented
  spec
  src/overlays/actors/ovl_Obj_Danpeilift/z_obj_danpeilift.c
  src/overlays/actors/ovl_Obj_Danpeilift/z_obj_danpeilift.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#979 ovl_Obj_Taru Decompiled, object documented
  assets/xml/objects/object_taru.xml
  spec
  src/overlays/actors/ovl_Obj_Taru/z_obj_taru.c
  src/overlays/actors/ovl_Obj_Taru/z_obj_taru.h
Labels: documentation, Overlay, Asset, Merge-ready

#980 ovl_Obj_Makekinsuta OK
  spec
  src/overlays/actors/ovl_Obj_Makekinsuta/z_obj_makekinsuta.c
  src/overlays/actors/ovl_Obj_Makekinsuta/z_obj_makekinsuta.h
Labels: Overlay, Merge-ready

#981 ovl_Mir_Ray2 OK
  spec
  src/overlays/actors/ovl_Mir_Ray2/z_mir_ray2.c
  src/overlays/actors/ovl_Mir_Ray2/z_mir_ray2.h
Labels: Overlay, Merge-ready

#983 En_pst OK
  assets/xml/objects/object_pst.xml
  spec
  src/overlays/actors/ovl_En_Pst/z_en_pst.c
  src/overlays/actors/ovl_En_Pst/z_en_pst.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#986 ovl_Dm_Char06 OK
  spec
  src/overlays/actors/ovl_Dm_Char06/z_dm_char06.c
  src/overlays/actors/ovl_Dm_Char06/z_dm_char06.h
Labels: Overlay, Merge-ready

#988 ovl_Dm_Ah Decompiled
  spec
  src/overlays/actors/ovl_Dm_Ah/z_dm_ah.c
  src/overlays/actors/ovl_Dm_Ah/z_dm_ah.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#997 EnPp (Hiploop) OK and documented, object_pp documented
  assets/xml/objects/object_pp.xml
  spec
  src/overlays/actors/ovl_En_Pp/z_en_pp.c
  src/overlays/actors/ovl_En_Pp/z_en_pp.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#982 aisetnextbuf.c OK (code_80194790.c)
  include/functions.h
  include/variables.h
  spec
  src/code/audio/aisetnextbuf.c
  src/code/audio/code_80194790.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#895 EnSGoro OK and documented
  spec
  src/overlays/actors/ovl_En_Jg/z_en_jg.c
  src/overlays/actors/ovl_En_S_Goro/z_en_s_goro.c
  src/overlays/actors/ovl_En_S_Goro/z_en_s_goro.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#966 EnRat (Real Bombchu) OK and Documented, object_rat documented 🐀💣
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_rat.xml
  spec
  src/overlays/actors/ovl_En_Bom/z_en_bom.c
  src/overlays/actors/ovl_En_Bom_Chu/z_en_bom_chu.c
  src/overlays/actors/ovl_En_Rat/z_en_rat.c
  src/overlays/actors/ovl_En_Rat/z_en_rat.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Asset, Merge-ready

#996 ovl_Dm_Char09 Decompiled
  spec
  src/overlays/actors/ovl_Dm_Char09/z_dm_char09.c
  src/overlays/actors/ovl_Dm_Char09/z_dm_char09.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#1002 object_thiefbird (Takkuri) documented
  assets/xml/objects/object_thiefbird.xml
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.c
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.h
Labels: Asset, Merge-ready

#1009 ovl_Oceff_Wipe7 OK
  assets/xml/overlays/ovl_Oceff_Wipe7.xml
  spec
  src/overlays/actors/ovl_Oceff_Wipe7/z_oceff_wipe7.c
  src/overlays/actors/ovl_Oceff_Wipe7/z_oceff_wipe7.h
Labels: Overlay, Merge-ready

#1019 Effect Deaddd OK
  spec
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/effects/ovl_Effect_Ss_Dead_Dd/z_eff_ss_dead_dd.c
  src/overlays/effects/ovl_Effect_Ss_Dead_Dd/z_eff_ss_dead_dd.h
Labels: Overlay, Merge-ready

#1023 Decompile Camera Helper Functions
  include/functions.h
  src/code/z_camera.c
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#798 Audio Sfx (code_801A5BD0 and selected sfx functions in code_8019AF00.c) OK and Documented
  include/functions.h
  include/sfx.h
  include/tables/sfx/enemybank_table.h
  include/tables/sfx/environmentbank_table.h
  include/tables/sfx/itembank_table.h
  include/tables/sfx/ocarinabank_table.h
  include/tables/sfx/playerbank_table.h
  include/tables/sfx/systembank_table.h
  include/tables/sfx/voicebank_table.h
  include/variables.h
  include/z64audio.h
  spec
  src/code/audio/audio_load.c
  src/code/audio/audio_playback.c
  src/code/audio/audio_seqplayer.c
  src/code/audio/audio_sfx_params.c
  src/code/audio/code_80192BE0.c
  src/code/audio/code_8019AF00.c
  src/code/audio/code_801A5BD0.c
  src/code/audio/code_801A7B10.c
  src/code/audioMgr.c
  src/code/code_80172BC0.c
  src/code/z_actor.c
  src/code/z_effect_soft_sprite.c
  src/code/z_sound_source.c
  src/overlays/actors/ovl_Bg_Dblue_Balance/z_bg_dblue_balance.c
  src/overlays/actors/ovl_Bg_Dblue_Movebg/z_bg_dblue_movebg.c
  src/overlays/actors/ovl_Bg_Spdweb/z_bg_spdweb.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Geg/z_en_geg.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Mm3/z_en_mm3.c
  src/overlays/actors/ovl_En_Poh/z_en_poh.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Wallmas/z_en_wallmas.c
  src/overlays/actors/ovl_Obj_Syokudai/z_obj_syokudai.c
  src/overlays/actors/ovl_Obj_Um/z_obj_um.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: documentation, code, Audio, Merge-ready

#1020 Matched several functions
  include/z64cutscene.h
  spec
  src/code/z_demo.c
  src/code/z_message.c
  src/overlays/actors/ovl_Bg_Spdweb/z_bg_spdweb.c
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/actors/ovl_En_Sw/z_en_sw.c
  src/overlays/actors/ovl_Obj_Spidertent/z_obj_spidertent.c
  src/overlays/actors/ovl_Obj_Spinyroll/z_obj_spinyroll.c
  src/overlays/actors/ovl_Obj_Spinyroll/z_obj_spinyroll.h
  src/overlays/actors/ovl_Object_Kankyo/z_object_kankyo.c
Labels: Clean up, Merge-ready

#1022 Fix `EnHorseAction` enum
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.h
  tools/disasm/functions.txt
Labels: Clean up, Merge-ready

#1026 Purge `ExchangeItemID` enum
  include/functions.h
  include/z64item.h
  include/z64player.h
  src/code/code_8012EC80.c
  src/code/z_actor.c
  src/code/z_player_lib.c
  src/overlays/actors/ovl_En_Ah/z_en_ah.c
  src/overlays/actors/ovl_En_Al/z_en_al.c
  src/overlays/actors/ovl_En_Baba/z_en_baba.c
  src/overlays/actors/ovl_En_Bba_01/z_en_bba_01.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Bjt/z_en_bjt.c
  src/overlays/actors/ovl_En_Cne_01/z_en_cne_01.c
  src/overlays/actors/ovl_En_Dai/z_en_dai.c
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
  src/overlays/actors/ovl_En_Dnp/z_en_dnp.c
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.c
  src/overlays/actors/ovl_En_Dns/z_en_dns.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Ginko_Man/z_en_ginko_man.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_Guruguru/z_en_guruguru.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Ja/z_en_ja.c
  src/overlays/actors/ovl_En_Kgy/z_en_kgy.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  src/overlays/actors/ovl_En_Ma_Yto/z_en_ma_yto.c
  src/overlays/actors/ovl_En_Minifrog/z_en_minifrog.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
  src/overlays/actors/ovl_En_Owl/z_en_owl.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Pst/z_en_pst.c
  src/overlays/actors/ovl_En_Sellnuts/z_en_sellnuts.c
  src/overlays/actors/ovl_En_Shn/z_en_shn.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  src/overlays/actors/ovl_En_Tab/z_en_tab.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_En_Toto/z_en_toto.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Zot/z_en_zot.c
  src/overlays/actors/ovl_Obj_Bean/z_obj_bean.c
  tools/namefixer.py
Labels: Clean up, Merge-ready
