Repository zeldaret/mm, pull requests merged in 2022-03, with the labels that each got.

#664 Optional file disasm
  tools/disasm/disasm.py
Labels: Tooling, Merge-ready

#669 Ovl_En_Drs OK and Documented
  assets/xml/objects/object_drs.xml
  assets/xml/objects/object_msmo.xml
  spec
  src/overlays/actors/ovl_En_Drs/z_en_drs.c
  src/overlays/actors/ovl_En_Drs/z_en_drs.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Asset, Merge-ready

#694 En_Syateki_Crow (Shooting Gallery Guay) OK
  spec
  src/overlays/actors/ovl_En_Syateki_Crow/z_en_syateki_crow.c
  src/overlays/actors/ovl_En_Syateki_Crow/z_en_syateki_crow.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#655 Obj_Hakaisi
  assets/xml/objects/object_hakaisi.xml
  spec
  src/overlays/actors/ovl_En_Rail_Skb/z_en_rail_skb.c
  src/overlays/actors/ovl_Obj_Hakaisi/z_obj_hakaisi.c
  src/overlays/actors/ovl_Obj_Hakaisi/z_obj_hakaisi.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#657 En_Tab
  assets/xml/objects/object_tab.xml
  spec
  src/overlays/actors/ovl_En_Tab/z_en_tab.c
  src/overlays/actors/ovl_En_Tab/z_en_tab.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#676 En_Gg2
  spec
  src/overlays/actors/ovl_En_Gg2/z_en_gg2.c
  src/overlays/actors/ovl_En_Gg2/z_en_gg2.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#683 En_Butte
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Butte/z_en_butte.c
  src/overlays/actors/ovl_En_Butte/z_en_butte.h
Labels: Overlay, Merge-ready

#690 En_Racedog OK
  spec
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.c
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#699 Bg_Hakugin_Switch
  spec
  src/overlays/actors/ovl_Bg_Hakugin_Switch/z_bg_hakugin_switch.c
  src/overlays/actors/ovl_Bg_Hakugin_Switch/z_bg_hakugin_switch.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#693 `z_player_call` OK
  include/functions.h
  include/initvars.h
  include/variables.h
  spec
  src/code/z_player_call.c
  src/overlays/actors/ovl_player_actor/z_player.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#582 Decompile and partially document some functions in z_play
  include/functions.h
  include/z64.h
  src/code/z_actor.c
  src/code/z_collision_check.c
  src/code/z_effect.c
  src/code/z_effect_soft_sprite.c
  src/code/z_game_over.c
  src/code/z_play.c
  src/overlays/actors/ovl_Bg_Ikana_Rotaryroom/z_bg_ikana_rotaryroom.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_Door_Ana/z_door_ana.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Okarina_Effect/z_en_okarina_effect.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_En_Torch2/z_en_torch2.c
  src/overlays/actors/ovl_En_Torch2/z_en_torch2.h
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Warp_Uzu/z_en_warp_uzu.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.c
  src/overlays/actors/ovl_Obj_Roomtimer/z_obj_roomtimer.c
  tools/actorfixer.py
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#656 En_Prz
  spec
  src/overlays/actors/ovl_En_Prz/z_en_prz.c
  src/overlays/actors/ovl_En_Prz/z_en_prz.h
  undefined_syms.txt
Labels: Overlay, Merge-ready, Waiting-for-author

#643 Bg_ingate OK
  assets/xml/objects/object_sichitai_obj.xml
  spec
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#638 En_shn OK
  assets/xml/objects/object_shn.xml
  include/z64item.h
  spec
  src/overlays/actors/ovl_En_Shn/z_en_shn.c
  src/overlays/actors/ovl_En_Shn/z_en_shn.h
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready, Waiting-for-author

#671 En_Mm3
  assets/xml/overlays/ovl_En_Mm3.xml
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Mm3/z_en_mm3.c
  src/overlays/actors/ovl_En_Mm3/z_en_mm3.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#696 Misc NON_MATCHINGS/NON_EQUIVALENTS
  include/z64.h
  include/z64light.h
  spec
  src/code/z_fireobj.c
  src/code/z_rcp.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
  src/overlays/actors/ovl_En_Bomjima/z_en_bomjima.c
  src/overlays/actors/ovl_En_Goroiwa/z_en_goroiwa.c
  src/overlays/actors/ovl_En_Ishi/z_en_ishi.c
  src/overlays/actors/ovl_En_Kanban/z_en_kanban.c
  src/overlays/actors/ovl_Obj_Bean/z_obj_bean.c
  src/overlays/actors/ovl_Obj_Snowball/z_obj_snowball.c
  src/overlays/actors/ovl_Obj_Snowball2/z_obj_snowball2.c
  src/overlays/gamestates/ovl_daytelop/z_daytelop.c
  src/overlays/gamestates/ovl_opening/z_opening.c
  src/overlays/gamestates/ovl_select/z_select.c
  src/overlays/gamestates/ovl_title/z_title.c
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Clean up, Merge-ready

#526 Bg_F40_Switch OK and documented
  spec
  src/overlays/actors/ovl_Bg_F40_Switch/z_bg_f40_switch.c
  src/overlays/actors/ovl_Bg_F40_Switch/z_bg_f40_switch.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#670 En_Osk
  spec
  src/overlays/actors/ovl_En_Osk/z_en_osk.c
  src/overlays/actors/ovl_En_Osk/z_en_osk.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#527 z_object_switch OK
  .gitignore
  assets/xml/objects/gameplay_dangeon_keep.xml
  spec
  src/overlays/actors/ovl_Obj_Switch/z_obj_switch.c
  src/overlays/actors/ovl_Obj_Switch/z_obj_switch.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Last-review

#415 `z_skin` and `z_skin_awb` OK and documented a bit
  include/functions.h
  include/variables.h
  include/z64.h
  include/z64animation.h
  include/z64skin.h
  spec
  src/code/z_bgcheck.c
  src/code/z_demo.c
  src/code/z_lifemeter.c
  src/code/z_skelanime.c
  src/code/z_skin.c
  src/code/z_skin_awb.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.h
  src/overlays/actors/ovl_En_Horse_Link_Child/z_en_horse_link_child.h
  tools/ZAPDConfigs/MM/SymbolMap_MM.txt
  tools/actorfixer.py
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/boot_functions.csv
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#620 Audio_Load OK and Documented
  include/functions.h
  include/macros.h
  include/variables.h
  include/z64audio.h
  spec
  src/boot_O2_g3/yaz0.c
  src/boot_O2_g3/z_std_dma.c
  src/code/audio/audio_heap.c
  src/code/audio/audio_load.c
  src/code/audio/audio_playback.c
  src/code/audio/audio_seqplayer.c
  src/code/audio/code_80192BE0.c
  src/code/audioMgr.c
  src/code/z_collision_check.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/boot_functions.csv
  tools/sizes/code_functions.csv
Labels: code, Audio, Merge-ready

#621 Audio_Heap OK and Documented
  include/functions.h
  include/variables.h
  src/code/audio/audio_heap.c
  src/code/audio/audio_init_params.c
  src/code/audio/audio_seqplayer.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Audio, Merge-ready

#617 Obj_Grass
  assets/xml/overlays/ovl_Obj_Grass.xml
  spec
  src/overlays/actors/ovl_Obj_Grass/z_obj_grass.c
  src/overlays/actors/ovl_Obj_Grass/z_obj_grass.h
  src/overlays/actors/ovl_Obj_Grass_Carry/z_obj_grass_carry.h
Labels: Overlay, Merge-ready

#718 Script for checking relocs correctly updated on spec
  Jenkinsfile
  spec
  tools/reloc_spec_check.sh
Labels: Tooling, Merge-ready

#742 En_Fishing OK (three functions matched)
  spec
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
Labels: Overlay, Clean up, Merge-ready

#576 Clean up z_door_ana
  src/overlays/actors/ovl_Door_Ana/z_door_ana.c
  src/overlays/actors/ovl_Door_Ana/z_door_ana.h
Labels: Clean up, Merge-ready

#622 Obj_Skateblock
  spec
  src/overlays/actors/ovl_Obj_Skateblock/z_obj_skateblock.c
  src/overlays/actors/ovl_Obj_Skateblock/z_obj_skateblock.h
Labels: Overlay, Merge-ready

#635 Obj_Spinyroll (2 non-matching)
  spec
  src/overlays/actors/ovl_Obj_Spinyroll/z_obj_spinyroll.c
  src/overlays/actors/ovl_Obj_Spinyroll/z_obj_spinyroll.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#639 Obj_Spidertent (1 non-matching)
  spec
  src/overlays/actors/ovl_Obj_Spidertent/z_obj_spidertent.c
  src/overlays/actors/ovl_Obj_Spidertent/z_obj_spidertent.h
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#651 En_Tsn
  assets/xml/objects/object_tsn.xml
  include/z64item.h
  spec
  src/overlays/actors/ovl_En_Tsn/z_en_tsn.c
  src/overlays/actors/ovl_En_Tsn/z_en_tsn.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#654 En_Elfgrp
  spec
  src/overlays/actors/ovl_En_Elfgrp/z_en_elfgrp.c
  src/overlays/actors/ovl_En_Elfgrp/z_en_elfgrp.h
Labels: Overlay, Merge-ready

#674 En_look_nuts OK with docs
  assets/xml/objects/object_dnk.xml
  spec
  src/overlays/actors/ovl_En_Dnk/z_en_dnk.c
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.c
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Last-review, Waiting-for-author

#659 En_Mt_tag OK and documented (Goron Race Manager)
  spec
  src/overlays/actors/ovl_En_Mt_tag/z_en_mt_tag.c
  src/overlays/actors/ovl_En_Mt_tag/z_en_mt_tag.h
  src/overlays/actors/ovl_En_Rg/z_en_rg.c
  src/overlays/actors/ovl_En_Rg/z_en_rg.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#677 En_Bombf
  spec
  src/overlays/actors/ovl_En_Bombf/z_en_bombf.c
  src/overlays/actors/ovl_En_Bombf/z_en_bombf.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#678 En_Vm
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Vm/z_en_vm.c
  src/overlays/actors/ovl_En_Vm/z_en_vm.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#679 En_Bom_Chu (Bombchu) OK and documented
  assets/xml/objects/gameplay_keep.xml
  spec
  src/overlays/actors/ovl_En_Bom_Chu/z_en_bom_chu.c
  src/overlays/actors/ovl_En_Bom_Chu/z_en_bom_chu.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#680 ObjectFsn documented
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_fsn.xml
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.h
  src/overlays/actors/ovl_En_GirlA/z_en_girla.c
  src/overlays/actors/ovl_En_GirlA/z_en_girla.h
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.h
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.h
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.h
  tools/disasm/functions.txt
Labels: Clean up, Asset, Merge-ready

#684 En_Bombers
  assets/xml/overlays/ovl_En_Bombers.xml
  spec
  src/overlays/actors/ovl_En_Bom_Bowl_Man/z_en_bom_bowl_man.h
  src/overlays/actors/ovl_En_Bombers/z_en_bombers.c
  src/overlays/actors/ovl_En_Bombers/z_en_bombers.h
  src/overlays/actors/ovl_En_Bomjima/z_en_bomjima.c
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#685 Bg_Spdweb (1 non-matching)
  spec
  src/overlays/actors/ovl_Bg_Spdweb/z_bg_spdweb.c
  src/overlays/actors/ovl_Bg_Spdweb/z_bg_spdweb.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#714 En_Tanron4 OK (seagulls)
  assets/xml/objects/object_tanron4.xml
  include/functions.h
  spec
  src/code/z_lib.c
  src/overlays/actors/ovl_En_Tanron4/z_en_tanron4.c
  src/overlays/actors/ovl_En_Tanron4/z_en_tanron4.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#686 Oceff wipe6
  assets/xml/overlays/ovl_Oceff_Wipe6.xml
  include/functions.h
  include/z64.h
  spec
  src/code/z_camera.c
  src/overlays/actors/ovl_Oceff_Wipe6/z_oceff_wipe6.c
  src/overlays/actors/ovl_Oceff_Wipe6/z_oceff_wipe6.h
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: Overlay, Merge-ready

#717 Fix two small things in Bg_F40_Switch
  src/overlays/actors/ovl_Bg_F40_Switch/z_bg_f40_switch.c
  src/overlays/actors/ovl_Bg_F40_Switch/z_bg_f40_switch.h
Labels: Clean up, Merge-ready

#719 ovl_Obj_Yasi
  spec
  src/overlays/actors/ovl_Obj_Yasi/z_obj_yasi.c
  src/overlays/actors/ovl_Obj_Yasi/z_obj_yasi.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#720 Document object_dog
  assets/xml/objects/object_dog.xml
  src/overlays/actors/ovl_En_Dg/z_en_dg.c
  src/overlays/actors/ovl_En_Dg/z_en_dg.h
  src/overlays/actors/ovl_En_Invadepoh/z_en_invadepoh.c
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.c
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.h
Labels: Asset, Merge-ready

#653 En_Tanron5
  include/z64math.h
  spec
  src/overlays/actors/ovl_Bg_Iknin_Susceil/z_bg_iknin_susceil.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.c
  src/overlays/actors/ovl_En_Rail_Skb/z_en_rail_skb.c
  src/overlays/actors/ovl_En_Skb/z_en_skb.c
  src/overlays/actors/ovl_En_Tanron5/z_en_tanron5.c
  src/overlays/actors/ovl_En_Tanron5/z_en_tanron5.h
  src/overlays/actors/ovl_Obj_Bean/z_obj_bean.c
  src/overlays/actors/ovl_Obj_Oshihiki/z_obj_oshihiki.c
  src/overlays/actors/ovl_Obj_Skateblock/z_obj_skateblock.c
  undefined_syms.txt
Labels: Overlay, Merge-ready

#687 Obj_Kendo_Kanban (1 non-matching)
  spec
  src/overlays/actors/ovl_Obj_Kendo_Kanban/z_obj_kendo_kanban.c
  src/overlays/actors/ovl_Obj_Kendo_Kanban/z_obj_kendo_kanban.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#691 En_Sda
  assets/xml/overlays/ovl_En_Sda.xml
  spec
  src/overlays/actors/ovl_En_Sda/z_en_sda.c
  src/overlays/actors/ovl_En_Sda/z_en_sda.h
Labels: Overlay, Merge-ready

#697 En_Wood02
  spec
  src/overlays/actors/ovl_En_Wood02/z_en_wood02.c
  src/overlays/actors/ovl_En_Wood02/z_en_wood02.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#700 Obj_Driftice (2 non-matching)
  spec
  src/overlays/actors/ovl_Obj_Driftice/z_obj_driftice.c
  src/overlays/actors/ovl_Obj_Driftice/z_obj_driftice.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#702 EffectSsBubble OK
  assets/xml/objects/gameplay_keep.xml
  spec
  src/overlays/actors/ovl_En_Fish2/z_en_fish2.c
  src/overlays/effects/ovl_Effect_Ss_Bubble/z_eff_ss_bubble.c
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#705 En_Hidden_Nuts
  spec
  src/overlays/actors/ovl_En_Hidden_Nuts/z_en_hidden_nuts.c
  src/overlays/actors/ovl_En_Hidden_Nuts/z_en_hidden_nuts.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#640 En_kusa OK and Documented
  assets/xml/objects/gameplay_field_keep.xml
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_kusa.xml
  spec
  src/overlays/actors/ovl_En_Kusa/z_en_kusa.c
  src/overlays/actors/ovl_En_Kusa/z_en_kusa.h
  src/overlays/actors/ovl_En_Kusa2/z_en_kusa2.c
  src/overlays/actors/ovl_En_Scopenuts/z_en_scopenuts.c
  src/overlays/actors/ovl_Obj_Bean/z_obj_bean.c
  src/overlays/actors/ovl_Obj_Grass/z_obj_grass.c
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#706 En_Horse_Game_Check
  assets/xml/overlays/ovl_En_Horse_Game_Check.xml
  spec
  src/overlays/actors/ovl_En_Horse/z_en_horse.h
  src/overlays/actors/ovl_En_Horse_Game_Check/z_en_horse_game_check.c
  src/overlays/actors/ovl_En_Horse_Game_Check/z_en_horse_game_check.h
  src/overlays/actors/ovl_En_In/z_en_in.c
  undefined_syms.txt
Labels: Overlay, Merge-ready

#707 En_Attack_Niw
  spec
  src/overlays/actors/ovl_En_Attack_Niw/z_en_attack_niw.c
  src/overlays/actors/ovl_En_Attack_Niw/z_en_attack_niw.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#708 En_Tanron1
  assets/xml/overlays/ovl_En_Tanron1.xml
  spec
  src/overlays/actors/ovl_En_Tanron1/z_en_tanron1.c
  src/overlays/actors/ovl_En_Tanron1/z_en_tanron1.h
Labels: Overlay, Merge-ready

#710 Fire and Light arrows
  assets/xml/overlays/ovl_Arrow_Ice.xml
  assets/xml/overlays/ovl_Arrow_Light.xml
  assets/xml/overlays/ovl_Arrow_fire.xml
  spec
  src/overlays/actors/ovl_Arrow_Fire/z_arrow_fire.c
  src/overlays/actors/ovl_Arrow_Fire/z_arrow_fire.h
  src/overlays/actors/ovl_Arrow_Ice/z_arrow_ice.c
  src/overlays/actors/ovl_Arrow_Light/z_arrow_light.c
  src/overlays/actors/ovl_Arrow_Light/z_arrow_light.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#713 En_Bb (Blue Bubble) OK and documented. object_bb documented
  assets/xml/objects/object_bb.xml
  include/z64save.h
  spec
  src/overlays/actors/ovl_En_Bb/z_en_bb.c
  src/overlays/actors/ovl_En_Bb/z_en_bb.h
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  tools/actorfixer.py
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#716 En_Syateki_Dekunuts (Shooting Gallery Deku Scrub) OK
  spec
  src/overlays/actors/ovl_En_Syateki_Crow/z_en_syateki_crow.c
  src/overlays/actors/ovl_En_Syateki_Dekunuts/z_en_syateki_dekunuts.c
  src/overlays/actors/ovl_En_Syateki_Dekunuts/z_en_syateki_dekunuts.h
  src/overlays/actors/ovl_En_Syateki_Wf/z_en_syateki_wf.c
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#709 Bg_Hakugin_Bombwall (bad relocs)
  spec
  src/overlays/actors/ovl_Bg_Hakugin_Bombwall/z_bg_hakugin_bombwall.c
  src/overlays/actors/ovl_Bg_Hakugin_Bombwall/z_bg_hakugin_bombwall.h
Labels: Overlay, Merge-ready

#711 En_Mk
  spec
  src/overlays/actors/ovl_En_Mk/z_en_mk.c
  src/overlays/actors/ovl_En_Mk/z_en_mk.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#712 Obj_Vspinyroll (1 non-matching)
  spec
  src/overlays/actors/ovl_Obj_Vspinyroll/z_obj_vspinyroll.c
  src/overlays/actors/ovl_Obj_Vspinyroll/z_obj_vspinyroll.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#591 z_obj_chan OK
  spec
  src/overlays/actors/ovl_Obj_Chan/z_obj_chan.c
  src/overlays/actors/ovl_Obj_Chan/z_obj_chan.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Last-review, Waiting-for-author

#722 En_Jgame_Tsn
  spec
  src/overlays/actors/ovl_En_Jgame_Tsn/z_en_jgame_tsn.c
  src/overlays/actors/ovl_En_Jgame_Tsn/z_en_jgame_tsn.h
  src/overlays/actors/ovl_Obj_Jgame_Light/z_obj_jgame_light.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#723 Bg_Dblue_Waterfall
  spec
  src/overlays/actors/ovl_Bg_Dblue_Waterfall/z_bg_dblue_waterfall.c
  src/overlays/actors/ovl_Bg_Dblue_Waterfall/z_bg_dblue_waterfall.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#724 Bg_Dblue_Balance
  spec
  src/overlays/actors/ovl_Bg_Dblue_Balance/z_bg_dblue_balance.c
  src/overlays/actors/ovl_Bg_Dblue_Balance/z_bg_dblue_balance.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#728 En_Hanabi
  spec
  src/overlays/actors/ovl_En_Hanabi/z_en_hanabi.c
  src/overlays/actors/ovl_En_Hanabi/z_en_hanabi.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#725 En_Maruta
  spec
  src/overlays/actors/ovl_En_Maruta/z_en_maruta.c
  src/overlays/actors/ovl_En_Maruta/z_en_maruta.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#732 En_Kbt
  assets/xml/objects/object_kbt.xml
  spec
  src/overlays/actors/ovl_En_Kbt/z_en_kbt.c
  src/overlays/actors/ovl_En_Kbt/z_en_kbt.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Last-review

#726 En_Tru_Mt
  spec
  src/overlays/actors/ovl_En_Jc_Mato/z_en_jc_mato.c
  src/overlays/actors/ovl_En_Tru_Mt/z_en_tru_mt.c
  src/overlays/actors/ovl_En_Tru_Mt/z_en_tru_mt.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#729 En_Fu_Kago
  spec
  src/overlays/actors/ovl_En_Fu/z_en_fu.h
  src/overlays/actors/ovl_En_Fu_Kago/z_en_fu_kago.c
  src/overlays/actors/ovl_En_Fu_Kago/z_en_fu_kago.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#721 Bombers2 OK
  assets/xml/objects/object_cs.xml
  include/z64.h
  spec
  src/code/code_8012EC80.c
  src/overlays/actors/ovl_En_Bom_Bowl_Man/z_en_bom_bowl_man.c
  src/overlays/actors/ovl_En_Bombers/z_en_bombers.c
  src/overlays/actors/ovl_En_Bombers2/z_en_bombers2.c
  src/overlays/actors/ovl_En_Bombers2/z_en_bombers2.h
  src/overlays/actors/ovl_En_Bomjima/z_en_bomjima.c
  src/overlays/actors/ovl_En_Bomjimb/z_en_bomjimb.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#662 En_Gakufu OK and Documented + Related Audio Functions
  assets/xml/overlays/ovl_En_Gakufu.xml
  include/functions.h
  include/variables.h
  include/z64ocarina.h
  spec
  src/code/audio/code_80192BE0.c
  src/code/audio/code_8019AF00.c
  src/overlays/actors/ovl_En_Gakufu/z_en_gakufu.c
  src/overlays/actors/ovl_En_Gakufu/z_en_gakufu.h
  src/overlays/actors/ovl_En_Zot/z_en_zot.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: Overlay, Audio, Merge-ready

#564 Decompile obj_wturn
  spec
  src/overlays/actors/ovl_Obj_Wturn/z_obj_wturn.c
  src/overlays/actors/ovl_Obj_Wturn/z_obj_wturn.h
Labels: Overlay, Merge-ready, Waiting-for-author

#746 En_Hs
  spec
  src/overlays/actors/ovl_En_Hs/z_en_hs.c
  src/overlays/actors/ovl_En_Hs/z_en_hs.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#675 En_Fu_Mato
  spec
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Fu_Mato/z_en_fu_mato.c
  src/overlays/actors/ovl_En_Fu_Mato/z_en_fu_mato.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#733 Bg_Breakwall
  include/functions.h
  spec
  src/overlays/actors/ovl_Bg_Breakwall/z_bg_breakwall.c
  src/overlays/actors/ovl_Bg_Breakwall/z_bg_breakwall.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#734 Obj_Armos
  spec
  src/overlays/actors/ovl_Obj_Armos/z_obj_armos.c
  src/overlays/actors/ovl_Obj_Armos/z_obj_armos.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#735 EffectSsSibuki OK
  spec
  src/overlays/effects/ovl_Effect_Ss_Sibuki/z_eff_ss_sibuki.c
Labels: Overlay, Merge-ready

#736 `ovl_Boss_03`: Gyorg OK
  assets/xml/objects/object_boss03.xml
  include/functions.h
  spec
  src/code/z_actor.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.h
  src/overlays/actors/ovl_En_Tanron3/z_en_tanron3.c
  src/overlays/actors/ovl_En_Tanron3/z_en_tanron3.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#737 Dm_An
  assets/xml/objects/object_an1.xml
  spec
  src/overlays/actors/ovl_Dm_An/z_dm_an.c
  src/overlays/actors/ovl_Dm_An/z_dm_an.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#748 `EffectEnIceBlock` OK, `object_ice_block` documented (and minor `Obj_Iceblock` documented)
  assets/xml/objects/object_ice_block.xml
  spec
  src/overlays/actors/ovl_Obj_Iceblock/z_obj_iceblock.c
  src/overlays/actors/ovl_Obj_Iceblock/z_obj_iceblock.h
  src/overlays/effects/ovl_Effect_En_Ice_Block/z_eff_en_ice_block.c
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#743 Elf_Msg6
  spec
  src/overlays/actors/ovl_Elf_Msg6/z_elf_msg6.c
  src/overlays/actors/ovl_Elf_Msg6/z_elf_msg6.h
Labels: Overlay, Merge-ready

#744 En_Light
  spec
  src/overlays/actors/ovl_En_Light/z_en_light.c
  src/overlays/actors/ovl_En_Light/z_en_light.h
Labels: Overlay, Merge-ready

#745 Obj_Entotu
  assets/xml/overlays/ovl_Obj_Entotu.xml
  include/macros.h
  spec
  src/overlays/actors/ovl_Obj_Entotu/z_obj_entotu.c
  src/overlays/actors/ovl_Obj_Entotu/z_obj_entotu.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#749 Document object_aob (Mamamu Yan's object)
  assets/xml/objects/object_aob.xml
  src/code/z_en_hy_code.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.h
Labels: Asset, Merge-ready

#750 EnNeoReeba OK and documented, object_rb mostly doc'd
  assets/xml/objects/object_rb.xml
  spec
  src/overlays/actors/ovl_En_Neo_Reeba/z_en_neo_reeba.c
  src/overlays/actors/ovl_En_Neo_Reeba/z_en_neo_reeba.h
  tools/disasm/functions.txt
Labels: Overlay, Asset, Merge-ready

#769 Boot_800862E0 OK
  include/functions.h
  include/variables.h
  spec
  src/boot_O2/boot_800862E0.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/boot_functions.csv
Labels: boot, Merge-ready

#752 Effects Stick and Kakera cleanup
  assets/xml/objects/gameplay_keep.xml
  src/overlays/effects/ovl_Effect_Ss_Kakera/z_eff_ss_kakera.c
  src/overlays/effects/ovl_Effect_Ss_Stick/z_eff_ss_stick.c
  tools/disasm/functions.txt
Labels: Overlay, Clean up, Merge-ready

#754 Bg_F40_Block
  spec
  src/overlays/actors/ovl_Bg_F40_Block/z_bg_f40_block.c
  src/overlays/actors/ovl_Bg_F40_Block/z_bg_f40_block.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#755 Obj_Pzlblock
  include/functions.h
  spec
  src/overlays/actors/ovl_Obj_Pzlblock/z_obj_pzlblock.c
  src/overlays/actors/ovl_Obj_Pzlblock/z_obj_pzlblock.h
Labels: Overlay, Merge-ready

#757 En_Kujiya
  spec
  src/overlays/actors/ovl_En_Kujiya/z_en_kujiya.c
  src/overlays/actors/ovl_En_Kujiya/z_en_kujiya.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#758 Obj_Smork
  assets/xml/overlays/ovl_Obj_Smork.xml
  spec
  src/overlays/actors/ovl_En_Kanban/z_en_kanban.h
  src/overlays/actors/ovl_Obj_Smork/z_obj_smork.c
  src/overlays/actors/ovl_Obj_Smork/z_obj_smork.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#760 SubS General Pathing Helpers
  assets/xml/code/sub_s.xml
  include/functions.h
  include/z64subs.h
  spec
  src/code/z_en_hy_code.c
  src/code/z_sub_s.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_En_Akindonuts/z_en_akindonuts.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Baba/z_en_baba.c
  src/overlays/actors/ovl_En_Bba_01/z_en_bba_01.c
  src/overlays/actors/ovl_En_Bom_Bowl_Man/z_en_bom_bowl_man.c
  src/overlays/actors/ovl_En_Cne_01/z_en_cne_01.c
  src/overlays/actors/ovl_En_Daiku/z_en_daiku.c
  src/overlays/actors/ovl_En_Daiku2/z_en_daiku2.c
  src/overlays/actors/ovl_En_Dg/z_en_dg.c
  src/overlays/actors/ovl_En_Gg2/z_en_gg2.c
  src/overlays/actors/ovl_En_Gk/z_en_gk.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Hidden_Nuts/z_en_hidden_nuts.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_Jg/z_en_jg.c
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Pr2/z_en_pr2.c
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.c
  src/overlays/actors/ovl_En_Rg/z_en_rg.c
  src/overlays/actors/ovl_En_Ruppecrow/z_en_ruppecrow.c
  src/overlays/actors/ovl_En_Scopenuts/z_en_scopenuts.c
  src/overlays/actors/ovl_En_Sellnuts/z_en_sellnuts.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Sw/z_en_sw.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_En_Trt2/z_en_trt2.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Tru_Mt/z_en_tru_mt.c
  src/overlays/actors/ovl_En_Zo/z_en_zo.c
  tools/actorfixer.py
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#762 Obj_Hamishi
  spec
  src/overlays/actors/ovl_Obj_Hamishi/z_obj_hamishi.c
  src/overlays/actors/ovl_Obj_Hamishi/z_obj_hamishi.h
Labels: Overlay, Merge-ready

#768 `z_kaleido_setup`
  include/functions.h
  include/variables.h
  spec
  src/code/z_kaleido_setup.c
  src/code/z_lifemeter.c
  src/code/z_message.c
  src/code/z_play.c
  src/overlays/actors/ovl_Door_Ana/z_door_ana.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_En_Bom/z_en_bom.c
  src/overlays/actors/ovl_En_Bomjimb/z_en_bomjimb.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dnq/z_en_dnq.c
  src/overlays/actors/ovl_En_Dns/z_en_dns.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_Hs/z_en_hs.c
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Rg/z_en_rg.c
  src/overlays/actors/ovl_En_Tanron5/z_en_tanron5.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_En_Water_Effect/z_en_water_effect.c
  src/overlays/gamestates/ovl_file_choose/z_file_choose.h
  tools/actorfixer.py
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#413 En_Horse (2 non-matching)
  assets/xml/objects/object_horse_link_child.xml
  include/functions.h
  include/variables.h
  spec
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.h
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  tools/actorfixer.py
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#695 Mir_Ray3 (1 non-matching)
  spec
  src/overlays/actors/ovl_Mir_Ray3/z_mir_ray3.c
  src/overlays/actors/ovl_Mir_Ray3/z_mir_ray3.h
Labels: Overlay, Merge-ready

#731 En_Wallmas (Wallmaster) OK and documented. object_wallmaster documented
  assets/xml/objects/object_wallmaster.xml
  spec
  src/overlays/actors/ovl_En_Floormas/z_en_floormas.c
  src/overlays/actors/ovl_En_Floormas/z_en_floormas.h
  src/overlays/actors/ovl_En_Pr2/z_en_pr2.c
  src/overlays/actors/ovl_En_Wallmas/z_en_wallmas.c
  src/overlays/actors/ovl_En_Wallmas/z_en_wallmas.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Asset, Merge-ready

#753 Obj_Bigicicle
  spec
  src/overlays/actors/ovl_Obj_Bigicicle/z_obj_bigicicle.c
  src/overlays/actors/ovl_Obj_Bigicicle/z_obj_bigicicle.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#766 Obj_Hariko
  assets/xml/objects/object_hariko.xml
  spec
  src/overlays/actors/ovl_Obj_Hariko/z_obj_hariko.c
  src/overlays/actors/ovl_Obj_Hariko/z_obj_hariko.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#774 Fix actorfixer
  tools/actorfixer.py
Labels: Tooling

#767 ABI FPR names
  Makefile
  diff_settings.py
  include/macro.inc
  tools/asm-differ/.gitrepo
  tools/asm-differ/.pre-commit-config.yaml
  tools/asm-differ/README.md
  tools/asm-differ/diff.py
  tools/asm-processor/asm_processor.py
  tools/asm-processor/build.py
  tools/asm-processor/prelude.inc
  tools/disasm/disasm.py
  tools/disasm/mips_isa.py
Labels: Tooling, Merge-ready
