Repository zeldaret/mm, pull requests merged in 2022-01, with the labels that each got.

#363 En_Kusa2
  include/variables.h
  spec
  src/overlays/actors/ovl_En_Kusa2/z_en_kusa2.c
  src/overlays/actors/ovl_En_Kusa2/z_en_kusa2.h
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#378 En_Fishing (3 non-matching)
  assets/xml/objects/object_fish.xml
  include/functions.h
  include/z64item.h
  spec
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.h
  src/overlays/actors/ovl_En_Kanban/z_en_kanban.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Last-review

#385 pfsreadwrite file OK, contpfs OK and data/bss migrated, pfsgetstatus OK
  include/functions.h
  include/io/controller.h
  spec
  src/boot_O2_g3/yaz0.c
  src/libultra/io/contchannelreset.c
  src/libultra/io/contpfs.c
  src/libultra/io/contreaddata.c
  src/libultra/io/controller.c
  src/libultra/io/motor.c
  src/libultra/io/pfsgetstatus.c
  src/libultra/io/pfsisplug.c
  src/libultra/io/pfsreadwritefile.c
  src/libultra/voice/voicegetstatus.c
Labels: boot, Merge-ready

#406 En_Wiz_Fire
  assets/xml/objects/object_wiz.xml
  include/functions.h
  spec
  src/overlays/actors/ovl_En_Wiz/z_en_wiz.h
  src/overlays/actors/ovl_En_Wiz_Fire/z_en_wiz_fire.c
  src/overlays/actors/ovl_En_Wiz_Fire/z_en_wiz_fire.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#433 En_Bomjima (1 non-equiv)
  assets/xml/objects/object_cs.xml
  assets/xml/overlays/ovl_En_Bomjima.xml
  spec
  src/overlays/actors/ovl_En_Bombal/z_en_bombal.h
  src/overlays/actors/ovl_En_Bomjima/z_en_bomjima.c
  src/overlays/actors/ovl_En_Bomjima/z_en_bomjima.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#443 En_St
  include/functions.h
  include/variables.h
  spec
  src/overlays/actors/ovl_En_St/z_en_st.c
  src/overlays/actors/ovl_En_St/z_en_st.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#444 En_Peehat
  spec
  src/overlays/actors/ovl_En_Peehat/z_en_peehat.c
  src/overlays/actors/ovl_En_Peehat/z_en_peehat.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#445 Object_Kankyo (1 non-matching)
  include/functions.h
  include/variables.h
  spec
  src/overlays/actors/ovl_Object_Kankyo/z_object_kankyo.c
  src/overlays/actors/ovl_Object_Kankyo/z_object_kankyo.h
  src/overlays/effects/ovl_Effect_Ss_Dead_Dd/z_eff_ss_dead_dd.c
Labels: Overlay, Merge-ready

#450 En_Fish
  include/variables.h
  spec
  src/overlays/actors/ovl_En_Fish/z_en_fish.c
  src/overlays/actors/ovl_En_Fish/z_en_fish.h
Labels: Overlay, Merge-ready

#453 En_Gb2
  spec
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#468 Obj_Snowball (1 non-matching)
  spec
  src/overlays/actors/ovl_Obj_Snowball/z_obj_snowball.c
  src/overlays/actors/ovl_Obj_Snowball/z_obj_snowball.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#492 EnMm2 OK
  assets/xml/overlays/ovl_En_Mm2.xml
  spec
  src/overlays/actors/ovl_En_Mm2/z_en_mm2.c
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#502 ovl_En_Ruppecrow OK with documentation
  spec
  src/overlays/actors/ovl_En_Ruppecrow/z_en_ruppecrow.c
  src/overlays/actors/ovl_En_Ruppecrow/z_en_ruppecrow.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#504 ovl_Obj_Dowsing ok
  spec
  src/overlays/actors/ovl_Obj_Dowsing/z_obj_dowsing.c
  src/overlays/actors/ovl_Obj_Dowsing/z_obj_dowsing.h
Labels: Overlay, Merge-ready

#465 Refactor disasm for speedups
  Makefile
  tools/disasm/disasm.py
Labels: Tooling, Merge-ready

#505 ovl_Obj_Roomtimer OK
  spec
  src/overlays/actors/ovl_Obj_Roomtimer/z_obj_roomtimer.c
  src/overlays/actors/ovl_Obj_Roomtimer/z_obj_roomtimer.h
Labels: Overlay, Merge-ready

#511 Graph OK
  src/code/graph.c
Labels: code, Merge-ready

#512 Ovl obj jg gakki
  spec
  src/overlays/actors/ovl_Obj_Jg_Gakki/z_obj_jg_gakki.c
  src/overlays/actors/ovl_Obj_Jg_Gakki/z_obj_jg_gakki.h
Labels: Overlay, Merge-ready

#519 EnItem00 OK
  include/functions.h
  src/code/z_en_item00.c
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.c
Labels: code, Merge-ready

#520 Effect_soft_sprite_old_init and particleOverlayTable OK
  include/initvars.h
  include/variables.h
  include/z64effect.h
  spec
  src/code/z_effect_soft_sprite.c
  src/code/z_effect_soft_sprite_dlftbls.c
  src/code/z_effect_soft_sprite_old_init.c
  tools/disasm/files.txt
  tools/disasm/variables.txt
Labels: code, Merge-ready

#521 Document object_giant and finish documenting En_Giant
  assets/xml/objects/object_giant.xml
  src/overlays/actors/ovl_En_Giant/z_en_giant.c
  src/overlays/actors/ovl_En_Giant/z_en_giant.h
  undefined_syms.txt
Labels: Asset, Merge-ready

#529 Boss_04
  spec
  src/overlays/actors/ovl_Boss_04/z_boss_04.c
  src/overlays/actors/ovl_Boss_04/z_boss_04.h
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#535 Obj_Hugebombiwa
  spec
  src/overlays/actors/ovl_Obj_Hugebombiwa/z_obj_hugebombiwa.c
  src/overlays/actors/ovl_Obj_Hugebombiwa/z_obj_hugebombiwa.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#536 En_Kame
  spec
  src/overlays/actors/ovl_En_Kame/z_en_kame.c
  src/overlays/actors/ovl_En_Kame/z_en_kame.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#539 Obj_Flowerpot
  spec
  src/overlays/actors/ovl_Obj_Flowerpot/z_obj_flowerpot.c
  src/overlays/actors/ovl_Obj_Flowerpot/z_obj_flowerpot.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#541 Document kibako2 object
  assets/xml/objects/object_kibako2.xml
  src/overlays/actors/ovl_Obj_Kibako2/z_obj_kibako2.c
  src/overlays/actors/ovl_Obj_Kibako2/z_obj_kibako2.h
  undefined_syms.txt
Labels: Asset, Merge-ready

#538 En_Ishi
  include/variables.h
  spec
  src/overlays/actors/ovl_En_Ishi/z_en_ishi.c
  src/overlays/actors/ovl_En_Ishi/z_en_ishi.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#544 Document Deku Flower objects and other Obj_Etcetera-related cleanup
  assets/xml/objects/gameplay_keep.xml
  include/variables.h
  src/overlays/actors/ovl_Obj_Etcetera/z_obj_etcetera.c
  src/overlays/actors/ovl_Obj_Etcetera/z_obj_etcetera.h
  tools/disasm/functions.txt
Labels: Asset, Merge-ready

#542 Document object_kibako
  assets/xml/objects/object_kibako.xml
  src/overlays/actors/ovl_Obj_Kibako/z_obj_kibako.c
  undefined_syms.txt
Labels: Asset, Merge-ready

#552 Document stray fairy related objects in gameplay_keep
  assets/xml/objects/gameplay_keep.xml
  include/variables.h
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.h
Labels: Asset, Merge-ready

#553 Document object_stream
  assets/xml/objects/object_stream.xml
  src/overlays/actors/ovl_En_Stream/z_en_stream.c
  tools/ZAPDConfigs/MM/Config.xml
  undefined_syms.txt
Labels: Asset, Merge-ready

#475 SubS Actor Getters OK
  include/functions.h
  include/z64.h
  include/z64actor.h
  src/code/z_en_hy.c
  src/code/z_sub_s.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Dno/z_en_dno.c
  src/overlays/actors/ovl_En_Door/z_en_door.h
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Geg/z_en_geg.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_TG_Sw/z_tg_sw.c
  tools/actorfixer.py
  tools/disasm/functions.txt
  tools/rename_sym.sh
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#545 Move parameter_static and week_static to interface
  tools/filelists/mm.us.rev1/interface.csv
  tools/filelists/mm.us.rev1/misc.csv
  tools/filelists/mm.us.rev1/segments.csv
Labels: Tooling, Merge-ready

#395 `__osMalloc.c` OK
  include/functions.h
  include/macros.h
  include/os_malloc.h
  include/system_malloc.h
  include/ultra64/convert.h
  include/variables.h
  include/z64.h
  spec
  src/boot_O2/__osMalloc.c
  src/boot_O2/boot_800862E0.c
  src/boot_O2/loadfragment.c
  src/boot_O2/loadfragment2.c
  src/boot_O2/system_malloc.c
  src/code/game.c
  src/code/gamealloc.c
  src/code/graph.c
  src/code/listalloc.c
  src/code/speed_meter.c
  src/code/sys_cmpdma.c
  src/code/sys_flashrom.c
  src/code/z_DLF.c
  src/code/z_debug.c
  src/code/z_fbdemo.c
  src/code/z_malloc.c
  src/code/z_vismono.c
  src/overlays/actors/ovl_Eff_Dust/z_eff_dust.c
  tools/disasm/functions.txt
  tools/sizes/boot_functions.csv
Labels: boot

#419 En_Kanban (1 non-matching)
  assets/xml/overlays/ovl_En_Kanban.xml
  include/macros.h
  spec
  src/overlays/actors/ovl_En_Kanban/z_en_kanban.c
  src/overlays/actors/ovl_En_Kanban/z_en_kanban.h
  src/overlays/actors/ovl_En_Kanban/z_en_kanban_gfx.c
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#394 En_hgOK
  spec
  src/overlays/actors/ovl_En_Hgo/z_en_hgo.c
  src/overlays/actors/ovl_En_Hgo/z_en_hgo.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Last-review

#533 En_Ig
  include/z64.h
  spec
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#548 Two small xmls for parameter-related asset files
  assets/xml/interface/week_static.xml
  assets/xml/misc/story_static.xml
Labels: Asset, Merge-ready

#598 Update and fix a few comments for the banker.
  src/overlays/actors/ovl_En_Ginko_Man/z_en_ginko_man.c
Labels: Clean up, Merge-ready

#608 Fix m2ctx for new z_actor
  tools/m2ctx.py
Labels: Tooling, Clean up, Merge-ready

#549 Audio_Effects OK and Documented
  include/functions.h
  include/variables.h
  include/z64audio.h
  spec
  src/code/audio/audio_effects.c
  src/code/audio/audio_seqplayer.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Audio, Merge-ready

#613 Subrepos update
  tools/ZAPD/.gitrepo
  tools/ZAPD/Jenkinsfile
  tools/ZAPD/ZAPD/Declaration.cpp
  tools/ZAPD/ZAPD/Main.cpp
  tools/ZAPD/ZAPD/ZArray.cpp
  tools/ZAPD/ZAPD/ZCollision.cpp
  tools/ZAPD/ZAPD/ZCollision.h
  tools/ZAPD/ZAPD/ZPointer.cpp
  tools/ZAPD/ZAPD/ZPointer.h
  tools/ZAPD/ZAPD/ZResource.h
  tools/ZAPD/ZAPD/ZTexture.cpp
  tools/ZAPD/ZAPD/ZTexture.h
  tools/ZAPD/docs/zapd_extraction_xml_reference.md
  tools/asm-differ/.gitrepo
  tools/asm-differ/diff.py
Labels: Tooling, Merge-ready

#570 Bring merged assets up to current standards
  assets/xml/objects/object_bigpo.xml
  assets/xml/objects/object_bigslime.xml
  assets/xml/objects/object_gmo.xml
  assets/xml/objects/object_mag.xml
  assets/xml/objects/object_tokei_step.xml
Labels: Clean up, Asset, Merge-ready

#572 SubS Skelanime functions
  docs/tutorial/documenting.md
  docs/tutorial/draw_functions.md
  include/functions.h
  include/z64actor.h
  include/z64animation.h
  src/code/z_skelanime.c
  src/code/z_sub_s.c
  src/overlays/actors/ovl_Dm_Nb/z_dm_nb.c
  src/overlays/actors/ovl_Dm_Sa/z_dm_sa.c
  src/overlays/actors/ovl_En_Akindonuts/z_en_akindonuts.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bji_01/z_en_bji_01.c
  src/overlays/actors/ovl_En_Dai/z_en_dai.c
  src/overlays/actors/ovl_En_Daiku/z_en_daiku.c
  src/overlays/actors/ovl_En_Dekunuts/z_en_dekunuts.c
  src/overlays/actors/ovl_En_Dg/z_en_dg.c
  src/overlays/actors/ovl_En_Dnp/z_en_dnp.c
  src/overlays/actors/ovl_En_Ending_Hero/z_en_ending_hero.c
  src/overlays/actors/ovl_En_Ending_Hero2/z_en_ending_hero2.c
  src/overlays/actors/ovl_En_Ending_Hero3/z_en_ending_hero3.c
  src/overlays/actors/ovl_En_Ending_Hero4/z_en_ending_hero4.c
  src/overlays/actors/ovl_En_Ending_Hero5/z_en_ending_hero5.c
  src/overlays/actors/ovl_En_Fg/z_en_fg.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Geg/z_en_geg.c
  src/overlays/actors/ovl_En_Ginko_Man/z_en_ginko_man.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Hg/z_en_hg.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Ma_Yts/z_en_ma_yts.c
  src/overlays/actors/ovl_En_Minifrog/z_en_minifrog.c
  src/overlays/actors/ovl_En_Niw/z_en_niw.c
  src/overlays/actors/ovl_En_Pamera/z_en_pamera.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Po_Fusen/z_en_po_fusen.c
  src/overlays/actors/ovl_En_Recepgirl/z_en_recepgirl.c
  src/overlays/actors/ovl_En_Rsn/z_en_rsn.c
  src/overlays/actors/ovl_En_Sellnuts/z_en_sellnuts.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
  src/overlays/actors/ovl_En_Wf/z_en_wf.c
  src/overlays/actors/ovl_En_Zog/z_en_zog.c
  tools/actorfixer.py
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#618 Fix ZAPD `filesystem` usage
  tools/ZAPD/.gitrepo
  tools/ZAPD/ZAPD/ZTexture.cpp
Labels: Clean up, Merge-ready

#602 Split rsp files
  include/variables.h
  spec
  src/code/sys_ucode.c
  src/code/z_jpeg.c
  tools/disasm/files.txt
  tools/disasm/variables.txt
Labels: Clean up, Merge-ready

#537 En_Bom
  assets/xml/overlays/ovl_En_Bom.xml
  include/functions.h
  include/variables.h
  spec
  src/overlays/actors/ovl_En_Bom/z_en_bom.c
  src/overlays/actors/ovl_En_Bom/z_en_bom.h
  src/overlays/actors/ovl_En_Daiku2/z_en_daiku2.c
  src/overlays/actors/ovl_En_Geg/z_en_geg.c
Labels: Overlay, Merge-ready

#619 Fix some more dummy label matches
  src/boot_O2_g3/z_std_dma.c
  src/code/z_actor.c
  src/code/z_eff_tire_mark.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
Labels: Clean up, Merge-ready

#600 General Cleanup
  spec
  src/boot_O2_g3/boot_main.c
  src/boot_O2_g3/idle.c
  src/overlays/actors/ovl_Bg_Fu_Kaiten/z_bg_fu_kaiten.c
  src/overlays/actors/ovl_Bg_Fu_Kaiten/z_bg_fu_kaiten.h
  src/overlays/actors/ovl_Demo_Kankyo/z_demo_kankyo.c
  src/overlays/actors/ovl_Door_Spiral/z_door_spiral.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Cha/z_en_cha.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dodongo/z_en_dodongo.c
  src/overlays/actors/ovl_En_Firefly/z_en_firefly.c
  src/overlays/actors/ovl_En_Fish2/z_en_fish2.c
  src/overlays/actors/ovl_En_Floormas/z_en_floormas.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Ishi/z_en_ishi.c
  src/overlays/actors/ovl_En_Niw/z_en_niw.c
  src/overlays/actors/ovl_En_Nutsball/z_en_nutsball.c
  src/overlays/actors/ovl_En_Poh/z_en_poh.c
  src/overlays/actors/ovl_En_Ruppecrow/z_en_ruppecrow.c
  src/overlays/actors/ovl_En_Tag_Obj/z_en_tag_obj.c
  src/overlays/actors/ovl_En_Test5/z_en_test5.c
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.c
  src/overlays/actors/ovl_En_Zot/z_en_zot.c
  src/overlays/actors/ovl_Obj_Boyo/z_obj_boyo.c
  src/overlays/actors/ovl_Obj_Flowerpot/z_obj_flowerpot.c
  src/overlays/actors/ovl_Obj_Hugebombiwa/z_obj_hugebombiwa.c
  src/overlays/actors/ovl_Obj_Kibako/z_obj_kibako.c
  src/overlays/actors/ovl_Obj_Milk_Bin/z_obj_milk_bin.c
  src/overlays/actors/ovl_Obj_Mure/z_obj_mure.c
  src/overlays/actors/ovl_Obj_Warpstone/z_obj_warpstone.c
Labels: Clean up, Merge-ready

#629 ZAPD hotfix
  tools/ZAPD/.gitrepo
  tools/ZAPD/ZAPD/WarningHandler.cpp
  tools/ZAPD/ZAPD/ZAnimation.cpp
  tools/ZAPD/ZAPD/ZCollision.cpp
  tools/ZAPD/ZAPD/ZCutscene.cpp
  tools/ZAPD/ZAPD/ZFile.cpp
  tools/ZAPD/ZAPD/ZFile.h
  tools/ZAPD/ZAPD/ZLimb.cpp
  tools/ZAPD/ZAPD/ZLimb.h
  tools/ZAPD/ZAPD/ZSkeleton.cpp
  tools/ZAPD/ZAPD/ZSkeleton.h
  tools/ZAPD/ZAPD/ZTexture.cpp
  tools/ZAPD/ZAPD/ZTexture.h
  tools/ZAPD/ZAPDUtils/Utils/BitConverter.h
  tools/ZAPD/ZAPDUtils/Utils/StringHelper.h
  tools/ZAPD/docs/zapd_extraction_xml_reference.md
Labels: Tooling

#506 ovl_Obj_Kzsaku OK
  spec
  src/overlays/actors/ovl_Obj_Kzsaku/z_obj_kzsaku.c
  src/overlays/actors/ovl_Obj_Kzsaku/z_obj_kzsaku.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#448 En_Trt2
  spec
  src/overlays/actors/ovl_En_Trt2/z_en_trt2.c
  src/overlays/actors/ovl_En_Trt2/z_en_trt2.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#555 Extract nes_font_static
  assets/xml/interface/nes_font_static.xml
Labels: Asset, Merge-ready

#636 Obj_Oshihiki
  include/functions.h
  spec
  src/overlays/actors/ovl_Obj_Oshihiki/z_obj_oshihiki.c
  src/overlays/actors/ovl_Obj_Oshihiki/z_obj_oshihiki.h
  src/overlays/actors/ovl_Obj_Switch/z_obj_switch.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#577 contramread OK
  include/variables.h
  spec
  src/libultra/io/contramread.c
  tools/disasm/variables.txt
Labels: boot, Merge-ready

#563 EnBigokuta OK and documented + object_bigokuta documented
  assets/xml/objects/object_bigokuta.xml
  spec
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.c
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Asset, Merge-ready

#609 En_Zos
  assets/xml/objects/object_zos.xml
  spec
  src/overlays/actors/ovl_En_Zos/z_en_zos.c
  src/overlays/actors/ovl_En_Zos/z_en_zos.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#565 En_Rg (1 non-matching)
  include/z64actor.h
  spec
  src/overlays/actors/ovl_En_Rg/z_en_rg.c
  src/overlays/actors/ovl_En_Rg/z_en_rg.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#560 En_Scopenuts
  spec
  src/overlays/actors/ovl_En_Scopenuts/z_en_scopenuts.c
  src/overlays/actors/ovl_En_Scopenuts/z_en_scopenuts.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#559 Document object_boss03
  assets/xml/objects/object_boss03.xml
  src/overlays/actors/ovl_En_Tanron3/z_en_tanron3.c
  src/overlays/actors/ovl_En_Tanron3/z_en_tanron3.h
Labels: Asset, Merge-ready

#554 En_Hint_Skb
  spec
  src/overlays/actors/ovl_En_Hint_Skb/z_en_hint_skb.c
  src/overlays/actors/ovl_En_Hint_Skb/z_en_hint_skb.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#558 Document objects used with En_Fall (fall, fall2, lodmoon, moonston)
  assets/xml/objects/object_fall.xml
  assets/xml/objects/object_fall2.xml
  assets/xml/objects/object_lodmoon.xml
  assets/xml/objects/object_moonston.xml
  src/overlays/actors/ovl_En_Fall/z_en_fall.c
  src/overlays/actors/ovl_En_Fall/z_en_fall.h
  tools/disasm/functions.txt
Labels: documentation, Asset, Merge-ready

#557 Boss_06 (2 non-matching)
  assets/xml/objects/object_knight.xml
  include/variables.h
  spec
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.h
  src/overlays/actors/ovl_En_Knight/z_en_knight.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#530 Document Object Ctower Rot
  assets/xml/objects/object_ctower_rot.xml
  src/overlays/actors/ovl_Bg_Ctower_Gear/z_bg_ctower_gear.c
  src/overlays/actors/ovl_Bg_Ctower_Gear/z_bg_ctower_gear.h
  src/overlays/actors/ovl_Bg_Ctower_Rot/z_bg_ctower_rot.c
  src/overlays/actors/ovl_Bg_Ctower_Rot/z_bg_ctower_rot.h
Labels: Clean up, Asset, Merge-ready

#569 Document object_obj_tokeidai and improve documentation on ovl_Obj_Tokeidai
  assets/xml/objects/object_obj_tokeidai.xml
  src/overlays/actors/ovl_Obj_Tokeidai/z_obj_tokeidai.c
  src/overlays/actors/ovl_Obj_Tokeidai/z_obj_tokeidai.h
  tools/disasm/functions.txt
Labels: Clean up, Asset, Merge-ready

#574 Document the boulder fragments in gameplay_keep and clean up En_Baguo
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_gmo.xml
  src/overlays/actors/ovl_En_Baguo/z_en_baguo.c
  src/overlays/actors/ovl_En_Baguo/z_en_baguo.h
Labels: Overlay, Clean up, Merge-ready

#588 Rename "Quake2" -> "Distortion"
  include/functions.h
  include/z64.h
  include/z64bgcheck.h
  src/code/z_bgcheck.c
  src/code/z_quake.c
  src/code/z_view.c
  tools/actorfixer.py
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: documentation, Merge-ready

#556 Audio Playback OK and Mostly Documented
  include/functions.h
  include/variables.h
  include/z64audio.h
  src/code/audio/audio_heap.c
  src/code/audio/audio_load.c
  src/code/audio/audio_playback.c
  src/code/audio/audio_seqplayer.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Audio, Merge-ready

#503 EnZo OK and documented
  assets/xml/objects/object_zo.xml
  spec
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Zo/z_en_zo.c
  src/overlays/actors/ovl_En_Zo/z_en_zo.h
  src/overlays/actors/ovl_En_Zot/z_en_zot.c
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Asset, Merge-ready
