Repository zeldaret/mm, pull requests merged in 2023-02, with the labels that each got.

#1161 Fix Website 404 and Format script error message
  docs/CONTRIBUTING.md
  format.py
Labels: Clean up, Needs-lead-approval

#1088 EnDekubaba OK and documented, object_dekubaba documented, EnKarebaba documented
  assets/xml/objects/object_dekubaba.xml
  spec
  src/overlays/actors/ovl_En_Dekubaba/z_en_dekubaba.c
  src/overlays/actors/ovl_En_Dekubaba/z_en_dekubaba.h
  src/overlays/actors/ovl_En_Karebaba/z_en_karebaba.c
  src/overlays/actors/ovl_En_Karebaba/z_en_karebaba.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Asset, Merge-ready

#1123 Lens docs
  include/functions.h
  include/z64.h
  include/z64actor.h
  include/z64scene.h
  src/boot_O2_g3/CIC6105.c
  src/code/z_actor.c
  src/code/z_player_call.c
  src/code/z_scene.c
  src/code/z_scene_proc.c
  src/code/z_skin.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
  src/overlays/actors/ovl_En_Box/z_en_box.c
  src/overlays/actors/ovl_En_Dai/z_en_dai.c
  src/overlays/actors/ovl_En_Dnb/z_en_dnb.c
  src/overlays/actors/ovl_En_Firefly/z_en_firefly.c
  src/overlays/actors/ovl_En_Floormas/z_en_floormas.c
  src/overlays/actors/ovl_En_Gg/z_en_gg.c
  src/overlays/actors/ovl_En_Gg2/z_en_gg2.c
  src/overlays/actors/ovl_En_Ot/z_en_ot.c
  src/overlays/actors/ovl_En_Rd/z_en_rd.c
  src/overlays/actors/ovl_En_St/z_en_st.c
  src/overlays/actors/ovl_En_Stone_heishi/z_en_stone_heishi.c
  src/overlays/actors/ovl_En_Test2/z_en_test2.c
  src/overlays/actors/ovl_Obj_Visiblock/z_obj_visiblock.c
  tools/disasm/functions.txt
  tools/sizes/code_functions.csv
Labels: documentation, Merge-ready

#1163 Fbdemo (TransitionTile) OK
  include/PR/gbi.h
  include/functions.h
  include/variables.h
  include/z64.h
  include/z64transition.h
  spec
  src/code/z_fbdemo.c
  src/code/z_play.c
  src/code/z_rcp.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#1168 Document EnSyatekiWf and do some slight cleanup on object_wf and other Syateki actors
  assets/xml/objects/object_wf.xml
  src/overlays/actors/ovl_En_Syateki_Crow/z_en_syateki_crow.c
  src/overlays/actors/ovl_En_Syateki_Dekunuts/z_en_syateki_dekunuts.c
  src/overlays/actors/ovl_En_Syateki_Wf/z_en_syateki_wf.c
  src/overlays/actors/ovl_En_Syateki_Wf/z_en_syateki_wf.h
  src/overlays/actors/ovl_En_Wf/z_en_wf.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Clean up, Asset, Merge-ready

#1167 Document `object_po_fusen` (Poe Balloon from romani ranch)
  assets/xml/objects/object_po_fusen.xml
  assets/xml/objects/object_po_sisters.xml
  src/overlays/actors/ovl_En_Po_Fusen/z_en_po_fusen.c
  src/overlays/actors/ovl_En_Po_Fusen/z_en_po_fusen.h
  src/overlays/actors/ovl_En_Po_Sisters/z_en_po_sisters.c
  src/overlays/actors/ovl_En_Po_Sisters/z_en_po_sisters.h
Labels: Asset, Merge-ready

#1162 Add original asset names for all object_d* files
  assets/xml/objects/object_am.xml
  assets/xml/objects/object_astr_obj.xml
  assets/xml/objects/object_botihasira.xml
  assets/xml/objects/object_box.xml
  assets/xml/objects/object_crace_object.xml
  assets/xml/objects/object_ctower_rot.xml
  assets/xml/objects/object_d_hsblock.xml
  assets/xml/objects/object_d_lift.xml
  assets/xml/objects/object_dai.xml
  assets/xml/objects/object_daiku.xml
  assets/xml/objects/object_danpei_object.xml
  assets/xml/objects/object_dblue_object.xml
  assets/xml/objects/object_death.xml
  assets/xml/objects/object_dekubaba.xml
  assets/xml/objects/object_dekucity_obj.xml
  assets/xml/objects/object_delf.xml
  assets/xml/objects/object_dhouse.xml
  assets/xml/objects/object_dinofos.xml
  assets/xml/objects/object_dkjail_obj.xml
  assets/xml/objects/object_dmask.xml
  assets/xml/objects/object_dnk.xml
  assets/xml/objects/object_dnt.xml
  assets/xml/objects/object_dodongo.xml
  assets/xml/objects/object_dor01.xml
  assets/xml/objects/object_dor02.xml
  assets/xml/objects/object_dor03.xml
  assets/xml/objects/object_dor04.xml
  assets/xml/objects/object_dora.xml
  assets/xml/objects/object_driftice.xml
  assets/xml/objects/object_drs.xml
  assets/xml/objects/object_ds2.xml
  assets/xml/objects/object_ds2n.xml
  assets/xml/objects/object_dt.xml
  assets/xml/objects/object_dy_obj.xml
  src/overlays/actors/ovl_Obj_Dora/z_obj_dora.c
Labels: Asset, Merge-ready

#1071 EnGe2 (Gerudo in Purple) OK and documented, object_gla documented
  assets/xml/objects/object_gla.xml
  include/z64save.h
  include/z64transition.h
  spec
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/actors/ovl_En_Ge1/z_en_ge1.c
  src/overlays/actors/ovl_En_Ge1/z_en_ge1.h
  src/overlays/actors/ovl_En_Ge2/z_en_ge2.c
  src/overlays/actors/ovl_En_Ge2/z_en_ge2.h
  src/overlays/actors/ovl_En_Kgy/z_en_kgy.c
  src/overlays/actors/ovl_Obj_Boat/z_obj_boat.c
  src/overlays/actors/ovl_Obj_Boat/z_obj_boat.h
  src/overlays/actors/ovl_Obj_Lupygamelift/z_obj_lupygamelift.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1166 WeekEventFlags: Entrance Cutscenes Watched
  include/z64save.h
  src/overlays/actors/ovl_Dm_Ravine/z_dm_ravine.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_En_Horse_Link_Child/z_en_horse_link_child.c
  src/overlays/actors/ovl_Obj_Demo/z_obj_demo.c
  tools/weekeventregconvert.py
Labels: documentation, Merge-ready

#1160 TransitionFade OK
  assets/xml/objects/object_fbdemo_triforce.xml
  include/functions.h
  include/regs.h
  include/variables.h
  include/z64transition.h
  spec
  src/code/z_fbdemo_circle.c
  src/code/z_fbdemo_fade.c
  src/code/z_play.c
  src/code/z_skelanime.c
  src/overlays/actors/ovl_Dm_Char01/z_dm_char01.c
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/actors/ovl_En_Wiz/z_en_wiz.c
  src/overlays/effects/ovl_Effect_Ss_Stone1/z_eff_ss_stone1.c
  src/overlays/fbdemos/ovl_fbdemo_triforce/z_fbdemo_triforce.c
  src/overlays/fbdemos/ovl_fbdemo_triforce/z_fbdemo_triforce.h
  src/overlays/fbdemos/ovl_fbdemo_wipe5/z_fbdemo_wipe5.c
  tools/disasm/variables.txt
Labels: code, Merge-ready

#1156 EnStopHeishi OK
  spec
  src/overlays/actors/ovl_En_Stop_heishi/z_en_stop_heishi.c
  src/overlays/actors/ovl_En_Stop_heishi/z_en_stop_heishi.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1180 `z_eff_footmark` cleanup
  assets/xml/code/debug_display.xml
  assets/xml/code/eff_footmark.xml
  include/functions.h
  include/variables.h
  include/z64.h
  include/z64eff_footmark.h
  spec
  src/code/z_eff_footmark.c
  tools/disasm/variables.txt
Labels: code, Clean up, Merge-ready

#1181 Add original asset names for all `object_e*` and `object_f*` files
  assets/xml/objects/object_efc_star_field.xml
  assets/xml/objects/object_efc_tw.xml
  assets/xml/objects/object_eg.xml
  assets/xml/objects/object_ending_obj.xml
  assets/xml/objects/object_f40_obj.xml
  assets/xml/objects/object_f40_switch.xml
  assets/xml/objects/object_f52_obj.xml
  assets/xml/objects/object_f53_obj.xml
  assets/xml/objects/object_fall.xml
  assets/xml/objects/object_fall2.xml
  assets/xml/objects/object_famos.xml
  assets/xml/objects/object_fb.xml
  assets/xml/objects/object_firefly.xml
  assets/xml/objects/object_fish.xml
  assets/xml/objects/object_flowerpot.xml
  assets/xml/objects/object_fr.xml
  assets/xml/objects/object_fsn.xml
  assets/xml/objects/object_fu.xml
  assets/xml/objects/object_fu_kaiten.xml
  assets/xml/objects/object_fu_mato.xml
  assets/xml/objects/object_funen.xml
  assets/xml/objects/object_fusen.xml
  assets/xml/objects/object_fwall.xml
Labels: Asset, Merge-ready
