Repository zeldaret/mm, pull requests merged in 2023-05, with the labels that each got.

#1237 Matched last remaining function in z_en_tru.c.
  spec
  src/overlays/actors/ovl_En_Tru/z_en_tru.c
Labels: Overlay, Merge-ready

#1238 Match `KaleidoScope_DrawQuestStatus`
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_collect.c
Labels: Overlay, Merge-ready

#1240 Add compressed md5sum check to fixbaserom
  tools/fixbaserom.py
Labels: Tooling, Needs-lead-approval

#1233 Document a bug involving quick-killing the Wizrobe
  src/overlays/actors/ovl_En_Wiz/z_en_wiz.c
Labels: documentation, Merge-ready

#1231 Add a Couple Disasm Hacks (Fix NON_MATCHING Builds)
  src/code/z_collision_check.c
  src/code/z_play.c
  tools/disasm/disasm.py
  tools/disasm/variables.txt
Labels: Clean up, Merge-ready

#1241 Use proper sequence names in certain actors
  src/code/z_actor.c
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Jgame_Tsn/z_en_jgame_tsn.c
  src/overlays/actors/ovl_En_Rz/z_en_rz.c
  src/overlays/actors/ovl_En_Zob/z_en_zob.c
  src/overlays/actors/ovl_En_Zod/z_en_zod.c
  src/overlays/actors/ovl_En_Zos/z_en_zos.c
Labels: Clean up, Merge-ready

#1234 Document EnAob01 (doggy racetrack owner) and use macros for weekEventRegs in all dog racing files
  include/z64save.h
  src/boot_O2_g3/z_std_dma.c
  src/code/z_play.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.h
  src/overlays/actors/ovl_En_Bat/z_en_bat.c
  src/overlays/actors/ovl_En_Dg/z_en_dg.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Horse_Game_Check/z_en_horse_game_check.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.c
  src/overlays/actors/ovl_En_Racedog/z_en_racedog.h
  src/overlays/actors/ovl_En_Ssh/z_en_ssh.c
  src/overlays/actors/ovl_En_Sth/z_en_sth.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_Obj_Nozoki/z_obj_nozoki.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/weekeventregconvert.py
Labels: documentation, Merge-ready

#1224 EnAnd OK and documented
  assets/xml/objects/object_and.xml
  spec
  src/overlays/actors/ovl_En_And/z_en_and.c
  src/overlays/actors/ovl_En_And/z_en_and.h
  tools/disasm/functions.txt
  undefined_syms.txt
Labels: Overlay, Asset, Merge-ready

#1206 Documents EnEncount1 (Dragonfly, Wallmaster, and Skullfish spawner)
  src/overlays/actors/ovl_En_Encount1/z_en_encount1.c
  src/overlays/actors/ovl_En_Encount1/z_en_encount1.h
  src/overlays/actors/ovl_En_Grasshopper/z_en_grasshopper.h
  src/overlays/actors/ovl_En_Pr2/z_en_pr2.c
  src/overlays/actors/ovl_En_Pr2/z_en_pr2.h
  src/overlays/actors/ovl_En_Wallmas/z_en_wallmas.c
  src/overlays/actors/ovl_En_Wallmas/z_en_wallmas.h
  tools/disasm/functions.txt
Labels: documentation, Merge-ready

#1149 z_kaleido_scope_NES.c: Pause Pages
  include/functions.h
  include/z64.h
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_collect.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_item.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_map.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_mask.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_prompt.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope.h
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#601 `z_camera` with Partial Docs (3 Non-Equivalent)
  include/functions.h
  include/variables.h
  include/z64bgcheck.h
  include/z64camera.h
  include/z64player.h
  src/code/z_camera.c
  src/code/z_eventmgr.c
  src/code/z_play.c
  src/code/z_room.c
  src/overlays/actors/ovl_En_Ani/z_en_ani.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Kendo_Js/z_en_kendo_js.c
  src/overlays/actors/ovl_En_Pamera/z_en_pamera.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#1246 Decompile padmgr.c
  include/functions.h
  include/io/controller.h
  include/irqmgr.h
  include/padmgr.h
  include/ultra64/motor.h
  include/ultra64/rcp.h
  include/variables.h
  include/z64.h
  include/z64frameadvance.h
  spec
  src/audio/code_8019AF00.c
  src/boot_O2_g3/fault.c
  src/code/game.c
  src/code/main.c
  src/code/padmgr.c
  src/code/sys_rumble.c
  src/code/z_parameter.c
  src/code/z_rumble.c
  src/libultra/io/motor.c
  src/overlays/gamestates/ovl_title/z_title.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#1244 `z_fbdemo_wipe1` OK and assorted asset cleanup
  assets/xml/overlays/ovl_Arrow_Fire.xml
  assets/xml/overlays/ovl_fbdemo_triforce.xml
  assets/xml/overlays/ovl_fbdemo_wipe1.xml
  spec
  src/overlays/actors/ovl_Arrow_Fire/z_arrow_fire.c
  src/overlays/fbdemos/ovl_fbdemo_triforce/z_fbdemo_triforce.c
  src/overlays/fbdemos/ovl_fbdemo_wipe1/z_fbdemo_wipe1.c
  src/overlays/fbdemos/ovl_fbdemo_wipe1/z_fbdemo_wipe1.h
Labels: Overlay, Merge-ready

#1248 `gfx.h`
  include/functions.h
  include/gfx.h
  include/macros.h
  include/variables.h
  include/z64.h
  src/code/z_rcp.c
  src/code/z_room.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
Labels: Clean up, Merge-ready

#1252 Namefixer Fixes
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_debug.c
  tools/namefixer.py
Labels: Tooling, Merge-ready

#1247 ovl_Bg_Tobira01 OK and documented
  assets/xml/objects/object_spot11_obj.xml
  spec
  src/overlays/actors/ovl_Bg_Breakwall/z_bg_breakwall.c
  src/overlays/actors/ovl_Bg_Tobira01/z_bg_tobira01.c
  src/overlays/actors/ovl_Bg_Tobira01/z_bg_tobira01.h
  undefined_syms.txt
Labels: Asset, Merge-ready

#1236 ItemBHeart (Heart Container) OK and Documented
  spec
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Item_B_Heart/z_item_b_heart.c
  src/overlays/actors/ovl_Item_B_Heart/z_item_b_heart.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1153 Docs Cleanup
  assets/xml/objects/object_oF1d_map.xml
  include/functions.h
  include/system_heap.h
  include/system_malloc.h
  spec
  src/boot_O2/system_heap.c
  src/boot_O2/system_malloc.c
  src/code/main.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/sizes/boot_functions.csv
Labels: Clean up, Merge-ready

#1243 Kaleido OK & icon_item_vtx_static (Documented)
  assets/xml/interface/icon_item_vtx_static.xml
  include/variables.h
  include/z64.h
  spec
  src/code/z_actor.c
  src/code/z_kaleido_scope_call.c
  src/code/z_kaleido_setup.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_collect.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_item.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_map.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_mask.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope.h
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1159 z_syscfb.c, z_vimode.c, code_80140CE0 split and OK
  include/functions.h
  include/macros.h
  include/regs.h
  include/ultra64/viint.h
  include/variables.h
  include/z64.h
  spec
  src/code/code_80140CE0.c
  src/code/game.c
  src/code/graph.c
  src/code/sys_cfb.c
  src/code/z_actor.c
  src/code/z_demo.c
  src/code/z_fbdemo_circle.c
  src/code/z_kankyo.c
  src/code/z_lights.c
  src/code/z_parameter.c
  src/code/z_play.c
  src/code/z_rcp.c
  src/code/z_view.c
  src/code/z_vimode.c
  src/code/z_viscvg.c
  src/code/z_viszbuf.c
  src/libultra/io/osViModeMpalLan1.c
  src/libultra/io/osViModeNtscHpf1.c
  src/libultra/io/osViModeNtscLan1.c
  src/libultra/io/osViModePalLan1.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/fbdemos/ovl_fbdemo_wipe5/z_fbdemo_wipe5.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
  undefined_syms.txt
Labels: code, Needs-lead-approval

#1207 Scene table
  include/segment_symbols.h
  include/tables/scene_table.h
  include/variables.h
  include/z64scene.h
  src/boot_O2_g3/CIC6105.c
  src/boot_O2_g3/yaz0.c
  src/code/sys_cfb.c
  src/code/z_camera.c
  src/code/z_effect_soft_sprite.c
  src/code/z_parameter.c
  src/code/z_player_call.c
  src/code/z_scene_proc.c
  src/code/z_scene_table.c
  src/code/z_skin.c
  src/code/z_sram_NES.c
  src/libultra/flash/osFlash.c
  src/overlays/actors/ovl_Bg_Hakugin_Switch/z_bg_hakugin_switch.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Kusa2/z_en_kusa2.c
  src/overlays/actors/ovl_En_Test7/z_en_test7.c
  tools/disasm/variables.txt
Labels: Clean up, Merge-ready

#1251 sys_flashrom matched
  include/functions.h
  include/z64.h
  spec
  src/code/sys_flashrom.c
  src/code/title_setup.c
  src/code/z_sram_NES.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Needs-lead-approval

#1254 fbdemo wipe 3 Matching
  assets/xml/overlays/ovl_fbdemo_wipe3.xml
  spec
  src/overlays/fbdemos/ovl_fbdemo_wipe3/z_fbdemo_wipe3.c
  src/overlays/fbdemos/ovl_fbdemo_wipe3/z_fbdemo_wipe3.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Needs-lead-approval

#1249 ovl_Demo_Moonend ok
  assets/xml/objects/object_moonend.xml
  include/z64animation.h
  spec
  src/overlays/actors/ovl_Demo_Moonend/z_demo_moonend.c
  src/overlays/actors/ovl_Demo_Moonend/z_demo_moonend.h
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1262 Match func_808DDE9C (z_object_kankyo.c OK)
  spec
  src/overlays/actors/ovl_Object_Kankyo/z_object_kankyo.c
Labels: Overlay, Merge-ready
