Repository zeldaret/mm, pull requests merged in 2023-10, with the labels that each got.

#1402 Animation Cleanup: En_K*
  src/code/z_skelanime.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Guard_Nuts/z_en_guard_nuts.c
  src/overlays/actors/ovl_En_Kaizoku/z_en_kaizoku.c
  src/overlays/actors/ovl_En_Kaizoku/z_en_kaizoku.h
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Kame/z_en_kame.c
  src/overlays/actors/ovl_En_Kbt/z_en_kbt.c
  src/overlays/actors/ovl_En_Kbt/z_en_kbt.h
  src/overlays/actors/ovl_En_Kendo_Js/z_en_kendo_js.c
  src/overlays/actors/ovl_En_Kendo_Js/z_en_kendo_js.h
  src/overlays/actors/ovl_En_Kgy/z_en_kgy.c
  src/overlays/actors/ovl_En_Kgy/z_en_kgy.h
  src/overlays/actors/ovl_En_Kujiya/z_en_kujiya.c
  src/overlays/actors/ovl_En_Kusa/z_en_kusa.c
  src/overlays/actors/ovl_Obj_Syokudai/z_obj_syokudai.c
  tools/disasm/functions.txt
Labels: Clean up, Merge-ready

#1401 Animation Cleanup: En_J*
  src/overlays/actors/ovl_En_Ja/z_en_ja.c
  src/overlays/actors/ovl_En_Ja/z_en_ja.h
  src/overlays/actors/ovl_En_Jc_Mato/z_en_jc_mato.c
  src/overlays/actors/ovl_En_Jg/z_en_jg.c
  src/overlays/actors/ovl_En_Jgame_Tsn/z_en_jgame_tsn.c
  src/overlays/actors/ovl_En_Js/z_en_js.c
  src/overlays/actors/ovl_En_S_Goro/z_en_s_goro.c
  tools/disasm/functions.txt
Labels: Clean up, Merge-ready

#1393 Speedmeter OK
  include/functions.h
  include/variables.h
  include/z64game.h
  include/z64speed_meter.h
  include/z64view.h
  spec
  src/boot/irqmgr.c
  src/code/game.c
  src/code/graph.c
  src/code/sched.c
  src/code/speed_meter.c
  src/code/sys_matrix.c
  src/code/z_bgcheck.c
  src/code/z_effect_soft_sprite.c
  src/code/z_kaleido_manager.c
  src/code/z_malloc.c
  src/code/z_map_exp.c
  src/code/z_message.c
  src/code/z_parameter.c
  src/code/z_play.c
  src/code/z_room.c
  src/code/z_scene.c
  src/code/z_sram_NES.c
  src/code/z_vr_box.c
  src/overlays/gamestates/ovl_daytelop/z_daytelop.c
  src/overlays/gamestates/ovl_file_choose/z_file_choose_NES.c
  src/overlays/gamestates/ovl_title/z_title.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/permuter_settings.toml
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#1403 Add original asset names to all `object_l*` and `object_m*` files
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_ladder.xml
  assets/xml/objects/object_last_obj.xml
  assets/xml/objects/object_lastday.xml
  assets/xml/objects/object_lbfshot.xml
  assets/xml/objects/object_lightblock.xml
  assets/xml/objects/object_lightswitch.xml
  assets/xml/objects/object_link_goron.xml
  assets/xml/objects/object_link_zora.xml
  assets/xml/objects/object_lotus.xml
  assets/xml/objects/object_mamenoki.xml
  assets/xml/objects/object_maruta.xml
  assets/xml/objects/object_mastergolon.xml
  assets/xml/objects/object_masterzoora.xml
  assets/xml/objects/object_milkbar.xml
  assets/xml/objects/object_mir_ray.xml
  assets/xml/objects/object_mk.xml
  assets/xml/objects/object_mm.xml
  assets/xml/objects/object_mnk.xml
  assets/xml/objects/object_moonend.xml
  assets/xml/objects/object_moonston.xml
  assets/xml/objects/object_ms.xml
  assets/xml/objects/object_mu.xml
  assets/xml/overlays/ovl_En_Mm2.xml
Labels: Asset, Merge-ready

#1405 En_Encount3 decompiled
  spec
  src/overlays/actors/ovl_En_Encount3/z_en_encount3.c
  src/overlays/actors/ovl_En_Encount3/z_en_encount3.h
Labels: Overlay, Merge-ready

#1390 `ovl_Bg_Dy_Yoseizo` and related docs
  assets/xml/objects/object_dy_obj.xml
  assets/xml/objects/object_efc_tw.xml
  include/z64save.h
  spec
  src/code/z_actor.c
  src/code/z_en_item00.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_Bg_Dy_Yoseizo/z_bg_dy_yoseizo.c
  src/overlays/actors/ovl_Bg_Dy_Yoseizo/z_bg_dy_yoseizo.h
  src/overlays/actors/ovl_Demo_Effect/z_demo_effect.c
  src/overlays/actors/ovl_Demo_Effect/z_demo_effect.h
  src/overlays/actors/ovl_Demo_Getitem/z_demo_getitem.c
  src/overlays/actors/ovl_Demo_Getitem/z_demo_getitem.h
  src/overlays/actors/ovl_En_Box/z_en_box.c
  src/overlays/actors/ovl_En_Dy_Extra/z_en_dy_extra.c
  src/overlays/actors/ovl_En_Dy_Extra/z_en_dy_extra.h
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  src/overlays/actors/ovl_En_Elfbub/z_en_elfbub.c
  src/overlays/actors/ovl_En_Elfgrp/z_en_elfgrp.c
  src/overlays/actors/ovl_En_Elfgrp/z_en_elfgrp.h
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.c
  src/overlays/actors/ovl_En_Elforg/z_en_elforg.h
  src/overlays/actors/ovl_En_M_Thunder/z_en_m_thunder.c
  src/overlays/actors/ovl_Obj_Flowerpot/z_obj_flowerpot.c
  src/overlays/actors/ovl_Obj_Lightblock/z_obj_lightblock.c
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_map.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/weekeventregconvert.py
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1364 document object_kanban (cuttable sign)
  assets/xml/objects/object_kanban.xml
  src/overlays/actors/ovl_En_Kanban/z_en_kanban.c
  src/overlays/actors/ovl_En_Kanban/z_en_kanban.h
Labels: Asset, Merge-ready

#1381 object_zl1
  assets/xml/objects/object_zl1.xml
Labels: Asset, Merge-ready

#1414 object_lightblock
  assets/xml/objects/object_lightblock.xml
  src/overlays/actors/ovl_Obj_Lightblock/z_obj_lightblock.c
Labels: Asset, Merge-ready

#1409 ovl_En_Takaraya decompiled
  assets/xml/objects/object_bg.xml
  spec
  src/overlays/actors/ovl_En_Takaraya/z_en_takaraya.c
  src/overlays/actors/ovl_En_Takaraya/z_en_takaraya.h
Labels: Overlay, Merge-ready

#1420 object_comb
  assets/xml/objects/object_comb.xml
  src/overlays/actors/ovl_Obj_Comb/z_obj_comb.c
Labels: Asset, Merge-ready

#1404 Document object_skb
  assets/xml/objects/object_skb.xml
  src/overlays/actors/ovl_En_Hint_Skb/z_en_hint_skb.c
  src/overlays/actors/ovl_En_Hint_Skb/z_en_hint_skb.h
  src/overlays/actors/ovl_En_Rail_Skb/z_en_rail_skb.c
  src/overlays/actors/ovl_En_Skb/z_en_skb.c
Labels: Asset, Merge-ready

#1427 Object Name Cleanup
  assets/xml/interface/week_static.xml
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_az.xml
  assets/xml/objects/object_bigpo.xml
  assets/xml/objects/object_boss07.xml
  assets/xml/objects/object_box.xml
  assets/xml/objects/object_dinofos.xml
  assets/xml/objects/object_dnj.xml
  assets/xml/objects/object_dnk.xml
  assets/xml/objects/object_dns.xml
  assets/xml/objects/object_ds2n.xml
  assets/xml/objects/object_dy_obj.xml
  assets/xml/objects/object_eg.xml
  assets/xml/objects/object_fish.xml
  assets/xml/objects/object_gla.xml
  assets/xml/objects/object_hs.xml
  assets/xml/objects/object_ik.xml
  assets/xml/objects/object_kaizoku_obj.xml
  assets/xml/objects/object_kusa.xml
  assets/xml/objects/object_ob.xml
  assets/xml/objects/object_obj_tokeidai.xml
  assets/xml/objects/object_obj_yasi.xml
  assets/xml/objects/object_rotlift.xml
  assets/xml/objects/object_ru2.xml
  assets/xml/objects/object_sdn.xml
  assets/xml/objects/object_sichitai_obj.xml
  assets/xml/objects/object_stk.xml
  assets/xml/objects/object_tro.xml
  assets/xml/objects/object_wdor04.xml
  assets/xml/objects/object_zl4.xml
  assets/xml/objects/object_zod.xml
  docs/tutorial/object_decomp_example.md
  src/overlays/actors/ovl_Bg_Dkjail_Ivy/z_bg_dkjail_ivy.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_Dm_Zl/z_dm_zl.c
  src/overlays/actors/ovl_En_Az/z_en_az.c
  src/overlays/actors/ovl_En_Demo_heishi/z_en_demo_heishi.c
  src/overlays/actors/ovl_En_Dnh/z_en_dnh.c
  src/overlays/actors/ovl_En_Dns/z_en_dns.c
  src/overlays/actors/ovl_En_Ending_Hero4/z_en_ending_hero4.c
  src/overlays/actors/ovl_En_Ending_Hero6/z_en_ending_hero6.c
  src/overlays/actors/ovl_En_Guard_Nuts/z_en_guard_nuts.c
  src/overlays/actors/ovl_En_Heishi/z_en_heishi.c
  src/overlays/actors/ovl_En_Kusa/z_en_kusa.c
  src/overlays/actors/ovl_En_Kusa2/z_en_kusa2.c
  src/overlays/actors/ovl_En_Scopenuts/z_en_scopenuts.c
  src/overlays/actors/ovl_En_Stone_heishi/z_en_stone_heishi.c
  src/overlays/actors/ovl_En_Stop_heishi/z_en_stop_heishi.c
  src/overlays/actors/ovl_En_Zod/z_en_zod.c
  src/overlays/actors/ovl_Obj_Bean/z_obj_bean.c
  src/overlays/actors/ovl_Obj_Grass/z_obj_grass.c
  src/overlays/actors/ovl_Obj_Grass_Carry/z_obj_grass_carry.c
  src/overlays/actors/ovl_Obj_Tokeidai/z_obj_tokeidai.c
  src/overlays/actors/ovl_player_actor/z_player.c
Labels: Clean up, Merge-ready

#1418 object_f40_switch
  assets/xml/objects/object_f40_switch.xml
  src/overlays/actors/ovl_Bg_F40_Switch/z_bg_f40_switch.c
Labels: Asset, Merge-ready

#1425 object_kzsaku
  assets/xml/objects/object_kzsaku.xml
  src/overlays/actors/ovl_Obj_Kzsaku/z_obj_kzsaku.c
Labels: Asset, Merge-ready

#1417 object_redead_obj
  assets/xml/objects/object_redead_obj.xml
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
Labels: Asset, Merge-ready

#1416 object_random_obj
  assets/xml/objects/object_random_obj.xml
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
Labels: Asset, Merge-ready

#1419 object_ladder
  assets/xml/objects/object_ladder.xml
  src/overlays/actors/ovl_Bg_Ladder/z_bg_ladder.c
Labels: Asset, Merge-ready

#1415 object_kinsta1_obj
  assets/xml/objects/object_kinsta1_obj.xml
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
Labels: Asset, Merge-ready

#1428 Document `object_jso` (Garo and Garo Master)
  assets/xml/objects/object_jso.xml
Labels: Asset, Merge-ready

#1172 ovl_Obj_Grass_Unit OK and some grass documentation
  include/z64math.h
  spec
  src/overlays/actors/ovl_Obj_Grass/z_obj_grass.c
  src/overlays/actors/ovl_Obj_Grass/z_obj_grass.h
  src/overlays/actors/ovl_Obj_Grass_Carry/z_obj_grass_carry.c
  src/overlays/actors/ovl_Obj_Grass_Carry/z_obj_grass_carry.h
  src/overlays/actors/ovl_Obj_Grass_Unit/z_obj_grass_unit.c
  src/overlays/actors/ovl_Obj_Grass_Unit/z_obj_grass_unit.h
Labels: documentation, Overlay, Merge-ready

#1421 object_icicle
  assets/xml/objects/object_icicle.xml
  src/overlays/actors/ovl_Bg_Icicle/z_bg_icicle.c
Labels: Asset, Merge-ready

#1341 Boyo
  spec
  src/overlays/actors/ovl_Obj_Boyo/z_obj_boyo.c
  src/overlays/actors/ovl_Obj_Boyo/z_obj_boyo.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1435 obj_big_fwall
  assets/xml/objects/object_big_fwall.xml
  src/overlays/actors/ovl_En_Encount3/z_en_encount3.c
Labels: Asset, Merge-ready

#1422 Obj_visiblock
  assets/xml/objects/object_visiblock.xml
  src/overlays/actors/ovl_Obj_Visiblock/z_obj_visiblock.c
Labels: Asset, Merge-ready

#1407 Audio Sequences Decompiled & Documented (z_obj_sound OK, more code_8019AF00.c)
  include/functions.h
  spec
  src/audio/code_8019AF00.c
  src/code/z_actor.c
  src/overlays/actors/ovl_En_Guruguru/z_en_guruguru.c
  src/overlays/actors/ovl_En_Minifrog/z_en_minifrog.c
  src/overlays/actors/ovl_En_Rz/z_en_rz.c
  src/overlays/actors/ovl_En_Zob/z_en_zob.c
  src/overlays/actors/ovl_En_Zod/z_en_zod.c
  src/overlays/actors/ovl_En_Zos/z_en_zos.c
  src/overlays/actors/ovl_Obj_Sound/z_obj_sound.c
  src/overlays/actors/ovl_Obj_Sound/z_obj_sound.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: Overlay, code, Audio, Merge-ready

#1440 EnJso (Garo) OK and documented
  spec
  src/overlays/actors/ovl_En_Hint_Skb/z_en_hint_skb.c
  src/overlays/actors/ovl_En_Jso/z_en_jso.c
  src/overlays/actors/ovl_En_Jso/z_en_jso.h
  src/overlays/actors/ovl_En_Part/z_en_part.h
  src/overlays/actors/ovl_En_Rail_Skb/z_en_rail_skb.c
  src/overlays/actors/ovl_En_Sb/z_en_sb.c
  src/overlays/actors/ovl_En_Skb/z_en_skb.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1412 Switch Flag "None" macro
  include/z64actor.h
  src/code/z_actor.c
  src/overlays/actors/ovl_Bg_F40_Switch/z_bg_f40_switch.c
  src/overlays/actors/ovl_Elf_Msg/z_elf_msg.c
  src/overlays/actors/ovl_Elf_Msg2/z_elf_msg2.c
  src/overlays/actors/ovl_Elf_Msg3/z_elf_msg3.c
  src/overlays/actors/ovl_Elf_Msg4/z_elf_msg4.c
  src/overlays/actors/ovl_Elf_Msg5/z_elf_msg5.c
  src/overlays/actors/ovl_En_Bal/z_en_bal.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.h
  src/overlays/actors/ovl_En_Daiku2/z_en_daiku2.c
  src/overlays/actors/ovl_En_Daiku2/z_en_daiku2.h
  src/overlays/actors/ovl_En_Egol/z_en_egol.c
  src/overlays/actors/ovl_En_Egol/z_en_egol.h
  src/overlays/actors/ovl_En_Encount2/z_en_encount2.c
  src/overlays/actors/ovl_En_Encount2/z_en_encount2.h
  src/overlays/actors/ovl_En_Encount3/z_en_encount3.c
  src/overlays/actors/ovl_En_Encount3/z_en_encount3.h
  src/overlays/actors/ovl_En_Encount4/z_en_encount4.c
  src/overlays/actors/ovl_En_Encount4/z_en_encount4.h
  src/overlays/actors/ovl_En_Hidden_Nuts/z_en_hidden_nuts.c
  src/overlays/actors/ovl_En_Hidden_Nuts/z_en_hidden_nuts.h
  src/overlays/actors/ovl_En_Invisible_Ruppe/z_en_invisible_ruppe.c
  src/overlays/actors/ovl_En_Invisible_Ruppe/z_en_invisible_ruppe.h
  src/overlays/actors/ovl_En_Kaizoku/z_en_kaizoku.c
  src/overlays/actors/ovl_En_Kaizoku/z_en_kaizoku.h
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.c
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.h
  src/overlays/actors/ovl_En_Mnk/z_en_mnk.c
  src/overlays/actors/ovl_En_Mnk/z_en_mnk.h
  src/overlays/actors/ovl_En_Okarina_Tag/z_en_okarina_tag.c
  src/overlays/actors/ovl_En_Okarina_Tag/z_en_okarina_tag.h
  src/overlays/actors/ovl_En_Onpuman/z_en_onpuman.c
  src/overlays/actors/ovl_En_Raf/z_en_raf.c
  src/overlays/actors/ovl_En_Raf/z_en_raf.h
  src/overlays/actors/ovl_En_S_Goro/z_en_s_goro.c
  src/overlays/actors/ovl_En_Stop_heishi/z_en_stop_heishi.c
  src/overlays/actors/ovl_En_Stop_heishi/z_en_stop_heishi.h
  src/overlays/actors/ovl_En_Talk_Gibud/z_en_talk_gibud.c
  src/overlays/actors/ovl_En_Talk_Gibud/z_en_talk_gibud.h
  src/overlays/actors/ovl_En_Wiz/z_en_wiz.c
  src/overlays/actors/ovl_En_Wiz/z_en_wiz.h
  src/overlays/actors/ovl_Obj_Demo/z_obj_demo.c
  src/overlays/actors/ovl_Obj_Hakaisi/z_obj_hakaisi.c
  src/overlays/actors/ovl_Obj_Hakaisi/z_obj_hakaisi.h
  src/overlays/actors/ovl_Obj_Ice_Poly/z_obj_ice_poly.c
  src/overlays/actors/ovl_Obj_Ice_Poly/z_obj_ice_poly.h
  src/overlays/actors/ovl_Obj_Lift/z_obj_lift.c
  src/overlays/actors/ovl_Obj_Ocarinalift/z_obj_ocarinalift.c
  src/overlays/actors/ovl_Obj_Syokudai/z_obj_syokudai.c
  src/overlays/actors/ovl_Obj_Syokudai/z_obj_syokudai.h
Labels: Clean up, Merge-ready

#1426 object_po
  assets/xml/objects/object_po.xml
  src/overlays/actors/ovl_En_Poh/z_en_poh.c
  src/overlays/actors/ovl_En_Poh/z_en_poh.h
Labels: Asset, Merge-ready

#1439 object_zoraegg
  assets/xml/objects/object_zoraegg.xml
  src/overlays/actors/ovl_En_Zoraegg/z_en_zoraegg.c
  src/overlays/actors/ovl_En_Zoraegg/z_en_zoraegg.h
  src/overlays/actors/ovl_player_actor/z_player.c
Labels: Asset, Merge-ready

#1446 Match `Camera_Normal1`
  src/code/z_camera.c
Labels: code, Merge-ready

#1447 Match `Camera_KeepOn1`
  include/z64camera.h
  src/code/z_camera.c
Labels: code, Merge-ready

#1445 Match `Camera_Battle1`
  include/z64camera.h
  src/code/z_camera.c
Labels: code, Merge-ready

#1438 `SCHEDULE_TIME`
  include/z64schedule.h
  src/code/z_kankyo.c
  src/code/z_schedule.c
  src/overlays/actors/ovl_Dm_Tag/z_dm_tag.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  src/overlays/gamestates/ovl_file_choose/z_file_choose_NES.c
  tools/schedule_timeconv.py
Labels: Clean up, Merge-ready

#1449 Progress LD fix
  tools/progress.py
Labels: Tooling, Merge-ready

#1436 obj_oyu
  assets/xml/objects/object_oyu.xml
  src/overlays/actors/ovl_Bg_Goron_Oyu/z_bg_goron_oyu.c
Labels: Asset, Merge-ready

#1430 object_owl
  assets/xml/objects/object_owl.xml
  src/overlays/actors/ovl_En_Owl/z_en_owl.c
  src/overlays/actors/ovl_En_Owl/z_en_owl.h
Labels: Asset, Merge-ready

#1444 Anju objects
  assets/xml/objects/object_an1.xml
  assets/xml/objects/object_an2.xml
  assets/xml/objects/object_an3.xml
  assets/xml/objects/object_an4.xml
  assets/xml/objects/object_mask_kerfay.xml
  include/z64cutscene.h
  include/z64save.h
  src/code/z_player_lib.c
  src/overlays/actors/ovl_Dm_An/z_dm_an.c
  src/overlays/actors/ovl_Dm_An/z_dm_an.h
  src/overlays/actors/ovl_Dm_Gm/z_dm_gm.c
  src/overlays/actors/ovl_Dm_Gm/z_dm_gm.h
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/weekeventregconvert.py
  undefined_syms.txt
Labels: documentation, Asset, Merge-ready

#1431 object_test3 (kafei)
  assets/xml/objects/object_test3.xml
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
Labels: Asset, Merge-ready

#1443 `map_grand_static` and `map_i_static`
  Makefile
  assets/c/.gitignore
  assets/c/archives/map_grand_static/map_grand_static.c
  assets/c/archives/map_grand_static/map_grand_static.h
  assets/c/archives/map_i_static/map_i_static.c
  assets/c/archives/map_i_static/map_i_static.h
  assets/xml/archives/map_grand_static.xml
  assets/xml/archives/map_i_static.xml
  extract_assets.py
  spec
  tools/buildtools/makeyar.c
Labels: Asset, Merge-ready

#1442 Decompile Remaining code_8019AF00.c Functions (1 non-matching)
  include/functions.h
  include/variables.h
  src/audio/code_8019AF00.c
  src/code/z_kaleido_setup.c
  src/code/z_message.c
  src/code/z_play.c
  src/code/z_room.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_En_Guruguru/z_en_guruguru.c
  src/overlays/actors/ovl_En_Toto/z_en_toto.c
  src/overlays/actors/ovl_En_Warp_tag/z_en_warp_tag.c
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/gamestates/ovl_file_choose/z_file_choose_NES.c
  src/overlays/gamestates/ovl_file_choose/z_file_nameset_NES.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Audio, Merge-ready

#1453 Player Docs: Propose Named Unions For Shared Variables
  include/z64player.h
  src/code/z_actor.c
  src/code/z_player_lib.c
  src/overlays/actors/ovl_Bg_Open_Shutter/z_bg_open_shutter.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Door_Ana/z_door_ana.c
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.c
  src/overlays/actors/ovl_En_Raf/z_en_raf.c
  src/overlays/actors/ovl_En_Railgibud/z_en_railgibud.c
  src/overlays/actors/ovl_En_Rd/z_en_rd.c
  src/overlays/actors/ovl_En_Rr/z_en_rr.c
  src/overlays/actors/ovl_En_Talk_Gibud/z_en_talk_gibud.c
  src/overlays/actors/ovl_En_Toto/z_en_toto.c
  src/overlays/actors/ovl_En_Wiz_Fire/z_en_wiz_fire.c
  src/overlays/actors/ovl_player_actor/z_player.c
  tools/namefixer.py
Labels: documentation, Merge-ready

#1455 Fix `/* */` to `/**/` on InitVars
  src/code/z_en_a_keep.c
  src/overlays/actors/ovl_En_Torch/z_en_torch.c
  src/overlays/actors/ovl_Obj_Funen/z_obj_funen.c
  src/overlays/actors/ovl_Obj_Wturn/z_obj_wturn.c
Labels: Clean up, Merge-ready

#1452 Boss01 (Odolwa) OK and documented
  assets/xml/objects/object_boss01.xml
  include/z64actor.h
  include/z64collision_check.h
  spec
  src/overlays/actors/ovl_Boss_01/z_boss_01.c
  src/overlays/actors/ovl_Boss_01/z_boss_01.h
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1448 ObjTakarayaWall OK
  assets/xml/objects/object_takaraya_objects.xml
  spec
  src/overlays/actors/ovl_En_Takaraya/z_en_takaraya.c
  src/overlays/actors/ovl_Obj_Takaraya_Wall/z_obj_takaraya_wall.c
  src/overlays/actors/ovl_Obj_Takaraya_Wall/z_obj_takaraya_wall.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Asset, Merge-ready

#1411 Cutscene Camera OK (Some Docs)
  include/variables.h
  include/z64cutscene.h
  spec
  src/code/cutscene_camera.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#1456 Document `object_boss05` (Bio Deku Baba)
  assets/xml/objects/object_boss05.xml
Labels: Asset, Merge-ready

#1451 z_kankyo Decompiled (3 non-matching)
  assets/xml/objects/gameplay_field_keep.xml
  assets/xml/objects/gameplay_keep.xml
  include/functions.h
  include/regs.h
  include/variables.h
  include/z64math.h
  include/z64save.h
  src/boot/O2/rand.c
  src/code/z_kankyo.c
  src/code/z_lib.c
  src/code/z_play.c
  src/overlays/actors/ovl_En_Encount3/z_en_encount3.c
  src/overlays/actors/ovl_En_Invadepoh_Demo/z_en_invadepoh_demo.c
  src/overlays/actors/ovl_En_Jso/z_en_jso.c
  src/overlays/actors/ovl_En_Okarina_Effect/z_en_okarina_effect.c
  src/overlays/actors/ovl_En_Okarina_Effect/z_en_okarina_effect.h
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.h
  src/overlays/actors/ovl_En_Test7/z_en_test7.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.h
  src/overlays/actors/ovl_Object_Kankyo/z_object_kankyo.c
  src/overlays/gamestates/ovl_title/z_title.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready
