Repository zeldaret/mm, pull requests merged in 2023-09, with the labels that each got.

#1368 Subrepo Updates
  tools/ZAPD/.gitrepo
  tools/ZAPD/Makefile
  tools/ZAPD/ZAPD/GameConfig.cpp
  tools/ZAPD/ZAPDUtils/Utils/Directory.h
  tools/ZAPD/ZAPDUtils/Utils/File.h
  tools/ZAPD/ZAPDUtils/Utils/Path.h
  tools/asm-differ/.github/workflows/check-poetry-lock.yml
  tools/asm-differ/.github/workflows/unit-tests.yml
  tools/asm-differ/.gitignore
  tools/asm-differ/.gitrepo
  tools/asm-differ/README.md
  tools/asm-differ/diff.py
  tools/asm-differ/mypy.ini
  tools/asm-differ/poetry.lock
  tools/asm-differ/test.py
  tools/asm-processor/.gitrepo
  tools/asm-processor/asm_processor.py
  tools/asm-processor/mypy.ini
  tools/asm-processor/prelude.inc
  tools/asm-processor/tests/static-global.c
  tools/asm-processor/tests/static-global.objdump
  tools/fado/.gitrepo
  tools/fado/Makefile
  tools/fado/include/mips_elf.h
Labels: Tooling, Merge-ready

#1357 document object_zov (lulu the zora vocalist)
  assets/xml/objects/object_zos.xml
  assets/xml/objects/object_zov.xml
  src/overlays/actors/ovl_En_Zos/z_en_zos.c
  src/overlays/actors/ovl_En_Zov/z_en_zov.c
  src/overlays/actors/ovl_En_Zov/z_en_zov.h
Labels: Asset, Merge-ready

#1365 Add original asset names to all `object_i*` and `object_j*` files
  assets/xml/objects/object_ice_block.xml
  assets/xml/objects/object_icefloe.xml
  assets/xml/objects/object_icicle.xml
  assets/xml/objects/object_ik.xml
  assets/xml/objects/object_ikana_obj.xml
  assets/xml/objects/object_ikn_demo.xml
  assets/xml/objects/object_ikninside_obj.xml
  assets/xml/objects/object_iknv_obj.xml
  assets/xml/objects/object_in.xml
  assets/xml/objects/object_in2.xml
  assets/xml/objects/object_js.xml
  assets/xml/objects/object_jso.xml
Labels: Asset, Merge-ready

#1363 EnInvadepohDemo (Aliens cutscene actors) OK and documented
  spec
  src/overlays/actors/ovl_En_Bom/z_en_bom.c
  src/overlays/actors/ovl_En_Bom/z_en_bom.h
  src/overlays/actors/ovl_En_Invadepoh_Demo/z_en_invadepoh_demo.c
  src/overlays/actors/ovl_En_Invadepoh_Demo/z_en_invadepoh_demo.h
  src/overlays/actors/ovl_En_Osk/z_en_osk.c
  src/overlays/actors/ovl_En_Zoraegg/z_en_zoraegg.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1375 Change all uses of "rotational velocity" to "angular velocity"
  src/overlays/actors/ovl_Bg_Numa_Hana/z_bg_numa_hana.c
  src/overlays/actors/ovl_Bg_Numa_Hana/z_bg_numa_hana.h
  src/overlays/actors/ovl_En_Grasshopper/z_en_grasshopper.c
  src/overlays/actors/ovl_En_Grasshopper/z_en_grasshopper.h
  src/overlays/actors/ovl_En_Pp/z_en_pp.c
  src/overlays/actors/ovl_En_Pp/z_en_pp.h
  src/overlays/actors/ovl_En_Rd/z_en_rd.c
  src/overlays/actors/ovl_En_Rd/z_en_rd.h
  src/overlays/actors/ovl_En_Snowman/z_en_snowman.c
  src/overlays/actors/ovl_En_Tanron5/z_en_tanron5.c
  src/overlays/actors/ovl_En_Tanron5/z_en_tanron5.h
  src/overlays/actors/ovl_En_Wiz/z_en_wiz.c
  src/overlays/actors/ovl_En_Wiz/z_en_wiz.h
  src/overlays/actors/ovl_Obj_Tokeidai/z_obj_tokeidai.c
  src/overlays/actors/ovl_Obj_Tokeidai/z_obj_tokeidai.h
Labels: Clean up, Merge-ready

#1359 document object_fish (fishing??)
  assets/xml/objects/object_fish.xml
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
Labels: Asset, Merge-ready

#1373 Provide names (and original names) for all Termina Field cutscenes
  assets/xml/scenes/Z2_00KEIKOKU/Z2_00KEIKOKU.xml
Labels: Asset, Merge-ready

#1378 Docs namefixer
  docs/tutorial/advanced_control_flow.md
  docs/tutorial/documenting.md
  docs/tutorial/introduction.md
  docs/tutorial/other_functions.md
Labels: Clean up, Needs-lead-approval

#1336 `z_obj_tokei_tobira` OK undocumented
  spec
  src/overlays/actors/ovl_Obj_Tokei_Tobira/z_obj_tokei_tobira.c
  src/overlays/actors/ovl_Obj_Tokei_Tobira/z_obj_tokei_tobira.h
  tools/disasm/functions.txt
Labels: Overlay, Merge-ready

#1369 Move libultra variables to their respective headers
  include/PR/controller.h
  include/PR/guint.h
  include/PR/os_internal.h
  include/PR/os_internal_rsp.h
  include/PR/os_pi.h
  include/PR/os_system.h
  include/PR/os_vi.h
  include/PR/osint.h
  include/PR/piint.h
  include/PR/siint.h
  include/PR/ucode.h
  include/PR/ultratypes.h
  include/PR/viint.h
  include/PR/voice_internal.h
  include/fault.h
  include/libc/math.h
  include/libc/stddef.h
  include/macros.h
  include/ultra64.h
  include/variables.h
  include/z64actor.h
  include/z64animation.h
  src/boot/fault.c
  src/boot/idle.c
  src/code/padmgr.c
  src/code/z_actor.c
  src/code/z_camera.c
  src/code/z_collision_check.c
  src/code/z_nmi_buff.c
  src/code/z_parameter.c
  src/code/z_room.c
  src/libultra/io/cartrominit.c
  src/libultra/io/contramread.c
  src/libultra/io/contramwrite.c
  src/libultra/io/controller.c
  src/libultra/io/piacs.c
  src/libultra/io/pimgr.c
  src/libultra/io/pirawdma.c
  src/libultra/io/siint.h
  src/libultra/io/vi.c
  src/libultra/io/vimgr.c
  src/libultra/os/initialize.c
  src/libultra/os/seteventmesg.c
  src/libultra/os/thread.c
  src/libultra/os/timerintr.c
  src/libultra/voice/voicecontread2.c
  src/libultra/voice/voicecontread36.c
  src/libultra/voice/voicecontwrite20.c
  src/libultra/voice/voicecontwrite4.c
  src/libultra/voice/voicesetadconverter.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/fbdemos/ovl_fbdemo_wipe5/z_fbdemo_wipe5.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Clean up, Merge-ready

#1320 PreRender.c OK
  include/functions.h
  include/listalloc.h
  include/z64.h
  include/z64prerender.h
  spec
  src/code/PreRender.c
  src/code/listalloc.c
  src/code/z_actor.c
  src/code/z_lifemeter.c
  src/code/z_play.c
  src/overlays/actors/ovl_Dm_Char01/z_dm_char01.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Merge-ready

#1382 Stone Tower Smoke
  assets/xml/objects/object_funen.xml
  src/overlays/actors/ovl_Obj_Funen/z_obj_funen.c
Labels: Asset, Merge-ready

#1386 Removed ``TransformUpdateIndex`` in z_demo_tre_lgt.c
  src/overlays/actors/ovl_Demo_Tre_Lgt/z_demo_tre_lgt.c
Labels: Clean up, Merge-ready

#1379 master to main rename
  Jenkinsfile
  README.md
  docs/CONTRIBUTING.md
  docs/REVIEWING.md
  docs/tutorial/beginning_decomp.md
  docs/tutorial/data.md
  docs/tutorial/diff_and_permuter.md
  docs/tutorial/draw_functions.md
  docs/tutorial/intro_to_git.md
  docs/tutorial/merging.md
  docs/tutorial/object_decomp.md
Labels: needs-discussion

#1374 ovl_Bg_Lotus decompiled
  spec
  src/overlays/actors/ovl_Bg_Lotus/z_bg_lotus.c
  src/overlays/actors/ovl_Bg_Lotus/z_bg_lotus.h
Labels: Overlay, Merge-ready

#1385 Player docs: Control Stick Input and Movement
  include/functions.h
  include/z64player.h
  src/code/z_lib.c
  src/overlays/actors/ovl_player_actor/z_player.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: documentation, Merge-ready

#1072 EnGe3 (Aveil) OK and documented, object_geldb documented
  assets/xml/objects/object_geldb.xml
  spec
  src/overlays/actors/ovl_En_Ge3/z_en_ge3.c
  src/overlays/actors/ovl_En_Ge3/z_en_ge3.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1387 En_Snowwd documentation
  src/overlays/actors/ovl_En_Snowwd/z_en_snowwd.c
  src/overlays/actors/ovl_En_Snowwd/z_en_snowwd.h
Labels: documentation, Merge-ready

#1383 EnKame (Snapper) documented
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.c
  src/overlays/actors/ovl_En_Dekunuts/z_en_dekunuts.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Floormas/z_en_floormas.c
  src/overlays/actors/ovl_En_Kame/z_en_kame.c
  src/overlays/actors/ovl_En_Kame/z_en_kame.h
  src/overlays/actors/ovl_En_Peehat/z_en_peehat.c
  src/overlays/actors/ovl_En_Rr/z_en_rr.c
  src/overlays/actors/ovl_En_Wallmas/z_en_wallmas.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Merge-ready

#1376 z_message_staff (1 NON-MATCHING)
  include/functions.h
  include/z64message.h
  include/z64save.h
  src/code/code_8012EC80.c
  src/code/z_message.c
  src/code/z_message_nes.c
  src/code/z_message_staff.c
  src/code/z_parameter.c
  src/code/z_play.c
  src/code/z_player_lib.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Ginko_Man/z_en_ginko_man.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Kujiya/z_en_kujiya.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/actors/ovl_En_Tru_Mt/z_en_tru_mt.c
  src/overlays/actors/ovl_Oceff_Spot/z_oceff_spot.c
  src/overlays/actors/ovl_Oceff_Wipe/z_oceff_wipe.c
  src/overlays/actors/ovl_Oceff_Wipe2/z_oceff_wipe2.c
  src/overlays/actors/ovl_Oceff_Wipe3/z_oceff_wipe3.c
  src/overlays/actors/ovl_Oceff_Wipe4/z_oceff_wipe4.c
  src/overlays/actors/ovl_Oceff_Wipe5/z_oceff_wipe5.c
  src/overlays/actors/ovl_Oceff_Wipe6/z_oceff_wipe6.c
  src/overlays/actors/ovl_Oceff_Wipe7/z_oceff_wipe7.c
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/gamestates/ovl_file_choose/z_file_nameset_NES.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/namefixer.py
Labels: code, Merge-ready

#1371 Cleanup pass for CIC6105.c
  include/CIC6105.h
  include/build.h
  include/functions.h
  include/variables.h
  src/boot/CIC6105.c
  src/boot/boot_main.c
  src/code/main.c
  src/overlays/actors/ovl_En_Ot/z_en_ot.c
  src/overlays/gamestates/ovl_title/z_title.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/boot_functions.csv
Labels: boot, Clean up, Merge-ready

#1366 document object_ha (donkeys)
  assets/xml/objects/object_ha.xml
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.h
Labels: Asset, Merge-ready

#1388 Add original asset names to all `object_k*` files
  assets/xml/objects/object_az.xml
  assets/xml/objects/object_boss03.xml
  assets/xml/objects/object_boss07.xml
  assets/xml/objects/object_dblue_object.xml
  assets/xml/objects/object_dog.xml
  assets/xml/objects/object_f52_obj.xml
  assets/xml/objects/object_ka.xml
  assets/xml/objects/object_kaizoku_obj.xml
  assets/xml/objects/object_kamejima.xml
  assets/xml/objects/object_kanban.xml
  assets/xml/objects/object_kbt.xml
  assets/xml/objects/object_keikoku_demo.xml
  assets/xml/objects/object_keikoku_obj.xml
  assets/xml/objects/object_kepn_koya.xml
  assets/xml/objects/object_kgy.xml
  assets/xml/objects/object_kibako.xml
  assets/xml/objects/object_kibako2.xml
  assets/xml/objects/object_kin2_obj.xml
  assets/xml/objects/object_kinsta1_obj.xml
  assets/xml/objects/object_kinsta2_obj.xml
  assets/xml/objects/object_kitan.xml
  assets/xml/objects/object_knight.xml
  assets/xml/objects/object_kumo30.xml
  assets/xml/objects/object_kusa.xml
  assets/xml/objects/object_kz.xml
  assets/xml/objects/object_kzsaku.xml
  assets/xml/objects/object_shn.xml
  src/overlays/actors/ovl_Dm_Opstage/z_dm_opstage.c
Labels: Asset, Merge-ready

#1380 Ovl_Dm_Hina decompiled
  spec
  src/overlays/actors/ovl_Dm_Hina/z_dm_hina.c
  src/overlays/actors/ovl_Dm_Hina/z_dm_hina.h
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
Labels: Overlay, Merge-ready

#1392 Name player's generic `actionVar`s
  include/z64player.h
  src/code/z_player_lib.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Door_Ana/z_door_ana.c
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.c
  src/overlays/actors/ovl_En_Raf/z_en_raf.c
  src/overlays/actors/ovl_En_Railgibud/z_en_railgibud.c
  src/overlays/actors/ovl_En_Rd/z_en_rd.c
  src/overlays/actors/ovl_En_Rr/z_en_rr.c
  src/overlays/actors/ovl_En_Talk_Gibud/z_en_talk_gibud.c
  src/overlays/actors/ovl_En_Toto/z_en_toto.c
  src/overlays/actors/ovl_En_Wiz_Fire/z_en_wiz_fire.c
  src/overlays/actors/ovl_player_actor/z_player.c
  tools/namefixer.py
Labels: documentation, Merge-ready

#1395 Animation Cleanup: En_G*
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.h
  src/overlays/actors/ovl_En_Ge1/z_en_ge1.c
  src/overlays/actors/ovl_En_Ge2/z_en_ge2.c
  src/overlays/actors/ovl_En_Ge3/z_en_ge3.c
  src/overlays/actors/ovl_En_Geg/z_en_geg.c
  src/overlays/actors/ovl_En_Geg/z_en_geg.h
  src/overlays/actors/ovl_En_Gg/z_en_gg.c
  src/overlays/actors/ovl_En_Gg/z_en_gg.h
  src/overlays/actors/ovl_En_Gg2/z_en_gg2.c
  src/overlays/actors/ovl_En_Gg2/z_en_gg2.h
  src/overlays/actors/ovl_En_Giant/z_en_giant.c
  src/overlays/actors/ovl_En_Ginko_Man/z_en_ginko_man.c
  src/overlays/actors/ovl_En_Ginko_Man/z_en_ginko_man.h
  src/overlays/actors/ovl_En_Gk/z_en_gk.c
  src/overlays/actors/ovl_En_Gk/z_en_gk.h
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.h
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Go/z_en_go.h
  src/overlays/actors/ovl_En_Goroiwa/z_en_goroiwa.c
  src/overlays/actors/ovl_En_Grasshopper/z_en_grasshopper.c
  src/overlays/actors/ovl_En_Grasshopper/z_en_grasshopper.h
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_Guard_Nuts/z_en_guard_nuts.c
  src/overlays/actors/ovl_En_Guard_Nuts/z_en_guard_nuts.h
  src/overlays/actors/ovl_En_Guruguru/z_en_guruguru.c
  src/overlays/actors/ovl_En_Guruguru/z_en_guruguru.h
  src/overlays/actors/ovl_En_Jg/z_en_jg.c
  src/overlays/actors/ovl_En_Jg/z_en_jg.h
  src/overlays/actors/ovl_En_Kgy/z_en_kgy.c
  src/overlays/actors/ovl_En_Mnk/z_en_mnk.c
  src/overlays/actors/ovl_En_Railgibud/z_en_railgibud.c
  src/overlays/actors/ovl_En_Railgibud/z_en_railgibud.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Clean up, Merge-ready

#1394 z_message_nes (2 NON_MATCHING)
  include/functions.h
  include/macros.h
  include/variables.h
  include/z64save.h
  spec
  src/code/z_message.c
  src/code/z_message_nes.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: code, Needs-contributor-approval

#1389 Document object_mk
  assets/xml/objects/object_mk.xml
  src/overlays/actors/ovl_En_Mk/z_en_mk.c
  src/overlays/actors/ovl_En_Mk/z_en_mk.h
Labels: Asset, Merge-ready

#1397 Player Docs: Initial framework for "Action Change Lists"
  src/overlays/actors/ovl_player_actor/z_player.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Merge-ready

#1399 Animation Cleanup: En_H*
  src/overlays/actors/ovl_Boss_04/z_boss_04.c
  src/overlays/actors/ovl_Boss_04/z_boss_04.h
  src/overlays/actors/ovl_En_Bombers/z_en_bombers.c
  src/overlays/actors/ovl_En_Bombers/z_en_bombers.h
  src/overlays/actors/ovl_En_Egol/z_en_egol.c
  src/overlays/actors/ovl_En_Hanabi/z_en_hanabi.c
  src/overlays/actors/ovl_En_Heishi/z_en_heishi.c
  src/overlays/actors/ovl_En_Heishi/z_en_heishi.h
  src/overlays/actors/ovl_En_Hg/z_en_hg.c
  src/overlays/actors/ovl_En_Hgo/z_en_hgo.c
  src/overlays/actors/ovl_En_Hidden_Nuts/z_en_hidden_nuts.c
  src/overlays/actors/ovl_En_Hidden_Nuts/z_en_hidden_nuts.h
  src/overlays/actors/ovl_En_Hint_Skb/z_en_hint_skb.c
  src/overlays/actors/ovl_En_Hint_Skb/z_en_hint_skb.h
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.h
  src/overlays/actors/ovl_En_Horse_Link_Child/z_en_horse_link_child.c
  src/overlays/actors/ovl_En_Hs/z_en_hs.c
  src/overlays/actors/ovl_En_Jg/z_en_jg.c
  src/overlays/actors/ovl_En_Pr2/z_en_pr2.c
  src/overlays/actors/ovl_En_Pr2/z_en_pr2.h
  src/overlays/actors/ovl_En_Ssh/z_en_ssh.c
  src/overlays/actors/ovl_En_Ssh/z_en_ssh.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Clean up, Merge-ready

#1400 Animation Cleanup: En_I*
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.h
  src/overlays/actors/ovl_En_Ik/z_en_ik.c
  src/overlays/actors/ovl_En_In/z_en_in.c
  src/overlays/actors/ovl_En_In/z_en_in.h
  src/overlays/actors/ovl_En_Insect/z_en_insect.c
  src/overlays/actors/ovl_En_Insect/z_en_insect.h
  src/overlays/actors/ovl_En_Invisible_Ruppe/z_en_invisible_ruppe.c
  tools/disasm/functions.txt
Labels: Clean up, Merge-ready

#1396 Start Player Item Docs
  include/functions.h
  include/z64player.h
  src/code/z_player_lib.c
  src/overlays/actors/ovl_player_actor/z_player.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: documentation, Merge-ready
