Repository zeldaret/mm, pull requests merged in 2023-11, with the labels that each got.

#1460 Add original asset names to all `object_n*` and `object_o*` files
  assets/xml/objects/object_nb.xml
  assets/xml/objects/object_niw.xml
  assets/xml/objects/object_nnh.xml
  assets/xml/objects/object_numa_obj.xml
  assets/xml/objects/object_ny.xml
  assets/xml/objects/object_oF1d_map.xml
  assets/xml/objects/object_ob.xml
  assets/xml/objects/object_obj_chan.xml
  assets/xml/objects/object_obj_danpeilift.xml
  assets/xml/objects/object_obj_dinner.xml
  assets/xml/objects/object_obj_milk_bin.xml
  assets/xml/objects/object_obj_tokeidai.xml
  assets/xml/objects/object_obj_usiyane.xml
  assets/xml/objects/object_obj_yasi.xml
  assets/xml/objects/object_omoya_obj.xml
  assets/xml/objects/object_open_obj.xml
  assets/xml/objects/object_ot.xml
  assets/xml/objects/object_owl.xml
  assets/xml/objects/object_oyu.xml
Labels: Asset, Merge-ready

#1266 Enable `-Wint-conversion` warning
  Makefile
  include/audiothread_cmd.h
  include/functions.h
  include/loadfragment.h
  include/main.h
  include/segment_symbols.h
  include/sys_flashrom.h
  include/tha.h
  include/z64audio.h
  include/z64message.h
  src/audio/lib/heap.c
  src/audio/lib/load.c
  src/audio/lib/synthesis.c
  src/audio/lib/thread.c
  src/boot/O2/loadfragment.c
  src/boot/O2/loadfragment2.c
  src/boot/O2/system_heap.c
  src/boot/idle.c
  src/code/TwoHeadArena.c
  src/code/graph.c
  src/code/main.c
  src/code/sched.c
  src/code/sys_cmpdma.c
  src/code/sys_flashrom.c
  src/code/z_DLF.c
  src/code/z_camera.c
  src/code/z_kanfont.c
  src/code/z_lib.c
  src/code/z_message.c
  src/code/z_message_tables.inc.c
  src/code/z_overlay.c
  src/code/z_parameter.c
  src/code/z_play.c
  src/code/z_player_lib.c
  src/code/z_rcp.c
  src/code/z_scene.c
  src/code/z_skelanime.c
  src/libultra/io/sptask.c
  src/libultra/os/createthread.c
  src/overlays/actors/ovl_En_Dnh/z_en_dnh.h
  src/overlays/actors/ovl_En_Fish2/z_en_fish2.c
  src/overlays/actors/ovl_En_Fish2/z_en_fish2.h
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Ja/z_en_ja.c
  src/overlays/actors/ovl_En_Mag/z_en_mag.c
  src/overlays/actors/ovl_En_Rz/z_en_rz.c
  src/overlays/actors/ovl_En_Yb/z_en_yb.c
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/effects/ovl_Effect_Ss_Bubble/z_eff_ss_bubble.c
  src/overlays/effects/ovl_Effect_Ss_Dt_Bubble/z_eff_ss_dt_bubble.c
  src/overlays/effects/ovl_Effect_Ss_Extra/z_eff_ss_extra.c
  src/overlays/effects/ovl_Effect_Ss_Sibuki/z_eff_ss_sibuki.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
Labels: Clean up, Merge-ready

#1458 ovl_Dm_Tsg: OK
  spec
  src/overlays/actors/ovl_Dm_Tsg/z_dm_tsg.c
  src/overlays/actors/ovl_Dm_Tsg/z_dm_tsg.h
Labels: Overlay, Merge-ready

#1459 Player Docs: public facing csAction things
  include/functions.h
  include/z64.h
  include/z64player.h
  src/code/z_actor.c
  src/code/z_eventmgr.c
  src/overlays/actors/ovl_Bg_Ikana_Rotaryroom/z_bg_ikana_rotaryroom.c
  src/overlays/actors/ovl_Bg_Ingate/z_bg_ingate.c
  src/overlays/actors/ovl_Boss_01/z_boss_01.c
  src/overlays/actors/ovl_Boss_02/z_boss_02.c
  src/overlays/actors/ovl_Boss_03/z_boss_03.c
  src/overlays/actors/ovl_Boss_04/z_boss_04.c
  src/overlays/actors/ovl_Boss_06/z_boss_06.c
  src/overlays/actors/ovl_Dm_Tag/z_dm_tag.c
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
  src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  src/overlays/actors/ovl_En_Aob_01/z_en_aob_01.c
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Bom_Bowl_Man/z_en_bom_bowl_man.c
  src/overlays/actors/ovl_En_Box/z_en_box.c
  src/overlays/actors/ovl_En_Clear_Tag/z_en_clear_tag.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dnh/z_en_dnh.c
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Gb2/z_en_gb2.c
  src/overlays/actors/ovl_En_Ge2/z_en_ge2.c
  src/overlays/actors/ovl_En_Ge3/z_en_ge3.c
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_Hs/z_en_hs.c
  src/overlays/actors/ovl_En_Jso/z_en_jso.c
  src/overlays/actors/ovl_En_Kaizoku/z_en_kaizoku.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.c
  src/overlays/actors/ovl_En_Ma_Yto/z_en_ma_yto.c
  src/overlays/actors/ovl_En_Mnk/z_en_mnk.c
  src/overlays/actors/ovl_En_Mt_tag/z_en_mt_tag.c
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Sellnuts/z_en_sellnuts.c
  src/overlays/actors/ovl_En_Shn/z_en_shn.c
  src/overlays/actors/ovl_En_Takaraya/z_en_takaraya.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Time_Tag/z_en_time_tag.c
  src/overlays/actors/ovl_En_Toto/z_en_toto.c
  src/overlays/actors/ovl_En_Wallmas/z_en_wallmas.c
  src/overlays/actors/ovl_En_Warp_tag/z_en_warp_tag.c
  src/overlays/actors/ovl_En_Zod/z_en_zod.c
  src/overlays/actors/ovl_Obj_Bean/z_obj_bean.c
  src/overlays/actors/ovl_Obj_Comb/z_obj_comb.c
  src/overlays/actors/ovl_Obj_Iceblock/z_obj_iceblock.c
  src/overlays/actors/ovl_Obj_Makekinsuta/z_obj_makekinsuta.c
  src/overlays/actors/ovl_Obj_Skateblock/z_obj_skateblock.c
  src/overlays/actors/ovl_Obj_Spidertent/z_obj_spidertent.c
  src/overlays/actors/ovl_Obj_Wturn/z_obj_wturn.c
  src/overlays/actors/ovl_player_actor/z_player.c
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: documentation, Merge-ready

#1463 Fix Camera_Update fake, match Play_UpdateMain & Play_DrawMain NON_MATCHINGs
  include/functions.h
  src/code/z_camera.c
  src/code/z_play.c
Labels: code, Needs-lead-approval, Needs-contributor-approval

#1437 z_hono_trap OK
  spec
  src/overlays/actors/ovl_En_Honotrap/z_en_honotrap.c
  src/overlays/actors/ovl_En_Honotrap/z_en_honotrap.h
Labels: Overlay, Merge-ready

#1467 Match `Sram_CopySave`
  src/code/z_sram_NES.c
Labels: code, Merge-ready

#1469 Match `Message_Update`
  src/code/z_message.c
Labels: code, Merge-ready

#1468 Match `AudioOcarina_CreateCustomSequence` (code_8019AF00.c OK)
  src/audio/code_8019AF00.c
Labels: Audio, Merge-ready

#1470 Match `Message_DrawTextCredits` (z_message_staff OK)
  src/code/z_message_staff.c
Labels: code, Merge-ready

#1471 Match `FileSelect_SetWindowContentVtx` (File Select OK)
  spec
  src/overlays/gamestates/ovl_file_choose/z_file_choose_NES.c
Labels: Overlay, Merge-ready

#1474 Match `Environment_Init`
  src/code/z_kankyo.c
Labels: code, Merge-ready

#1466 Struct Returns
  include/functions.h
  src/code/cutscene_camera.c
  src/code/z_actor.c
  src/code/z_camera.c
  src/code/z_olib.c
  src/code/z_play.c
  src/code/z_quake.c
  src/code/z_room.c
  src/overlays/actors/ovl_Eff_Stk/z_eff_stk.c
  src/overlays/actors/ovl_En_Butte/z_en_butte.c
  src/overlays/actors/ovl_En_Honotrap/z_en_honotrap.c
  src/overlays/actors/ovl_Oceff_Wipe/z_oceff_wipe.c
  src/overlays/actors/ovl_Oceff_Wipe2/z_oceff_wipe2.c
  src/overlays/actors/ovl_Oceff_Wipe3/z_oceff_wipe3.c
  src/overlays/actors/ovl_Oceff_Wipe4/z_oceff_wipe4.c
  src/overlays/actors/ovl_Oceff_Wipe5/z_oceff_wipe5.c
  src/overlays/actors/ovl_Oceff_Wipe6/z_oceff_wipe6.c
  src/overlays/actors/ovl_Oceff_Wipe7/z_oceff_wipe7.c
Labels: Clean up, Merge-ready

#1478 Match `Environment_UpdateLights` (z_kankyo OK)
  src/code/z_kankyo.c
Labels: code, Merge-ready

#1479 Match Both Message Decodes
  src/code/z_message.c
  src/code/z_message_nes.c
Labels: code, Merge-ready

#1372 Update README with python venv instructions
  .gitignore
  README.md
Labels: Tooling, Merge-ready

#1457 `ovl_En_An` OK and somewhat documented
  include/z64save.h
  spec
  src/overlays/actors/ovl_En_An/z_en_an.c
  src/overlays/actors/ovl_En_An/z_en_an.h
  src/overlays/actors/ovl_En_Door/z_en_door.c
  src/overlays/actors/ovl_En_Door/z_en_door.h
  src/overlays/actors/ovl_En_Drs/z_en_drs.c
  src/overlays/actors/ovl_En_Gm/z_en_gm.c
  src/overlays/actors/ovl_En_Ig/z_en_ig.c
  src/overlays/actors/ovl_En_Pamera/z_en_pamera.c
  src/overlays/actors/ovl_En_Pm/z_en_pm.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Tk/z_en_tk.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/weekeventregconvert.py
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1475 Small boot cleanup
  include/carthandle.h
  include/variables.h
  spec
  src/boot/O2/sprintf.c
  src/boot/boot_main.c
  src/boot/carthandle.c
  src/boot/viconfig.c
  src/boot/z_std_dma.c
  tools/disasm/files.txt
Labels: boot, Clean up, Merge-ready

#1476 Match `Environment_DrawSkyboxStarsImpl` (z_kankyo OK), introduce `rand.h`
  include/alignment.h
  include/color.h
  include/functions.h
  include/rand.h
  include/variables.h
  include/z64.h
  src/boot/O2/rand.c
  src/code/z_kankyo.c
Labels: code, Merge-ready

#1391 Decompile ovl_En_Po_Composer
  assets/xml/objects/object_po_composer.xml
  spec
  src/overlays/actors/ovl_En_Po_Composer/z_en_po_composer.c
  src/overlays/actors/ovl_En_Po_Composer/z_en_po_composer.h
Labels: Overlay, Merge-ready

#1483 Fix aliasing in Cutscene_SetActorCue
  src/code/z_demo.c
Labels: Clean up, Merge-ready

#1484 Fix Misc Data
  src/code/z_parameter.c
  src/overlays/actors/ovl_En_Pr2/z_en_pr2.c
  src/overlays/actors/ovl_En_Zog/z_en_zog.c
  tools/disasm/variables.txt
Labels: Clean up, Merge-ready

#1472 Match `func_801457CC` (z_sram_NES.c OK)
  src/code/z_parameter.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_En_Thiefbird/z_en_thiefbird.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_debug.c
Labels: code, Merge-ready

#1485 EnJso2 (Garo Master) OK and documented
  spec
  src/overlays/actors/ovl_En_Jso/z_en_jso.c
  src/overlays/actors/ovl_En_Jso/z_en_jso.h
  src/overlays/actors/ovl_En_Jso2/z_en_jso2.c
  src/overlays/actors/ovl_En_Jso2/z_en_jso2.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1491 Misc fixes 1
  include/z64environment.h
  src/audio/lib/data.c
  src/boot/yaz0.c
  src/code/z_common_data.c
  src/code/z_message.c
  src/code/z_parameter.c
  src/code/z_player_lib.c
  src/libultra/io/motor.c
  src/overlays/actors/ovl_En_Dnh/z_en_dnh.c
  src/overlays/actors/ovl_En_Tanron2/z_en_tanron2.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  src/overlays/gamestates/ovl_file_choose/z_file_choose_NES.c
  src/overlays/gamestates/ovl_file_choose/z_file_nameset_NES.c
  tools/disasm/variables.txt
Labels: Clean up, Merge-ready

#1493 Animation Cleanup: En_L* and some En_M*
  src/code/z_actor.c
  src/code/z_camera.c
  src/overlays/actors/ovl_Bg_Numa_Hana/z_bg_numa_hana.c
  src/overlays/actors/ovl_En_Bom_Chu/z_en_bom_chu.c
  src/overlays/actors/ovl_En_Lift_Nuts/z_en_lift_nuts.c
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.c
  src/overlays/actors/ovl_En_M_Thunder/z_en_m_thunder.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  src/overlays/actors/ovl_En_Ma_Yto/z_en_ma_yto.c
  src/overlays/actors/ovl_En_Ma_Yts/z_en_ma_yts.c
  src/overlays/actors/ovl_En_Mkk/z_en_mkk.c
  src/overlays/actors/ovl_En_Mm2/z_en_mm2.c
  src/overlays/actors/ovl_En_Sekihi/z_en_sekihi.c
  src/overlays/actors/ovl_En_Slime/z_en_slime.c
  src/overlays/actors/ovl_player_actor/z_player.c
Labels: Clean up, Merge-ready

#1454 Fix ultratypes types
  include/PR/os_libc.h
  include/PR/os_time.h
  include/PR/ultratypes.h
  include/PR/xstdio.h
  include/audio/load.h
  include/functions.h
  include/libc/stdbool.h
  include/libc/stdint.h
  include/system_malloc.h
  include/z64message.h
  src/boot/O2/system_malloc.c
  src/boot/fault.c
  src/boot/z_std_dma.c
  src/code/TwoHeadGfxArena.c
  src/code/graph.c
  src/code/speed_meter.c
  src/code/z_actor.c
  src/code/z_actor_dlftbls.c
  src/code/z_en_item00.c
  src/code/z_kaleido_manager.c
  src/code/z_malloc.c
  src/code/z_message.c
  src/code/z_play.c
  src/code/z_player_lib.c
  src/libultra/os/stoptimer.c
  src/overlays/actors/ovl_Bg_Breakwall/z_bg_breakwall.c
  src/overlays/actors/ovl_Bg_Breakwall/z_bg_breakwall.h
  src/overlays/actors/ovl_Bg_Dblue_Balance/z_bg_dblue_balance.c
  src/overlays/actors/ovl_Bg_Ikana_Block/z_bg_ikana_block.c
  src/overlays/actors/ovl_Bg_Ikana_Shutter/z_bg_ikana_shutter.c
  src/overlays/actors/ovl_Bg_Iknin_Susceil/z_bg_iknin_susceil.c
  src/overlays/actors/ovl_Bg_Kin2_Picture/z_bg_kin2_picture.c
  src/overlays/actors/ovl_Bg_Kin2_Shelf/z_bg_kin2_shelf.c
  src/overlays/actors/ovl_Elf_Msg/z_elf_msg.c
  src/overlays/actors/ovl_Elf_Msg4/z_elf_msg4.c
  src/overlays/actors/ovl_Elf_Msg6/z_elf_msg6.c
  src/overlays/actors/ovl_En_Fish/z_en_fish.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Mushi2/z_en_mushi2.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/actors/ovl_Obj_Armos/z_obj_armos.c
  src/overlays/actors/ovl_Obj_Comb/z_obj_comb.c
  src/overlays/actors/ovl_Obj_Kibako2/z_obj_kibako2.c
  src/overlays/actors/ovl_Obj_Makekinsuta/z_obj_makekinsuta.c
  src/overlays/actors/ovl_Obj_Pzlblock/z_obj_pzlblock.c
  src/overlays/actors/ovl_Obj_Spidertent/z_obj_spidertent.c
  src/overlays/actors/ovl_Obj_Taru/z_obj_taru.c
  src/overlays/actors/ovl_Obj_Toge/z_obj_toge.c
  src/overlays/actors/ovl_Obj_Tsubo/z_obj_tsubo.c
  src/overlays/actors/ovl_player_actor/z_player.c
Labels: Clean up, Merge-ready

#1489 Document Overriding Player Input
  include/functions.h
  include/z64actor.h
  include/z64player.h
  src/code/z_actor.c
  src/code/z_kaleido_setup.c
  src/code/z_player_lib.c
  src/overlays/actors/ovl_En_Fu/z_en_fu.c
  src/overlays/actors/ovl_En_Jso2/z_en_jso2.c
  src/overlays/actors/ovl_En_Jso2/z_en_jso2.h
  src/overlays/actors/ovl_En_Kendo_Js/z_en_kendo_js.c
  src/overlays/actors/ovl_En_Lift_Nuts/z_en_lift_nuts.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  src/overlays/actors/ovl_En_Toto/z_en_toto.c
  src/overlays/actors/ovl_En_Toto/z_en_toto.h
  src/overlays/actors/ovl_player_actor/z_player.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
Labels: documentation, Merge-ready

#1490 Audio Voice Decompiled
  include/PR/os_voice.h
  include/functions.h
  include/variables.h
  include/z64audio.h
  include/z64ocarina.h
  include/z64save.h
  include/z64voice.h
  spec
  src/audio/code_8019AF00.c
  src/audio/voice_external.c
  src/audio/voice_internal.c
  src/code/padmgr.c
  src/code/z_parameter.c
  src/libultra/voice/voicegetreaddata.c
  src/overlays/actors/ovl_Dm_Ah/z_dm_ah.c
  src/overlays/actors/ovl_En_Cow/z_en_cow.c
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_Hidden_Nuts/z_en_hidden_nuts.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_Obj_Flowerpot/z_obj_flowerpot.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/sizes/code_functions.csv
  tools/weekeventregconvert.py
Labels: Audio, Merge-ready

#1496 Animation Cleanup: En_M*
  src/code/z_player_lib.c
  src/overlays/actors/ovl_En_Bal/z_en_bal.c
  src/overlays/actors/ovl_En_Bubble/z_en_bubble.c
  src/overlays/actors/ovl_En_Dekubaba/z_en_dekubaba.c
  src/overlays/actors/ovl_En_Dragon/z_en_dragon.c
  src/overlays/actors/ovl_En_Elfbub/z_en_elfbub.c
  src/overlays/actors/ovl_En_Ik/z_en_ik.c
  src/overlays/actors/ovl_En_Ma4/z_en_ma4.c
  src/overlays/actors/ovl_En_Mag/z_en_mag.c
  src/overlays/actors/ovl_En_Minifrog/z_en_minifrog.c
  src/overlays/actors/ovl_En_Minislime/z_en_minislime.c
  src/overlays/actors/ovl_En_Mk/z_en_mk.c
  src/overlays/actors/ovl_En_Mk/z_en_mk.h
  src/overlays/actors/ovl_En_Mkk/z_en_mkk.c
  src/overlays/actors/ovl_En_Mm/z_en_mm.c
  src/overlays/actors/ovl_En_Mm2/z_en_mm2.c
  src/overlays/actors/ovl_En_Mm3/z_en_mm3.c
  src/overlays/actors/ovl_En_Mm3/z_en_mm3.h
  src/overlays/actors/ovl_En_Ms/z_en_ms.c
  src/overlays/actors/ovl_En_Ms/z_en_ms.h
  src/overlays/actors/ovl_En_Mt_tag/z_en_mt_tag.c
  src/overlays/actors/ovl_En_Mushi2/z_en_mushi2.c
  src/overlays/actors/ovl_En_Mushi2/z_en_mushi2.h
  src/overlays/actors/ovl_En_Muto/z_en_muto.c
  src/overlays/actors/ovl_En_Muto/z_en_muto.h
  src/overlays/actors/ovl_En_Pp/z_en_pp.c
  src/overlays/actors/ovl_En_Snowman/z_en_snowman.c
  src/overlays/actors/ovl_En_Syateki_Okuta/z_en_syateki_okuta.c
  src/overlays/actors/ovl_Obj_Comb/z_obj_comb.c
  src/overlays/actors/ovl_Obj_Fireshield/z_obj_fireshield.c
  src/overlays/actors/ovl_Obj_Mu_Pict/z_obj_mu_pict.c
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/effects/ovl_Effect_Ss_En_Ice/z_eff_ss_en_ice.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Clean up, Merge-ready

#1434 Player doc: anim wrappers
  include/z64animation.h
  include/z64player.h
  src/code/z_en_hy_code.c
  src/code/z_skelanime.c
  src/code/z_sub_s.c
  src/overlays/actors/ovl_Demo_Effect/z_demo_effect.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Rz/z_en_rz.c
  src/overlays/actors/ovl_En_Syateki_Okuta/z_en_syateki_okuta.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  src/overlays/actors/ovl_player_actor/z_player.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
Labels: documentation, Merge-ready

#1494 Misc Camera Cleanup
  src/code/z_camera.c
Labels: Clean up, Merge-ready

#1504 Animation Cleanup: En_N*
  src/code/z_scene.c
  src/overlays/actors/ovl_Dm_Char02/z_dm_char02.c
  src/overlays/actors/ovl_Door_Shutter/z_door_shutter.c
  src/overlays/actors/ovl_En_Am/z_en_am.c
  src/overlays/actors/ovl_En_Baguo/z_en_baguo.c
  src/overlays/actors/ovl_En_Bal/z_en_bal.c
  src/overlays/actors/ovl_En_Bb/z_en_bb.c
  src/overlays/actors/ovl_En_Bbfall/z_en_bbfall.c
  src/overlays/actors/ovl_En_Floormas/z_en_floormas.c
  src/overlays/actors/ovl_En_Kaizoku/z_en_kaizoku.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Nb/z_en_nb.c
  src/overlays/actors/ovl_En_Nb/z_en_nb.h
  src/overlays/actors/ovl_En_Neo_Reeba/z_en_neo_reeba.c
  src/overlays/actors/ovl_En_Nimotsu/z_en_nimotsu.c
  src/overlays/actors/ovl_En_Niw/z_en_niw.c
  src/overlays/actors/ovl_En_Niw/z_en_niw.h
  src/overlays/actors/ovl_En_Nutsball/z_en_nutsball.c
  src/overlays/actors/ovl_En_Nwc/z_en_nwc.c
  src/overlays/actors/ovl_En_Suttari/z_en_suttari.c
  src/overlays/actors/ovl_En_Syateki_Wf/z_en_syateki_wf.c
  src/overlays/actors/ovl_En_Tite/z_en_tite.c
  src/overlays/actors/ovl_En_Trt2/z_en_trt2.c
Labels: Clean up, Merge-ready

#1477 Fix most hardcoded pointers in extracted assets
  assets/xml/objects/gameplay_field_keep.xml
  assets/xml/objects/gameplay_keep.xml
  assets/xml/objects/object_hana.xml
  assets/xml/objects/object_moonend.xml
  assets/xml/objects/object_ssh.xml
  assets/xml/objects/object_syokudai.xml
  assets/xml/objects/object_syoten.xml
  assets/xml/objects/object_wood02.xml
  assets/xml/objects/object_zog.xml
  assets/xml/overlays/ovl_Obj_Grass.xml
  assets/xml/overlays/ovl_Obj_Jgame_Light.xml
Labels: Clean up, Asset, Merge-ready

#1501 Player doc: Temporary `PLAYER_ANIMGROUP` names from original animation names
  include/z64player.h
  src/overlays/actors/ovl_player_actor/z_player.c
Labels: documentation, Merge-ready

#1507 Animation Cleanup: En_P*
  assets/xml/objects/object_pst.xml
  include/functions.h
  src/code/z_actor.c
  src/code/z_camera.c
  src/code/z_message.c
  src/code/z_sub_s.c
  src/overlays/actors/ovl_Bg_Dblue_Balance/z_bg_dblue_balance.c
  src/overlays/actors/ovl_Bg_Dblue_Waterfall/z_bg_dblue_waterfall.c
  src/overlays/actors/ovl_Bg_Icefloe/z_bg_icefloe.c
  src/overlays/actors/ovl_Bg_Lotus/z_bg_lotus.c
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/actors/ovl_En_Attack_Niw/z_en_attack_niw.c
  src/overlays/actors/ovl_En_Az/z_en_az.c
  src/overlays/actors/ovl_En_Bba_01/z_en_bba_01.c
  src/overlays/actors/ovl_En_Bigokuta/z_en_bigokuta.c
  src/overlays/actors/ovl_En_Bigpamet/z_en_bigpamet.c
  src/overlays/actors/ovl_En_Bomjimb/z_en_bomjimb.c
  src/overlays/actors/ovl_En_Boom/z_en_boom.c
  src/overlays/actors/ovl_En_Cne_01/z_en_cne_01.c
  src/overlays/actors/ovl_En_Fish2/z_en_fish2.c
  src/overlays/actors/ovl_En_Fsn/z_en_fsn.c
  src/overlays/actors/ovl_En_Goroiwa/z_en_goroiwa.c
  src/overlays/actors/ovl_En_Gs/z_en_gs.c
  src/overlays/actors/ovl_En_Hidden_Nuts/z_en_hidden_nuts.c
  src/overlays/actors/ovl_En_Horse/z_en_horse.c
  src/overlays/actors/ovl_En_Ishi/z_en_ishi.c
  src/overlays/actors/ovl_En_Kakasi/z_en_kakasi.c
  src/overlays/actors/ovl_En_Mushi2/z_en_mushi2.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
  src/overlays/actors/ovl_En_Owl/z_en_owl.c
  src/overlays/actors/ovl_En_Pamera/z_en_pamera.c
  src/overlays/actors/ovl_En_Pamera/z_en_pamera.h
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Part/z_en_part.c
  src/overlays/actors/ovl_En_Peehat/z_en_peehat.c
  src/overlays/actors/ovl_En_Peehat/z_en_peehat.h
  src/overlays/actors/ovl_En_Po_Sisters/z_en_po_sisters.c
  src/overlays/actors/ovl_En_Poh/z_en_poh.c
  src/overlays/actors/ovl_En_Pp/z_en_pp.c
  src/overlays/actors/ovl_En_Pp/z_en_pp.h
  src/overlays/actors/ovl_En_Pr/z_en_pr.c
  src/overlays/actors/ovl_En_Pr/z_en_pr.h
  src/overlays/actors/ovl_En_Pr2/z_en_pr2.c
  src/overlays/actors/ovl_En_Pr2/z_en_pr2.h
  src/overlays/actors/ovl_En_Prz/z_en_prz.c
  src/overlays/actors/ovl_En_Prz/z_en_prz.h
  src/overlays/actors/ovl_En_Pst/z_en_pst.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Tanron1/z_en_tanron1.c
  src/overlays/actors/ovl_En_Test5/z_en_test5.c
  src/overlays/actors/ovl_En_Trt/z_en_trt.c
  src/overlays/actors/ovl_En_Zog/z_en_zog.c
  src/overlays/actors/ovl_En_Zoraegg/z_en_zoraegg.c
  src/overlays/actors/ovl_Obj_Bombiwa/z_obj_bombiwa.c
  src/overlays/actors/ovl_Obj_Hamishi/z_obj_hamishi.c
  src/overlays/actors/ovl_Obj_Iceblock/z_obj_iceblock.c
  src/overlays/actors/ovl_player_actor/z_player.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Clean up, Merge-ready

#1508 Yet another header cleanup
  include/functions.h
  include/gamealloc.h
  include/gfx.h
  include/ichain.h
  include/macros.h
  include/main.h
  include/variables.h
  include/z64.h
  include/z64curve.h
  include/z64game.h
  include/z64lib.h
  include/z64light.h
  include/z64malloc.h
  include/z64math.h
  include/z64save.h
  include/z64skin.h
  include/z64skin_matrix.h
  include/z64speed_meter.h
  include/z64transition.h
  src/code/gamealloc.c
  src/code/speed_meter.c
  src/code/z_actor.c
  src/code/z_camera.c
  src/code/z_collision_check.c
  src/code/z_effect_soft_sprite.c
  src/code/z_fbdemo.c
  src/code/z_fbdemo_circle.c
  src/code/z_fbdemo_dlftbls.c
  src/code/z_fbdemo_fade.c
  src/code/z_fcurve_data_skelanime.c
  src/code/z_lib.c
  src/code/z_lights.c
  src/code/z_malloc.c
  src/code/z_overlay.c
  src/code/z_parameter.c
  src/code/z_play.c
  src/code/z_play_hireso.c
  src/code/z_skelanime.c
  src/code/z_skin_awb.c
  src/code/z_skin_matrix.c
  src/libultra/gu/cosf.c
  src/libultra/gu/sinf.c
  src/libultra/io/controller.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_player_actor/z_player.c
  undefined_syms.txt
Labels: Clean up, Merge-ready

#1512 Switch icon_item_static.xml offset addresses
  assets/xml/archives/icon_item_static.xml
Labels: Asset, Merge-ready

#1513 Switched icon_item_24_static.xml lines for 0x6300 and 0x5A00
  assets/xml/archives/icon_item_24_static.xml
Labels: Asset, Merge-ready

#1506 Animation Cleanup: En_O*
  src/code/z_collision_check.c
  src/code/z_effect_soft_sprite_old_init.c
  src/code/z_player_lib.c
  src/overlays/actors/ovl_Bg_Icicle/z_bg_icicle.c
  src/overlays/actors/ovl_Bg_Kin2_Fence/z_bg_kin2_fence.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_En_Am/z_en_am.c
  src/overlays/actors/ovl_En_Az/z_en_az.c
  src/overlays/actors/ovl_En_Bigslime/z_en_bigslime.c
  src/overlays/actors/ovl_En_Bombers2/z_en_bombers2.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dnk/z_en_dnk.c
  src/overlays/actors/ovl_En_Elf/z_en_elf.c
  src/overlays/actors/ovl_En_Firefly/z_en_firefly.c
  src/overlays/actors/ovl_En_Gg2/z_en_gg2.c
  src/overlays/actors/ovl_En_Hg/z_en_hg.c
  src/overlays/actors/ovl_En_Hgo/z_en_hgo.c
  src/overlays/actors/ovl_En_Js/z_en_js.c
  src/overlays/actors/ovl_En_Look_Nuts/z_en_look_nuts.c
  src/overlays/actors/ovl_En_Okarina_Effect/z_en_okarina_effect.c
  src/overlays/actors/ovl_En_Okarina_Tag/z_en_okarina_tag.c
  src/overlays/actors/ovl_En_Onpuman/z_en_onpuman.c
  src/overlays/actors/ovl_En_Osk/z_en_osk.c
  src/overlays/actors/ovl_En_Osk/z_en_osk.h
  src/overlays/actors/ovl_En_Osn/z_en_osn.c
  src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
  src/overlays/actors/ovl_En_Ot/z_en_ot.c
  src/overlays/actors/ovl_En_Ot/z_en_ot.h
  src/overlays/actors/ovl_En_Owl/z_en_owl.c
  src/overlays/actors/ovl_En_Owl/z_en_owl.h
  src/overlays/actors/ovl_En_Pametfrog/z_en_pametfrog.c
  src/overlays/actors/ovl_En_Po_Fusen/z_en_po_fusen.c
  src/overlays/actors/ovl_En_Pr2/z_en_pr2.c
  src/overlays/actors/ovl_En_Prz/z_en_prz.c
  src/overlays/actors/ovl_En_Rg/z_en_rg.c
  src/overlays/actors/ovl_En_Ru/z_en_ru.c
  src/overlays/actors/ovl_En_S_Goro/z_en_s_goro.c
  src/overlays/actors/ovl_En_Sth2/z_en_sth2.c
  src/overlays/actors/ovl_En_Takaraya/z_en_takaraya.c
  src/overlays/actors/ovl_En_Wiz_Fire/z_en_wiz_fire.c
  src/overlays/actors/ovl_En_Zob/z_en_zob.c
  src/overlays/actors/ovl_En_Zog/z_en_zog.c
  src/overlays/actors/ovl_En_Zos/z_en_zos.c
  src/overlays/actors/ovl_En_Zow/z_en_zow.c
  src/overlays/actors/ovl_Obj_Dora/z_obj_dora.c
  src/overlays/actors/ovl_Obj_Hgdoor/z_obj_hgdoor.c
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/effects/ovl_Effect_Ss_G_Splash/z_eff_ss_g_splash.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Clean up, Merge-ready

#1510 Boss05 (Bio Deku Baba) OK and documented
  assets/xml/overlays/ovl_Boss_05.xml
  include/z64scene.h
  spec
  src/overlays/actors/ovl_Boss_01/z_boss_01.c
  src/overlays/actors/ovl_Boss_01/z_boss_01.h
  src/overlays/actors/ovl_Boss_05/z_boss_05.c
  src/overlays/actors/ovl_Boss_05/z_boss_05.h
  src/overlays/actors/ovl_En_Pp/z_en_pp.c
  src/overlays/actors/ovl_En_Pp/z_en_pp.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Overlay, Merge-ready

#1498 `z_en_test4.c` Documented
  include/z64actor.h
  include/z64environment.h
  include/z64save.h
  src/code/z_demo.c
  src/code/z_kaleido_setup.c
  src/code/z_kankyo.c
  src/code/z_message.c
  src/code/z_parameter.c
  src/overlays/actors/ovl_Dm_Stk/z_dm_stk.c
  src/overlays/actors/ovl_En_Fall/z_en_fall.c
  src/overlays/actors/ovl_En_Ge2/z_en_ge2.c
  src/overlays/actors/ovl_En_Scopecoin/z_en_scopecoin.c
  src/overlays/actors/ovl_En_Scopecrow/z_en_scopecrow.c
  src/overlays/actors/ovl_En_Scopenuts/z_en_scopenuts.c
  src/overlays/actors/ovl_En_Sth/z_en_sth.c
  src/overlays/actors/ovl_En_Sth2/z_en_sth2.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.c
  src/overlays/actors/ovl_En_Test4/z_en_test4.h
  src/overlays/actors/ovl_En_Test6/z_en_test6.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.c
  src/overlays/actors/ovl_Obj_Tokeidai/z_obj_tokeidai.c
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/gamestates/ovl_file_choose/z_file_choose_NES.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: documentation, Merge-ready

#1488 Move the system heap and the framebuffers to their own segments
  include/buffers.h
  include/libc/assert.h
  include/segment_symbols.h
  include/variables.h
  spec
  src/boot/idle.c
  src/buffers/audio_heap.c
  src/buffers/framebuffer_hi.c
  src/buffers/framebuffer_lo.c
  src/buffers/gfxpools.c
  src/buffers/gfxstack.c
  src/buffers/gfxyield.c
  src/buffers/heaps.c
  src/buffers/system_heap.c
  src/code/main.c
  src/code/sys_cfb.c
  src/code/z_play.c
  src/code/z_vr_box.c
  tools/disasm/disasm.py
  tools/disasm/files.txt
  tools/disasm/variables.txt
  undefined_syms.txt
Labels: Clean up, Merge-ready

#1492 Organize `libc64` files
  Makefile
  include/PR/os_libc.h
  include/functions.h
  include/libc/math.h
  include/libc64/aprintf.h
  include/libc64/fixed_point.h
  include/libc64/malloc.h
  include/libc64/math64.h
  include/libc64/os_malloc.h
  include/libc64/qrand.h
  include/libc64/sleep.h
  include/libc64/sprintf.h
  include/system_malloc.h
  include/variables.h
  include/z64.h
  include/z64math.h
  spec
  src/boot/O2/gfxprint.c
  src/boot/O2/loadfragment.c
  src/boot/O2/loadfragment2.c
  src/boot/O2/printutils.c
  src/boot/O2/sleep.c
  src/boot/O2/system_heap.c
  src/boot/O2/system_malloc.c
  src/boot/fault.c
  src/boot/libc64/__osMalloc.c
  src/boot/libc64/aprintf.c
  src/boot/libc64/malloc.c
  src/boot/libc64/math64.c
  src/boot/libc64/qrand.c
  src/boot/libc64/sleep.c
  src/boot/libc64/sprintf.c
  src/boot/yaz0.c
  src/code/code_80183070.c
  src/code/game.c
  src/code/gamealloc.c
  src/code/graph.c
  src/code/listalloc.c
  src/code/padmgr.c
  src/code/sched.c
  src/code/speed_meter.c
  src/code/sys_cfb.c
  src/code/sys_cmpdma.c
  src/code/sys_flashrom.c
  src/code/z_DLF.c
  src/code/z_bgcheck.c
  src/code/z_debug.c
  src/code/z_fbdemo.c
  src/code/z_kankyo.c
  src/code/z_malloc.c
  src/code/z_vismono.c
  src/libultra/gu/sins.c
  src/overlays/actors/ovl_Eff_Dust/z_eff_dust.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/disasm/variables.txt
  tools/namefixer.py
  tools/sizes/boot_functions.csv
Labels: boot, Clean up, Merge-ready

#1518 Document Actor Category Change
  include/functions.h
  include/z64actor.h
  src/boot/fault_drawer.c
  src/code/z_actor.c
  src/code/z_collision_check.c
  src/code/z_player_lib.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_Bg_Hakugin_Switch/z_bg_hakugin_switch.c
  src/overlays/actors/ovl_Boss_01/z_boss_01.c
  src/overlays/actors/ovl_Boss_05/z_boss_05.c
  src/overlays/actors/ovl_En_Bee/z_en_bee.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bombf/z_en_bombf.c
  src/overlays/actors/ovl_En_Dekubaba/z_en_dekubaba.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Fishing/z_en_fishing.c
  src/overlays/actors/ovl_En_Fz/z_en_fz.c
  src/overlays/actors/ovl_En_Jso/z_en_jso.c
  src/overlays/actors/ovl_En_Karebaba/z_en_karebaba.c
  src/overlays/actors/ovl_En_Kusa2/z_en_kusa2.c
  src/overlays/actors/ovl_En_Mnk/z_en_mnk.c
  src/overlays/actors/ovl_En_Poh/z_en_poh.c
  src/overlays/actors/ovl_En_Raf/z_en_raf.c
  src/overlays/actors/ovl_En_Rd/z_en_rd.c
  src/overlays/actors/ovl_En_Sw/z_en_sw.c
  src/overlays/actors/ovl_En_Tanron2/z_en_tanron2.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  src/overlays/actors/ovl_En_Tsn/z_en_tsn.c
  src/overlays/actors/ovl_En_Tubo_Trap/z_en_tubo_trap.c
  src/overlays/actors/ovl_En_Weather_Tag/z_en_weather_tag.c
  src/overlays/actors/ovl_En_Wf/z_en_wf.c
  src/overlays/actors/ovl_Obj_Bean/z_obj_bean.c
  src/overlays/actors/ovl_Obj_Mure/z_obj_mure.c
  src/overlays/actors/ovl_Obj_Roomtimer/z_obj_roomtimer.c
  src/overlays/actors/ovl_Obj_Usiyane/z_obj_usiyane.c
  tools/disasm/functions.txt
  tools/namefixer.py
  tools/sizes/code_functions.csv
Labels: documentation, Merge-ready

#1497 `z_en_test7.c` Documentation Pass
  assets/xml/objects/gameplay_keep.xml
  include/regs.h
  include/z64player.h
  include/z64save.h
  include/z64scene.h
  src/audio/session_config.c
  src/code/title_setup.c
  src/code/z_kaleido_scope_call.c
  src/code/z_message.c
  src/code/z_scene.c
  src/code/z_sram_NES.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.c
  src/overlays/actors/ovl_En_Bigpo/z_en_bigpo.h
  src/overlays/actors/ovl_En_Dns/z_en_dns.c
  src/overlays/actors/ovl_En_Go/z_en_go.c
  src/overlays/actors/ovl_En_Go/z_en_go.h
  src/overlays/actors/ovl_En_Test7/z_en_test7.c
  src/overlays/actors/ovl_En_Test7/z_en_test7.h
  src/overlays/actors/ovl_Obj_Kendo_Kanban/z_obj_kendo_kanban.c
  src/overlays/actors/ovl_Obj_Kendo_Kanban/z_obj_kendo_kanban.h
  src/overlays/actors/ovl_Obj_Warpstone/z_obj_warpstone.c
  src/overlays/actors/ovl_Obj_Warpstone/z_obj_warpstone.h
  src/overlays/actors/ovl_player_actor/z_player.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_map.c
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope.h
  src/overlays/kaleido_scope/ovl_kaleido_scope/z_kaleido_scope_NES.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Merge-ready

#1482 Split effect headers and a bit of cleanup
  include/functions.h
  include/variables.h
  include/z64bgcheck.h
  include/z64eff_blure.h
  include/z64eff_shield_particle.h
  include/z64eff_spark.h
  include/z64eff_ss_dead.h
  include/z64eff_tire_mark.h
  include/z64effect.h
  include/z64effect_ss.h
  src/boot/fault.c
  src/code/z_bgcheck.c
  src/code/z_collision_check.c
  src/code/z_eff_blure.c
  src/code/z_eff_shield_particle.c
  src/code/z_eff_spark.c
  src/code/z_eff_ss_dead.c
  src/code/z_eff_tire_mark.c
  src/code/z_effect.c
  src/code/z_effect_soft_sprite.c
  src/code/z_effect_soft_sprite_dlftbls.c
  src/code/z_effect_soft_sprite_old_init.c
  src/overlays/actors/ovl_En_Arrow/z_en_arrow.c
  src/overlays/actors/ovl_En_Bom_Chu/z_en_bom_chu.c
  src/overlays/actors/ovl_En_Boom/z_en_boom.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dodongo/z_en_dodongo.c
  src/overlays/actors/ovl_En_Geg/z_en_geg.c
  src/overlays/actors/ovl_En_Goroiwa/z_en_goroiwa.c
  src/overlays/actors/ovl_En_Ik/z_en_ik.c
  src/overlays/actors/ovl_En_Rat/z_en_rat.c
  src/overlays/actors/ovl_En_Ssh/z_en_ssh.c
  src/overlays/actors/ovl_En_Test3/z_en_test3.c
  src/overlays/actors/ovl_player_actor/z_player.c
  tools/disasm/variables.txt
Labels: code, Clean up, Merge-ready

#1499 Organize `libc` and `libm` files
  Makefile
  include/PR/ultratypes.h
  include/functions.h
  include/libc/math.h
  include/libc/stddef.h
  include/libc/string.h
  spec
  src/boot/O2/__osMemset.c
  src/boot/libc/memmove.c
  src/boot/libc/memset.c
  src/boot/libc/strcmp.c
  src/boot/libc/strcpy.c
  src/boot/libc64/__osMalloc.c
  src/boot/libm/fmodf.c
  src/code/cutscene_camera.c
  src/code/z_camera.c
  src/code/z_kankyo.c
  src/code/z_quake.c
  src/libultra/voice/voicecrc.c
  tools/disasm/files.txt
  tools/disasm/functions.txt
  tools/sizes/boot_functions.csv
Labels: boot, Clean up, Merge-ready

#1519 Add original asset names to all `object_p*` and `object_r*` files
  assets/xml/objects/object_pamera.xml
  assets/xml/objects/object_ph.xml
  assets/xml/objects/object_po.xml
  assets/xml/objects/object_po_composer.xml
  assets/xml/objects/object_po_fusen.xml
  assets/xml/objects/object_po_sisters.xml
  assets/xml/objects/object_posthouse_obj.xml
  assets/xml/objects/object_pr.xml
  assets/xml/objects/object_ps.xml
  assets/xml/objects/object_pst.xml
  assets/xml/objects/object_racetsubo.xml
  assets/xml/objects/object_raf.xml
  assets/xml/objects/object_raillift.xml
  assets/xml/objects/object_random_obj.xml
  assets/xml/objects/object_rb.xml
  assets/xml/objects/object_redead_obj.xml
  assets/xml/objects/object_rotlift.xml
  assets/xml/objects/object_rsn.xml
  assets/xml/objects/object_ru2.xml
  assets/xml/objects/object_rz.xml
  include/tables/object_table.h
  spec
  src/overlays/actors/ovl_En_Rsn/z_en_rsn.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.c
  src/overlays/actors/ovl_En_Sob1/z_en_sob1.h
  tools/ZAPDConfigs/MM/ObjectList_MM.txt
  tools/disasm/dma_filenames.txt
  tools/extract_baserom.py
  tools/filelists/mm.us.rev1/all.csv
  tools/filelists/mm.us.rev1/objects.csv
  tools/gitable.py
Labels: Asset, Merge-ready

#1520 Cleanup External Audio Headers
  include/functions.h
  include/sequence.h
  include/sfx.h
  include/variables.h
  include/z64audio.h
  include/z64ocarina.h
  src/code/z_play.c
Labels: Clean up, Merge-ready
