Repository zeldaret/mm, pull requests merged in 2024-08, with the labels that each got.

#1667 EnBsb (Captain Keeta) OK
  linker_scripts/undefined_syms.ld
  spec
  src/overlays/actors/ovl_En_Bsb/z_en_bsb.c
  src/overlays/actors/ovl_En_Bsb/z_en_bsb.h
  src/overlays/actors/ovl_En_Encount4/z_en_encount4.c
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: Overlay, Merge-ready

#1666 [Audio 1/?] Extract Samplebanks and Soundfonts to XML
  Makefile
  assets/xml/audio/samplebanks/SampleBank_0.xml
  assets/xml/audio/samplebanks/SampleBank_2.xml
  assets/xml/audio/soundfonts/Soundfont_0.xml
  assets/xml/audio/soundfonts/Soundfont_1.xml
  assets/xml/audio/soundfonts/Soundfont_10.xml
  assets/xml/audio/soundfonts/Soundfont_11.xml
  assets/xml/audio/soundfonts/Soundfont_12.xml
  assets/xml/audio/soundfonts/Soundfont_13.xml
  assets/xml/audio/soundfonts/Soundfont_14.xml
  assets/xml/audio/soundfonts/Soundfont_15.xml
  assets/xml/audio/soundfonts/Soundfont_16.xml
  assets/xml/audio/soundfonts/Soundfont_17.xml
  assets/xml/audio/soundfonts/Soundfont_18.xml
  assets/xml/audio/soundfonts/Soundfont_19.xml
  assets/xml/audio/soundfonts/Soundfont_2.xml
  assets/xml/audio/soundfonts/Soundfont_20.xml
  assets/xml/audio/soundfonts/Soundfont_21.xml
  assets/xml/audio/soundfonts/Soundfont_22.xml
  assets/xml/audio/soundfonts/Soundfont_23.xml
  assets/xml/audio/soundfonts/Soundfont_24.xml
  assets/xml/audio/soundfonts/Soundfont_25.xml
  assets/xml/audio/soundfonts/Soundfont_26.xml
  assets/xml/audio/soundfonts/Soundfont_27.xml
  assets/xml/audio/soundfonts/Soundfont_28.xml
  assets/xml/audio/soundfonts/Soundfont_29.xml
  assets/xml/audio/soundfonts/Soundfont_3.xml
  assets/xml/audio/soundfonts/Soundfont_30.xml
  assets/xml/audio/soundfonts/Soundfont_31.xml
  assets/xml/audio/soundfonts/Soundfont_32.xml
  assets/xml/audio/soundfonts/Soundfont_33.xml
  assets/xml/audio/soundfonts/Soundfont_34.xml
  assets/xml/audio/soundfonts/Soundfont_35.xml
  assets/xml/audio/soundfonts/Soundfont_36.xml
  assets/xml/audio/soundfonts/Soundfont_37.xml
  assets/xml/audio/soundfonts/Soundfont_38.xml
  assets/xml/audio/soundfonts/Soundfont_39.xml
  assets/xml/audio/soundfonts/Soundfont_4.xml
  assets/xml/audio/soundfonts/Soundfont_40.xml
  assets/xml/audio/soundfonts/Soundfont_5.xml
  assets/xml/audio/soundfonts/Soundfont_6.xml
  assets/xml/audio/soundfonts/Soundfont_7.xml
  assets/xml/audio/soundfonts/Soundfont_8.xml
  assets/xml/audio/soundfonts/Soundfont_9.xml
  tools/audio/extraction/audio_extract.py
  tools/audio/extraction/audio_tables.py
  tools/audio/extraction/audiobank_file.py
  tools/audio/extraction/audiobank_structs.py
  tools/audio/extraction/audiotable.py
  tools/audio/extraction/envelope.py
  tools/audio/extraction/tuning.py
  tools/audio/extraction/util.py
  tools/audio_extraction.py
Labels: Asset, Audio, Merge-ready

#1670 [Audio 2/?] Extract audio samples to wav
  assets/xml/audio/samplebanks/SampleBank_0.xml
  tools/Makefile
  tools/audio/Makefile
  tools/audio/extraction/audio_extract.py
  tools/audio/extraction/audiobank_file.py
  tools/audio/extraction/audiotable.py
  tools/audio/sampleconv/.clang-format
  tools/audio/sampleconv/.gitignore
  tools/audio/sampleconv/Makefile
  tools/audio/sampleconv/src/codec/codec.h
  tools/audio/sampleconv/src/codec/uncompressed.c
  tools/audio/sampleconv/src/codec/uncompressed.h
  tools/audio/sampleconv/src/codec/vadpcm.c
  tools/audio/sampleconv/src/codec/vadpcm.h
  tools/audio/sampleconv/src/codec/vadpcm_tabledesign.c
  tools/audio/sampleconv/src/container/aiff.c
  tools/audio/sampleconv/src/container/aiff.h
  tools/audio/sampleconv/src/container/container.c
  tools/audio/sampleconv/src/container/container.h
  tools/audio/sampleconv/src/container/wav.c
  tools/audio/sampleconv/src/container/wav.h
  tools/audio/sampleconv/src/main.c
  tools/audio/sampleconv/src/util.c
  tools/audio/sampleconv/src/util.h
Labels: Tooling, Audio, Merge-ready

#1671 [Audio 3/?] Set up building samples
  Makefile
Labels: Audio, Merge-ready

#1661 z_en_dinofos documented
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.c
  src/overlays/actors/ovl_En_Dinofos/z_en_dinofos.h
  tools/disasm/functions.txt
  tools/disasm/variables.txt
Labels: documentation, Merge-ready

#1673 Extract sFaultDrawerFont as blob
  assets/xml/boot/fault_drawer.xml
  src/boot/fault_drawer.c
Labels: boot, Merge-ready

#1672 [Audio 4/?] Build Samplebanks, match Audiotable
  Makefile
  README.md
  docs/BUILDING_MACOS.md
  spec
  tools/audio/.clang-format
  tools/audio/.gitignore
  tools/audio/Makefile
  tools/audio/aifc.c
  tools/audio/aifc.h
  tools/audio/samplebank.c
  tools/audio/samplebank.h
  tools/audio/samplebank_compiler.c
  tools/audio/util.c
  tools/audio/util.h
  tools/audio/xml.c
  tools/audio/xml.h
Labels: Audio, Merge-ready

#1674 [Audio 5/?] Build the Samplebank Table
  Makefile
  include/attributes.h
  include/audio/load.h
  include/variables.h
  linker_scripts/audio_table_rodata.ld
  linker_scripts/final/extra.ld
  linker_scripts/final/hardware_regs.ld
  linker_scripts/final/undefined_syms.ld
  spec
  src/audio/lib/heap.c
  src/audio/lib/load.c
  src/audio/tables/samplebank_table.c
  tools/audio/.gitignore
  tools/audio/Makefile
  tools/audio/audio_tablegen.c
  tools/disasm/files.txt
Labels: Audio, Merge-ready

#1675 [Audio 6/?] Build Soundfonts and the Soundfont Table
  Makefile
  include/attributes.h
  include/audio/soundfont.h
  include/audio/soundfont_file.h
  include/variables.h
  linker_scripts/soundfont.ld
  spec
  src/audio/lib/heap.c
  src/audio/lib/load.c
  src/audio/lib/playback.c
  src/audio/lib/seqplayer.c
  src/audio/lib/synthesis.c
  src/audio/lib/thread.c
  src/audio/tables/soundfont_table.c
  src/code/z_player_call.c
  tools/audio/.gitignore
  tools/audio/Makefile
  tools/audio/aifc.c
  tools/audio/aifc.h
  tools/audio/audio_tablegen.c
  tools/audio/elf32.h
  tools/audio/sampleconv/src/codec/vadpcm.c
  tools/audio/sampleconv/src/container/aiff.c
  tools/audio/sfpatch.c
  tools/audio/soundfont.c
  tools/audio/soundfont.h
  tools/audio/soundfont_compiler.c
  tools/warnings_count/warnings_build_current.txt
Labels: Audio, Needs-second-approval
